burglary-alert.json
[{"id":"6f1c973e.aecd98","type":"tab","label":"Burglary Alert","disabled":false,"info":""},{"id":"7c07b59a.2d453c","type":"realknx-in","z":"6f1c973e.aecd98","name":"BURGLARY ON","controller":"4a2e567c.a44be8","itemname":"Général - PANIQUE_ON","passthru":false,"booleanoutput":false,"outputatstartup":false,"x":120,"y":120,"wires":[["45137774.014de8","190b6db7.b95002","66581698.16ddd8","195339c9.d67256","11824bf8.6c7944"]]},{"id":"766df825.444f88","type":"realknx-out","z":"6f1c973e.aecd98","name":"","controller":"4a2e567c.a44be8","itemname":"Bedroom - Ceiling","topic":"","payload":"","booleaninput":true,"x":1250,"y":160,"wires":[]},{"id":"250280b.a76b28","type":"realknx-out","z":"6f1c973e.aecd98","name":"","controller":"4a2e567c.a44be8","itemname":"Living Room - Ceiling","topic":"","payload":"","booleaninput":true,"x":1260,"y":220,"wires":[]},{"id":"c995ef75.c79c9","type":"realknx-out","z":"6f1c973e.aecd98","name":"","controller":"4a2e567c.a44be8","itemname":"Kitchen - Ceiling","topic":"","payload":"","booleaninput":true,"x":1240,"y":280,"wires":[]},{"id":"d831de9b.a6c1f","type":"delay","z":"6f1c973e.aecd98","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":180,"wires":[["45137774.014de8"]]},{"id":"45137774.014de8","type":"trigger","z":"6f1c973e.aecd98","op1":"255","op2":"0","op1type":"num","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","name":"","x":660,"y":120,"wires":[["d831de9b.a6c1f","cca1394e.33e8c8","bfa0178b.7a5c68"]]},{"id":"aba64d86.c7ab8","type":"change","z":"6f1c973e.aecd98","name":"reset repeat timer","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":420,"wires":[["d831de9b.a6c1f","8d7f3d72.c306a","190b6db7.b95002","45137774.014de8","66581698.16ddd8","64e42c56.71e7a4","9eb3dbe7.bc3b08"]]},{"id":"be60a55c.0ac5d8","type":"inject","z":"6f1c973e.aecd98","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":440,"wires":[["aba64d86.c7ab8"]]},{"id":"f053644d.374c88","type":"inject","z":"6f1c973e.aecd98","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":180.00000381469727,"wires":[["45137774.014de8","190b6db7.b95002","66581698.16ddd8","11824bf8.6c7944"]]},{"id":"cca1394e.33e8c8","type":"debug","z":"6f1c973e.aecd98","name":"","active":false,"console":"false","complete":"false","x":890,"y":180,"wires":[]},{"id":"3eb5e747.923648","type":"googlehome-notify","z":"6f1c973e.aecd98","server":"95a2e6a5.054338","name":"GH-bedroom","x":1230,"y":420,"wires":[]},{"id":"190b6db7.b95002","type":"trigger","z":"6f1c973e.aecd98","op1":"Burglary detected, calling burglar guards!","op2":"Burglary detected, calling burglar guards!","op1type":"str","op2type":"str","duration":"7","extend":false,"units":"s","reset":"","name":"","x":660,"y":280,"wires":[["8d7f3d72.c306a","cca1394e.33e8c8","2e8bcd1b.e441f2"]]},{"id":"8d7f3d72.c306a","type":"delay","z":"6f1c973e.aecd98","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":340,"wires":[["190b6db7.b95002"]]},{"id":"f677d0ff.f9652","type":"status","z":"6f1c973e.aecd98","name":"","scope":["3eb5e747.923648"],"x":140,"y":680,"wires":[["a51ff38c.6a027","22e5ab3.fee9b54"]]},{"id":"a51ff38c.6a027","type":"debug","z":"6f1c973e.aecd98","name":"STATUS MSG","active":true,"console":"false","complete":"true","x":380,"y":680,"wires":[]},{"id":"5a967e60.8545","type":"comment","z":"6f1c973e.aecd98","name":"Error handling, restart NR if GH error CAUTION don't change","info":"","x":300,"y":640,"wires":[]},{"id":"9423bfba.80bdd","type":"http request","z":"6f1c973e.aecd98","name":"","method":"POST","ret":"txt","url":"http://localhost:3000/restartnoderedrequest","tls":"","x":490,"y":760,"wires":[[]]},{"id":"fdebee94.83f91","type":"inject","z":"6f1c973e.aecd98","name":"restart Node-RED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":760,"wires":[["9423bfba.80bdd"]]},{"id":"a618c586.5b2fa8","type":"delay","z":"6f1c973e.aecd98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":720,"wires":[["9423bfba.80bdd"]]},{"id":"22e5ab3.fee9b54","type":"switch","z":"6f1c973e.aecd98","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"cont","v":"ECONNRESET","vt":"str"},{"t":"cont","v":"socket hang up","vt":"str"}],"checkall":"true","outputs":2,"x":210,"y":720,"wires":[["a618c586.5b2fa8"],["a618c586.5b2fa8"]]},{"id":"6998433.720ebbc","type":"realknx-in","z":"6f1c973e.aecd98","name":"BURGLARY  OFF","controller":"4a2e567c.a44be8","itemname":"Général - PANIQUE_OFF","passthru":false,"booleanoutput":false,"outputatstartup":false,"x":120,"y":380,"wires":[["aba64d86.c7ab8","16683721.8cd779"]]},{"id":"6d52ba98.dd8284","type":"link in","z":"6f1c973e.aecd98","name":"lights-i","links":["bfa0178b.7a5c68"],"x":1055,"y":200,"wires":[["766df825.444f88","250280b.a76b28","c995ef75.c79c9"]]},{"id":"bfa0178b.7a5c68","type":"link out","z":"6f1c973e.aecd98","name":"lights-o","links":["6d52ba98.dd8284"],"x":855,"y":120,"wires":[]},{"id":"85361493.463058","type":"link in","z":"6f1c973e.aecd98","name":"GH-i","links":["2e8bcd1b.e441f2"],"x":1055,"y":420,"wires":[["3eb5e747.923648"]]},{"id":"2e8bcd1b.e441f2","type":"link out","z":"6f1c973e.aecd98","name":"GH-o","links":["85361493.463058"],"x":854.000036239624,"y":280.00000953674316,"wires":[]},{"id":"91c06831.20ce08","type":"comment","z":"6f1c973e.aecd98","name":"Google Home speakers","info":"","x":1260,"y":380,"wires":[]},{"id":"cf9aa4db.8a0c48","type":"comment","z":"6f1c973e.aecd98","name":"Lights to flash","info":"","x":1230,"y":120,"wires":[]},{"id":"4a172727.44f0f8","type":"better-sonos-queue","z":"6f1c973e.aecd98","confignode":"99e99896.4dcbd8","songuri":"https://proknx.com/download/dog.mp3","position":"next","positioninqueue":"","name":"","x":1250,"y":560,"wires":[[]]},{"id":"80179bf1.4c6ca8","type":"better-sonos-control","z":"6f1c973e.aecd98","confignode":"99e99896.4dcbd8","name":"Play","mode":"play","track":"","volume":"unmute","volume_value":"","x":1210,"y":680,"wires":[]},{"id":"23ac3a1d.c3e016","type":"comment","z":"6f1c973e.aecd98","name":"SONOS speakers","info":"","x":1250,"y":520,"wires":[]},{"id":"66581698.16ddd8","type":"trigger","z":"6f1c973e.aecd98","op1":"sonos fire","op2":"sonos fire","op1type":"str","op2type":"str","duration":"18","extend":false,"units":"s","reset":"","name":"","x":670,"y":440,"wires":[["64e42c56.71e7a4","37a858b3.fdf678"]]},{"id":"64e42c56.71e7a4","type":"delay","z":"6f1c973e.aecd98","name":"","pauseType":"delay","timeout":"18","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":500,"wires":[["66581698.16ddd8"]]},{"id":"37a858b3.fdf678","type":"link out","z":"6f1c973e.aecd98","name":"SONOS-ON-o","links":["4a238672.5052a8"],"x":855,"y":440,"wires":[]},{"id":"4a238672.5052a8","type":"link in","z":"6f1c973e.aecd98","name":"SONOS-ON-i","links":["37a858b3.fdf678"],"x":1055,"y":560,"wires":[["4a172727.44f0f8","80179bf1.4c6ca8","6a03c66c.032958"]]},{"id":"6a03c66c.032958","type":"better-sonos-control","z":"6f1c973e.aecd98","confignode":"99e99896.4dcbd8","name":"Set volume to X %","mode":"","track":"","volume":"volume","volume_value":"10","x":1250,"y":620,"wires":[]},{"id":"3a9dc46f.7550ec","type":"better-sonos-control","z":"6f1c973e.aecd98","confignode":"99e99896.4dcbd8","name":"Stop","mode":"stop","track":"","volume":"empty","volume_value":"","x":1210,"y":740,"wires":[]},{"id":"cef08bfb.c192b8","type":"comment","z":"6f1c973e.aecd98","name":"The dog.mp3 is 17 sec","info":"Give a short break before restarting it.","x":700,"y":400,"wires":[]},{"id":"9eb3dbe7.bc3b08","type":"link out","z":"6f1c973e.aecd98","name":"SONOS-OFF-o","links":["977e0d75.2a595"],"x":450.07984924316406,"y":519.0555801391602,"wires":[]},{"id":"977e0d75.2a595","type":"link in","z":"6f1c973e.aecd98","name":"SONOS-OFF-i","links":["9eb3dbe7.bc3b08"],"x":1054.073013305664,"y":739.8542251586914,"wires":[["3a9dc46f.7550ec"]]},{"id":"195339c9.d67256","type":"debug","z":"6f1c973e.aecd98","name":"BURGLARY ON","active":false,"console":"false","complete":"payload","x":320,"y":80,"wires":[]},{"id":"16683721.8cd779","type":"debug","z":"6f1c973e.aecd98","name":"BURGLARY OFF","active":false,"console":"false","complete":"payload","x":290,"y":340,"wires":[]},{"id":"8b6e609e.6957d","type":"comment","z":"6f1c973e.aecd98","name":"CHANGE!","info":"Change the text sent to Google Hme speaker(s).\nDo not shorten the 7sec timeout, each message should be \nfinished before starting a new.\nThe default message is : \"Burglary detected, calling burglar guards!","x":660,"y":240,"wires":[]},{"id":"11824bf8.6c7944","type":"trigger","z":"6f1c973e.aecd98","op1":"","op2":"stop alert","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","name":"","x":122.01737976074219,"y":302.01038455963135,"wires":[["aba64d86.c7ab8","16683721.8cd779"]]},{"id":"9cd03e77.719dd","type":"comment","z":"6f1c973e.aecd98","name":"Alarm off 2 min","info":"","x":177.0833282470703,"y":259.5521183013916,"wires":[]},{"id":"4a2e567c.a44be8","type":"realknx-controller","z":"","name":"realknx","host":"localhost","port":"3000"},{"id":"95a2e6a5.054338","type":"googlehome-config-node","z":"","ipaddress":"192.168.9.119","language":"en"},{"id":"99e99896.4dcbd8","type":"better-sonos-config","z":"","name":"Playbar","serialnum":"00-0E-58-BF-AC-45:A","ipaddress":""}][
    {
        "id": "6751c157.225e1",
        "type": "tab",
        "label": "Burglary Alert",
        "disabled": false,
        "info": ""
    },
    {
        "id": "848271a7.caa9",
        "type": "realknx-in",
        "z": "6751c157.225e1",
        "name": "BURGLARY ON",
        "controller": "7c393382.d11abc",
        "itemname": "Général - PANIQUE_ON",
        "passthru": false,
        "booleanoutput": false,
        "outputatstartup": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4eba4fa8.dbc8d",
                "114245e1.7f5bda",
                "9ef7565c.8c8f38",
                "cf706919.f728c8",
                "a8075312.81669"
            ]
        ]
    },
    {
        "id": "42a058ab.09f4f8",
        "type": "realknx-out",
        "z": "6751c157.225e1",
        "name": "",
        "controller": "7c393382.d11abc",
        "itemname": "Bedroom - Ceiling",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1250,
        "y": 160,
        "wires": []
    },
    {
        "id": "d86eccc5.e203e",
        "type": "realknx-out",
        "z": "6751c157.225e1",
        "name": "",
        "controller": "7c393382.d11abc",
        "itemname": "Living Room - Ceiling",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "c52a37a8.c22f98",
        "type": "realknx-out",
        "z": "6751c157.225e1",
        "name": "",
        "controller": "7c393382.d11abc",
        "itemname": "Kitchen - Ceiling",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1240,
        "y": 280,
        "wires": []
    },
    {
        "id": "469ce8b7.aaf948",
        "type": "delay",
        "z": "6751c157.225e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "4eba4fa8.dbc8d"
            ]
        ]
    },
    {
        "id": "4eba4fa8.dbc8d",
        "type": "trigger",
        "z": "6751c157.225e1",
        "op1": "255",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 660,
        "y": 120,
        "wires": [
            [
                "469ce8b7.aaf948",
                "a8d2b393.41f54",
                "3f4cde85.7b0ff2"
            ]
        ]
    },
    {
        "id": "9df1bc4c.09071",
        "type": "change",
        "z": "6751c157.225e1",
        "name": "reset repeat timer",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "469ce8b7.aaf948",
                "473f8fff.c2275",
                "114245e1.7f5bda",
                "4eba4fa8.dbc8d",
                "9ef7565c.8c8f38",
                "dc8f330a.2ad9a",
                "7b3b7e1e.b6c7b"
            ]
        ]
    },
    {
        "id": "3f275e16.bd8302",
        "type": "inject",
        "z": "6751c157.225e1",
        "name": "Stop",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "9df1bc4c.09071"
            ]
        ]
    },
    {
        "id": "35367be4.7822f4",
        "type": "inject",
        "z": "6751c157.225e1",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 107,
        "y": 180.00000381469727,
        "wires": [
            [
                "4eba4fa8.dbc8d",
                "114245e1.7f5bda",
                "9ef7565c.8c8f38",
                "a8075312.81669"
            ]
        ]
    },
    {
        "id": "a8d2b393.41f54",
        "type": "debug",
        "z": "6751c157.225e1",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7a2561c.153988",
        "type": "googlehome-notify",
        "z": "6751c157.225e1",
        "server": "bb398d35.f80c4",
        "name": "GH-bedroom",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "114245e1.7f5bda",
        "type": "trigger",
        "z": "6751c157.225e1",
        "op1": "Burglary detected, calling burglar guards!",
        "op2": "Burglary detected, calling burglar guards!",
        "op1type": "str",
        "op2type": "str",
        "duration": "7",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "473f8fff.c2275",
                "a8d2b393.41f54",
                "7dd225c9.f7446c"
            ]
        ]
    },
    {
        "id": "473f8fff.c2275",
        "type": "delay",
        "z": "6751c157.225e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "114245e1.7f5bda"
            ]
        ]
    },
    {
        "id": "f2eac36f.f1801",
        "type": "status",
        "z": "6751c157.225e1",
        "name": "",
        "scope": [
            "c7a2561c.153988"
        ],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "1ab956db.216379",
                "ddf7fcfe.a2695"
            ]
        ]
    },
    {
        "id": "1ab956db.216379",
        "type": "debug",
        "z": "6751c157.225e1",
        "name": "STATUS MSG",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 380,
        "y": 680,
        "wires": []
    },
    {
        "id": "f4527e32.9943e",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "Error handling, restart NR if GH error CAUTION don't change",
        "info": "",
        "x": 300,
        "y": 640,
        "wires": []
    },
    {
        "id": "c23401ee.123",
        "type": "http request",
        "z": "6751c157.225e1",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:3000/restartnoderedrequest",
        "tls": "",
        "x": 490,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ff7450a1.58681",
        "type": "inject",
        "z": "6751c157.225e1",
        "name": "restart Node-RED",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "c23401ee.123"
            ]
        ]
    },
    {
        "id": "5c4bf7bb.a94548",
        "type": "delay",
        "z": "6751c157.225e1",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 380,
        "y": 720,
        "wires": [
            [
                "c23401ee.123"
            ]
        ]
    },
    {
        "id": "ddf7fcfe.a2695",
        "type": "switch",
        "z": "6751c157.225e1",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ECONNRESET",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "socket hang up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "5c4bf7bb.a94548"
            ],
            [
                "5c4bf7bb.a94548"
            ]
        ]
    },
    {
        "id": "d9d4ded2.965ab",
        "type": "realknx-in",
        "z": "6751c157.225e1",
        "name": "BURGLARY  OFF",
        "controller": "7c393382.d11abc",
        "itemname": "Général - PANIQUE_OFF",
        "passthru": false,
        "booleanoutput": false,
        "outputatstartup": false,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "9df1bc4c.09071",
                "3d9fddcd.251f32"
            ]
        ]
    },
    {
        "id": "599d18bd.e3a718",
        "type": "link in",
        "z": "6751c157.225e1",
        "name": "lights-i",
        "links": [
            "3f4cde85.7b0ff2"
        ],
        "x": 1055,
        "y": 200,
        "wires": [
            [
                "42a058ab.09f4f8",
                "d86eccc5.e203e",
                "c52a37a8.c22f98"
            ]
        ]
    },
    {
        "id": "3f4cde85.7b0ff2",
        "type": "link out",
        "z": "6751c157.225e1",
        "name": "lights-o",
        "links": [
            "599d18bd.e3a718"
        ],
        "x": 855,
        "y": 120,
        "wires": []
    },
    {
        "id": "d6204c25.81f06",
        "type": "link in",
        "z": "6751c157.225e1",
        "name": "GH-i",
        "links": [
            "7dd225c9.f7446c"
        ],
        "x": 1055,
        "y": 420,
        "wires": [
            [
                "c7a2561c.153988"
            ]
        ]
    },
    {
        "id": "7dd225c9.f7446c",
        "type": "link out",
        "z": "6751c157.225e1",
        "name": "GH-o",
        "links": [
            "d6204c25.81f06"
        ],
        "x": 854.000036239624,
        "y": 280.00000953674316,
        "wires": []
    },
    {
        "id": "8cd75a30.d54928",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "Google Home speakers",
        "info": "",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "d84b3439.a9ea28",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "Lights to flash",
        "info": "",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f8a686e.2d6788",
        "type": "better-sonos-queue",
        "z": "6751c157.225e1",
        "confignode": "dbdf2bc1.0fe818",
        "songuri": "https://proknx.com/download/dog.mp3",
        "position": "next",
        "positioninqueue": "",
        "name": "",
        "x": 1250,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e80b96d.eebf768",
        "type": "better-sonos-control",
        "z": "6751c157.225e1",
        "confignode": "dbdf2bc1.0fe818",
        "name": "Play",
        "mode": "play",
        "track": "",
        "volume": "unmute",
        "volume_value": "",
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "468cd459.081f9c",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "SONOS speakers",
        "info": "",
        "x": 1250,
        "y": 520,
        "wires": []
    },
    {
        "id": "9ef7565c.8c8f38",
        "type": "trigger",
        "z": "6751c157.225e1",
        "op1": "sonos fire",
        "op2": "sonos fire",
        "op1type": "str",
        "op2type": "str",
        "duration": "18",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "dc8f330a.2ad9a",
                "47937c25.9e2c94"
            ]
        ]
    },
    {
        "id": "dc8f330a.2ad9a",
        "type": "delay",
        "z": "6751c157.225e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "18",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "9ef7565c.8c8f38"
            ]
        ]
    },
    {
        "id": "47937c25.9e2c94",
        "type": "link out",
        "z": "6751c157.225e1",
        "name": "SONOS-ON-o",
        "links": [
            "65505a33.415214"
        ],
        "x": 855,
        "y": 440,
        "wires": []
    },
    {
        "id": "65505a33.415214",
        "type": "link in",
        "z": "6751c157.225e1",
        "name": "SONOS-ON-i",
        "links": [
            "47937c25.9e2c94"
        ],
        "x": 1055,
        "y": 560,
        "wires": [
            [
                "9f8a686e.2d6788",
                "e80b96d.eebf768",
                "bd89413f.41ba4"
            ]
        ]
    },
    {
        "id": "bd89413f.41ba4",
        "type": "better-sonos-control",
        "z": "6751c157.225e1",
        "confignode": "dbdf2bc1.0fe818",
        "name": "Set volume to X %",
        "mode": "",
        "track": "",
        "volume": "volume",
        "volume_value": "10",
        "x": 1250,
        "y": 620,
        "wires": []
    },
    {
        "id": "60b2ddeb.9c1f84",
        "type": "better-sonos-control",
        "z": "6751c157.225e1",
        "confignode": "dbdf2bc1.0fe818",
        "name": "Stop",
        "mode": "stop",
        "track": "",
        "volume": "empty",
        "volume_value": "",
        "x": 1210,
        "y": 740,
        "wires": []
    },
    {
        "id": "aec87bef.f25098",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "The dog.mp3 is 17 sec",
        "info": "Give a short break before restarting it.",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b3b7e1e.b6c7b",
        "type": "link out",
        "z": "6751c157.225e1",
        "name": "SONOS-OFF-o",
        "links": [
            "b2e425c2.0cee28"
        ],
        "x": 450.07984924316406,
        "y": 519.0555801391602,
        "wires": []
    },
    {
        "id": "b2e425c2.0cee28",
        "type": "link in",
        "z": "6751c157.225e1",
        "name": "SONOS-OFF-i",
        "links": [
            "7b3b7e1e.b6c7b"
        ],
        "x": 1054.073013305664,
        "y": 739.8542251586914,
        "wires": [
            [
                "60b2ddeb.9c1f84"
            ]
        ]
    },
    {
        "id": "cf706919.f728c8",
        "type": "debug",
        "z": "6751c157.225e1",
        "name": "BURGLARY ON",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d9fddcd.251f32",
        "type": "debug",
        "z": "6751c157.225e1",
        "name": "BURGLARY OFF",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "548b1744.72ebf8",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "CHANGE!",
        "info": "Change the text sent to Google Hme speaker(s).\nDo not shorten the 7sec timeout, each message should be \nfinished before starting a new.\nThe default message is : \"Burglary detected, calling burglar guards!",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "a8075312.81669",
        "type": "trigger",
        "z": "6751c157.225e1",
        "op1": "",
        "op2": "stop alert",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 122.01737976074219,
        "y": 302.01038455963135,
        "wires": [
            [
                "9df1bc4c.09071",
                "3d9fddcd.251f32"
            ]
        ]
    },
    {
        "id": "949ed77f.e5d878",
        "type": "comment",
        "z": "6751c157.225e1",
        "name": "Alarm off 2 min",
        "info": "",
        "x": 177.0833282470703,
        "y": 259.5521183013916,
        "wires": []
    },
    {
        "id": "7c393382.d11abc",
        "type": "realknx-controller",
        "z": "",
        "name": "realknx",
        "host": "localhost",
        "port": "3000"
    },
    {
        "id": "bb398d35.f80c4",
        "type": "googlehome-config-node",
        "z": "",
        "ipaddress": "192.168.9.119",
        "language": "en"
    },
    {
        "id": "dbdf2bc1.0fe818",
        "type": "better-sonos-config",
        "z": "",
        "name": "Playbar",
        "serialnum": "00-0E-58-BF-AC-45:A",
        "ipaddress": ""
    }
]