burglary-protection.json
[
    {
        "id": "cd262b1a.7a3b68",
        "type": "tab",
        "label": "Burglary Protection System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa9b4892.7fb9f8",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "Alarm OUT",
        "links": [
            "311713df.49eab4",
            "202afc67.a243bc",
            "51a22f73.ef5b9"
        ],
        "x": 295,
        "y": 2000,
        "wires": []
    },
    {
        "id": "b133528e.fb65d",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "State?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 6,
        "x": 530,
        "y": 3300,
        "wires": [
            [
                "29e97661.0fdeaa"
            ],
            [
                "3e83d288.eb9c2e"
            ],
            [
                "444c7d40.628834"
            ],
            [
                "528e4180.8fecb"
            ],
            [
                "528e4180.8fecb"
            ],
            [
                "528e4180.8fecb"
            ]
        ]
    },
    {
        "id": "3e83d288.eb9c2e",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "transfer to Armed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "initarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 3280,
        "wires": [
            [
                "c78721e9.56c11"
            ]
        ]
    },
    {
        "id": "528e4180.8fecb",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "transfer to DisArmed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "initoff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 3360,
        "wires": [
            [
                "c78721e9.56c11"
            ]
        ]
    },
    {
        "id": "38be5faf.de74d",
        "type": "file in",
        "z": "cd262b1a.7a3b68",
        "name": "Read from file",
        "filename": "alarm-state.json",
        "format": "lines",
        "chunk": false,
        "sendError": true,
        "x": 220,
        "y": 3280,
        "wires": [
            [
                "36e31f0b.3efb2"
            ]
        ]
    },
    {
        "id": "a9adde77.6bb37",
        "type": "file",
        "z": "cd262b1a.7a3b68",
        "name": "Save to file",
        "filename": "alarm-state.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 210,
        "y": 3318,
        "wires": []
    },
    {
        "id": "dcf571d2.e606f",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Armed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EntryDelay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ExitDelay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "memoryalarm",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 6,
        "x": 210,
        "y": 1993,
        "wires": [
            [
                "5ab66eee.eb758"
            ],
            [
                "399b432e.7123cc"
            ],
            [
                "447ecca.c817e34"
            ],
            [
                "52f49cf8.5285e4",
                "aa9b4892.7fb9f8"
            ],
            [
                "689c7598.a4d35c"
            ],
            []
        ]
    },
    {
        "id": "bb451b1a.613598",
        "type": "googlehome-notify",
        "z": "cd262b1a.7a3b68",
        "server": "41f9008f.75bde",
        "name": "Bureau",
        "x": 857,
        "y": 1999,
        "wires": []
    },
    {
        "id": "5ab66eee.eb758",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "L'alarme est armée et votre maison est sous-surveillance.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 1916,
        "wires": [
            [
                "7ee7fc94.e8b4b4"
            ]
        ]
    },
    {
        "id": "399b432e.7123cc",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Délai d'entrée activé. Vous avez 20 Secondes pour désarmer l'alarme.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 453,
        "y": 1954,
        "wires": [
            [
                "7ee7fc94.e8b4b4"
            ]
        ]
    },
    {
        "id": "447ecca.c817e34",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Délai de sortie activé. Vous avez 20 Secondes pour quitter votre maison.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 452,
        "y": 1993,
        "wires": [
            [
                "7ee7fc94.e8b4b4"
            ]
        ]
    },
    {
        "id": "52f49cf8.5285e4",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarme en cours. Une société de sécurité vient d'etre prevenue, et vous êtes cernés par nos caméras de surveillance.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 454,
        "y": 2034,
        "wires": [
            [
                "7ee7fc94.e8b4b4"
            ]
        ]
    },
    {
        "id": "689c7598.a4d35c",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "L'alarme est désarmée et votre maison est tors-surveillance.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 2075,
        "wires": [
            [
                "7ee7fc94.e8b4b4"
            ]
        ]
    },
    {
        "id": "7ee7fc94.e8b4b4",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 668,
        "y": 1999,
        "wires": [
            [
                "bb451b1a.613598"
            ]
        ]
    },
    {
        "id": "d12cdc87.60c2b",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "KNX OUTPUT",
        "links": [
            "4fa15262.42da6c",
            "d07c76f.2ce8788"
        ],
        "x": 1095,
        "y": 803,
        "wires": []
    },
    {
        "id": "ff3b8752.585fb8",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Alarm System Armed (AUX)",
        "controller": "c7208987.910908",
        "itemname": "Général - AL_ARMED",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": false,
        "x": 188,
        "y": 521,
        "wires": [
            [
                "353c2bf1.4b7b64",
                "a292e0e.a11ef2"
            ]
        ]
    },
    {
        "id": "353c2bf1.4b7b64",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "turnon",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 737,
        "y": 482,
        "wires": [
            [
                "d12cdc87.60c2b",
                "608bc15d.52456"
            ]
        ]
    },
    {
        "id": "3d735e18.de5d82",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Dininf room - Door",
        "controller": "c7208987.910908",
        "itemname": "Salon - Porte",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 153,
        "y": 772,
        "wires": [
            [
                "1ad3c9a5.96f2c6"
            ]
        ]
    },
    {
        "id": "f5349a29.afeb48",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "entrydelaystart",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 844,
        "wires": [
            [
                "d12cdc87.60c2b",
                "c81e6024.94089"
            ]
        ]
    },
    {
        "id": "c81e6024.94089",
        "type": "trigger",
        "z": "cd262b1a.7a3b68",
        "op1": "",
        "op2": "entrydelayend",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "EntryDelay: 20 sec",
        "x": 730,
        "y": 879,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "e6086ee6.d083c",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Armed With a AUX-KNX or State Alarm ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "e96f808b.816de",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Detector with 20sec for exit-entry (Door) ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "3667fd.fee54804",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Home Cinema - Detector",
        "controller": "c7208987.910908",
        "itemname": "Home cinema - Detector",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 173,
        "y": 1012,
        "wires": [
            [
                "32d7f2f0.7f67ee"
            ]
        ]
    },
    {
        "id": "c9715e9e.011ea",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "pir",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 742,
        "y": 1098,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "93d82d8c.3e39b",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Detector for immediate Alarm ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 710,
        "y": 960,
        "wires": []
    },
    {
        "id": "c9158ffa.fad1f",
        "type": "trigger",
        "z": "cd262b1a.7a3b68",
        "op1": "",
        "op2": "memoryalarm",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "SirenDelay: 20 Sec",
        "x": 230,
        "y": 1320,
        "wires": [
            [
                "e583c8cc.77f888"
            ]
        ]
    },
    {
        "id": "2bddb824.95dca8",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ExitDelay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "EntryDelay",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 6,
        "x": 210,
        "y": 1740,
        "wires": [
            [
                "4d4db74a.109298"
            ],
            [
                "4d4db74a.109298"
            ],
            [
                "a102d07d.ca39f"
            ],
            [
                "a102d07d.ca39f"
            ],
            [
                "a102d07d.ca39f"
            ],
            []
        ]
    },
    {
        "id": "a102d07d.ca39f",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 1751,
        "wires": [
            [
                "6767e143.2b64d"
            ]
        ]
    },
    {
        "id": "4d4db74a.109298",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 455,
        "y": 1712,
        "wires": [
            [
                "6767e143.2b64d"
            ]
        ]
    },
    {
        "id": "608bc15d.52456",
        "type": "trigger",
        "z": "cd262b1a.7a3b68",
        "op1": "",
        "op2": "arm",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "ExitDelay: 20 sec",
        "x": 724,
        "y": 516,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "a292e0e.a11ef2",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "turnoff",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 734,
        "y": 584,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "efd32592.dba1f8",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "TurnOnKey",
        "topic": "",
        "payload": "turnon",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 694,
        "y": 550,
        "wires": [
            [
                "608bc15d.52456",
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "ce5b01eb.f037c",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "TurnOffKey",
        "topic": "",
        "payload": "turnoff",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 693,
        "y": 621,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "77594f4f.30b47",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "Exit-Entry door contact",
        "topic": "",
        "payload": "entrydelaystart",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 740,
        "y": 915,
        "wires": [
            [
                "d12cdc87.60c2b",
                "c81e6024.94089"
            ]
        ]
    },
    {
        "id": "7eefe074.ffcef",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "Motion detector",
        "topic": "",
        "payload": "pir",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 720,
        "y": 1134,
        "wires": [
            [
                "d12cdc87.60c2b"
            ]
        ]
    },
    {
        "id": "51a22f73.ef5b9",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "SirenDelay IN",
        "links": [
            "aa9b4892.7fb9f8",
            "8cbdbaf4.3fcf"
        ],
        "x": 75,
        "y": 1320,
        "wires": [
            [
                "c9158ffa.fad1f"
            ]
        ]
    },
    {
        "id": "15e9f589.8870ba",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 210,
        "y": 2240,
        "wires": [
            [
                "bf17dfd1.efcf8"
            ],
            [
                "43ee07a8.83eca8"
            ],
            [
                "43ee07a8.83eca8"
            ],
            []
        ]
    },
    {
        "id": "bf17dfd1.efcf8",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2221,
        "wires": [
            [
                "1c571ee4.0c95f1"
            ]
        ]
    },
    {
        "id": "43ee07a8.83eca8",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2261,
        "wires": [
            [
                "1c571ee4.0c95f1"
            ]
        ]
    },
    {
        "id": "5b88a060.173ad",
        "type": "realknx-out",
        "z": "cd262b1a.7a3b68",
        "name": "Kitchen - Ceiling",
        "controller": "c7208987.910908",
        "itemname": "Cuisine - Plafonnier",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 882,
        "y": 2245,
        "wires": []
    },
    {
        "id": "29e97661.0fdeaa",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "transfer to Armed&MemoryAlarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "initmemoryalarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 3240,
        "wires": [
            [
                "c78721e9.56c11"
            ]
        ]
    },
    {
        "id": "c78721e9.56c11",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "STATE OUTPUT",
        "links": [
            "4fa15262.42da6c",
            "d07c76f.2ce8788"
        ],
        "x": 975,
        "y": 3300,
        "wires": []
    },
    {
        "id": "444c7d40.628834",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "transfer to Alarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "initalarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 3320,
        "wires": [
            [
                "c78721e9.56c11"
            ]
        ]
    },
    {
        "id": "f9adb304.0d6c7",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "LED or BUZZER for Delay ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 660,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3a540cfc.91a894",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Voice Information ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 670,
        "y": 1860,
        "wires": []
    },
    {
        "id": "d0304b11.700518",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Siren for Alarm -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 680,
        "y": 2160,
        "wires": []
    },
    {
        "id": "f1989334.d2945",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Save & Get the State to/from file------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 670,
        "y": 3180,
        "wires": []
    },
    {
        "id": "1ad3c9a5.96f2c6",
        "type": "BooleanLogic",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "operation": "OR",
        "inputCount": "2",
        "topic": "result0",
        "x": 409,
        "y": 773,
        "wires": [
            [
                "eff52e92.f9578"
            ]
        ]
    },
    {
        "id": "32d7f2f0.7f67ee",
        "type": "BooleanLogic",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "operation": "OR",
        "inputCount": "2",
        "topic": "result1",
        "x": 410,
        "y": 1011,
        "wires": [
            [
                "d83f0bd3.fafd78"
            ]
        ]
    },
    {
        "id": "2745c826.064d18",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Living room - Detector",
        "controller": "c7208987.910908",
        "itemname": "Salle à manger - Detecteur",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 162,
        "y": 1063,
        "wires": [
            [
                "32d7f2f0.7f67ee"
            ]
        ]
    },
    {
        "id": "2887c7aa.126d38",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Living room - Door",
        "controller": "c7208987.910908",
        "itemname": "Living Room - Gate",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 152,
        "y": 823,
        "wires": [
            [
                "1ad3c9a5.96f2c6"
            ]
        ]
    },
    {
        "id": "3d3e8188.6dfa4e",
        "type": "realknx-in",
        "z": "cd262b1a.7a3b68",
        "name": "Alarm System Armed (state)",
        "controller": "c7208987.910908",
        "itemname": "Général - Armé",
        "passthru": false,
        "booleanoutput": true,
        "outputatstartup": false,
        "x": 188,
        "y": 581,
        "wires": [
            [
                "353c2bf1.4b7b64",
                "a292e0e.a11ef2"
            ]
        ]
    },
    {
        "id": "d1319180.32d84",
        "type": "pushbullet",
        "z": "cd262b1a.7a3b68",
        "config": "e92c1a49.9d1778",
        "pushtype": "note",
        "title": "Alarm System is Armed",
        "chan": "",
        "name": "",
        "x": 910,
        "y": 2440,
        "wires": []
    },
    {
        "id": "ffd541cb.0dce4",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Armed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 434,
        "y": 2486,
        "wires": [
            [
                "d1319180.32d84"
            ],
            [
                "1f14d811.473ad8"
            ],
            [
                "d36a908f.fc5a1"
            ],
            []
        ]
    },
    {
        "id": "1f14d811.473ad8",
        "type": "pushbullet",
        "z": "cd262b1a.7a3b68",
        "config": "e92c1a49.9d1778",
        "pushtype": "note",
        "title": "Alarm System is off",
        "chan": "",
        "name": "",
        "x": 890,
        "y": 2480,
        "wires": []
    },
    {
        "id": "d36a908f.fc5a1",
        "type": "pushbullet",
        "z": "cd262b1a.7a3b68",
        "config": "e92c1a49.9d1778",
        "pushtype": "note",
        "title": "Intrusion detected!",
        "chan": "",
        "name": "",
        "x": 890,
        "y": 2520,
        "wires": []
    },
    {
        "id": "86329562.a291c8",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 690,
        "y": 807,
        "wires": [
            [
                "f5349a29.afeb48"
            ],
            []
        ]
    },
    {
        "id": "4da6a8cc.d4cc48",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 690,
        "y": 1055,
        "wires": [
            [
                "c9715e9e.011ea"
            ],
            []
        ]
    },
    {
        "id": "6ce77ef3.71adb",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "PushNotification with PushBullet ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 670,
        "y": 2380,
        "wires": []
    },
    {
        "id": "c17bc337.36a62",
        "type": "better-sonos-control",
        "z": "cd262b1a.7a3b68",
        "confignode": "187f8fde.84259",
        "name": "Play",
        "mode": "play",
        "track": "",
        "volume": "unmute",
        "volume_value": "",
        "x": 1030,
        "y": 2772,
        "wires": []
    },
    {
        "id": "484ad310.f3d89c",
        "type": "better-sonos-control",
        "z": "cd262b1a.7a3b68",
        "confignode": "187f8fde.84259",
        "name": "Set volume to X %",
        "mode": "",
        "track": "",
        "volume": "volume",
        "volume_value": "30",
        "x": 1070,
        "y": 2728,
        "wires": []
    },
    {
        "id": "24e5aac4.ce87a6",
        "type": "better-sonos-control",
        "z": "cd262b1a.7a3b68",
        "confignode": "187f8fde.84259",
        "name": "Stop",
        "mode": "stop",
        "track": "",
        "volume": "empty",
        "volume_value": "",
        "x": 1031,
        "y": 2820,
        "wires": []
    },
    {
        "id": "8050a03e.c171f",
        "type": "better-sonos-queue",
        "z": "cd262b1a.7a3b68",
        "confignode": "187f8fde.84259",
        "songuri": "https://proknx.com/download/dog.mp3",
        "position": "next",
        "positioninqueue": "",
        "name": "",
        "x": 1070,
        "y": 2684,
        "wires": [
            []
        ]
    },
    {
        "id": "68f247de.47d7c8",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 2685,
        "wires": [
            [
                "8050a03e.c171f"
            ]
        ]
    },
    {
        "id": "e3be2d.1f8c91d",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 2729,
        "wires": [
            [
                "484ad310.f3d89c"
            ]
        ]
    },
    {
        "id": "a06f53ee.e2288",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 2772,
        "wires": [
            [
                "c17bc337.36a62"
            ]
        ]
    },
    {
        "id": "56035897.ce3898",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 431,
        "y": 2772,
        "wires": [
            [
                "89c397e6.d07768"
            ],
            [
                "285831f3.8d0dbe"
            ],
            [
                "285831f3.8d0dbe"
            ],
            []
        ]
    },
    {
        "id": "89c397e6.d07768",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 2747,
        "wires": [
            [
                "68f247de.47d7c8",
                "e3be2d.1f8c91d",
                "a06f53ee.e2288"
            ]
        ]
    },
    {
        "id": "285831f3.8d0dbe",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 2782,
        "wires": [
            [
                "24e5aac4.ce87a6"
            ]
        ]
    },
    {
        "id": "6220ff17.e7f63",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Play Dog on speaker when alarm --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 690,
        "y": 2640,
        "wires": []
    },
    {
        "id": "3ed6ac05.028124",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 3000,
        "wires": [
            [
                "1e83476e.3e6b09"
            ]
        ]
    },
    {
        "id": "1e83476e.3e6b09",
        "type": "trigger",
        "z": "cd262b1a.7a3b68",
        "op1": "255",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 740,
        "y": 2960,
        "wires": [
            [
                "3ed6ac05.028124",
                "11ef2fa6.6a01"
            ]
        ]
    },
    {
        "id": "a66e33f3.97e2c",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Alarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 370,
        "y": 2980,
        "wires": [
            [
                "87eb9e0a.0a1bb"
            ],
            [
                "29e8c29b.f0cbfe",
                "9dcf3aa8.269d48"
            ],
            [
                "29e8c29b.f0cbfe",
                "9dcf3aa8.269d48"
            ],
            []
        ]
    },
    {
        "id": "87eb9e0a.0a1bb",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2960,
        "wires": [
            [
                "1e83476e.3e6b09"
            ]
        ]
    },
    {
        "id": "29e8c29b.f0cbfe",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 3000,
        "wires": [
            [
                "1e83476e.3e6b09",
                "3ed6ac05.028124"
            ]
        ]
    },
    {
        "id": "a11a8804.f1df78",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Flashing light when alarm -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 670,
        "y": 2900,
        "wires": []
    },
    {
        "id": "9dcf3aa8.269d48",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 3039,
        "wires": [
            [
                "80a6bf02.09448"
            ]
        ]
    },
    {
        "id": "80a6bf02.09448",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 3040,
        "wires": [
            [
                "11ef2fa6.6a01"
            ]
        ]
    },
    {
        "id": "11ef2fa6.6a01",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 905,
        "y": 3005,
        "wires": [
            [
                "a7861bca.526838"
            ]
        ]
    },
    {
        "id": "a7861bca.526838",
        "type": "realknx-out",
        "z": "cd262b1a.7a3b68",
        "name": "Living room - Ceiling",
        "controller": "c7208987.910908",
        "itemname": "Salon - Plafonnier",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1076,
        "y": 3005,
        "wires": []
    },
    {
        "id": "88c25fd9.f7f5f",
        "type": "BooleanLogic",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "Detectorimmediatly",
        "x": 699,
        "y": 1010,
        "wires": [
            [
                "4da6a8cc.d4cc48"
            ]
        ]
    },
    {
        "id": "814900b8.1534",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Armed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Armed&MemoryAlarm",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DisArmed",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 4,
        "x": 210,
        "y": 1540,
        "wires": [
            [
                "a6e04cf5.a2e5b"
            ],
            [
                "a6e04cf5.a2e5b"
            ],
            [
                "28b58ab6.3214d6"
            ],
            []
        ]
    },
    {
        "id": "fc050bea.1a5ec8",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "LED or BUZZER for Delay----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 710,
        "y": 1470,
        "wires": []
    },
    {
        "id": "28b58ab6.3214d6",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1552,
        "wires": [
            [
                "a1a32702.6f29f8"
            ]
        ]
    },
    {
        "id": "a6e04cf5.a2e5b",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 458,
        "y": 1516,
        "wires": [
            [
                "58bb9c30.461274"
            ]
        ]
    },
    {
        "id": "b6c9378b.02f328",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "Armed/DisArmed IN",
        "links": [
            "3da1555.5ccfbaa",
            "b644fc9e.6d552"
        ],
        "x": 902,
        "y": 1531,
        "wires": []
    },
    {
        "id": "3da1555.5ccfbaa",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Armed/DisArmed OUT",
        "links": [
            "b6c9378b.02f328"
        ],
        "x": 563,
        "y": 1057,
        "wires": [
            [
                "88c25fd9.f7f5f"
            ]
        ]
    },
    {
        "id": "7a1728e.cd278d8",
        "type": "BooleanLogic",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "operation": "AND",
        "inputCount": 2,
        "topic": "Detector20sec",
        "x": 699,
        "y": 772,
        "wires": [
            [
                "86329562.a291c8"
            ]
        ]
    },
    {
        "id": "b644fc9e.6d552",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Armed/DisArmed OUT",
        "links": [
            "b6c9378b.02f328"
        ],
        "x": 563,
        "y": 819,
        "wires": [
            [
                "7a1728e.cd278d8"
            ]
        ]
    },
    {
        "id": "36e31f0b.3efb2",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 389,
        "y": 3300,
        "wires": [
            [
                "b133528e.fb65d"
            ]
        ]
    },
    {
        "id": "58bb9c30.461274",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 623,
        "y": 1516,
        "wires": [
            [
                "64052659.6af708"
            ]
        ]
    },
    {
        "id": "a1a32702.6f29f8",
        "type": "delay",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 623,
        "y": 1552,
        "wires": [
            [
                "64052659.6af708"
            ]
        ]
    },
    {
        "id": "64052659.6af708",
        "type": "change",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "armedornot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 786,
        "y": 1531,
        "wires": [
            [
                "b6c9378b.02f328"
            ]
        ]
    },
    {
        "id": "2c4044af.3117cc",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 733,
        "y": 3080,
        "wires": [
            [
                "11ef2fa6.6a01"
            ]
        ]
    },
    {
        "id": "d83f0bd3.fafd78",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 550,
        "y": 1011,
        "wires": [
            [
                "88c25fd9.f7f5f"
            ]
        ]
    },
    {
        "id": "1c571ee4.0c95f1",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 672,
        "y": 2248,
        "wires": [
            [
                "5b88a060.173ad"
            ]
        ]
    },
    {
        "id": "956d8566.c5f778",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 214,
        "y": 2486,
        "wires": [
            [
                "ffd541cb.0dce4"
            ]
        ]
    },
    {
        "id": "bc24cb82.24eb38",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 211,
        "y": 2772,
        "wires": [
            [
                "56035897.ce3898"
            ]
        ]
    },
    {
        "id": "3131b1e7.ea2bfe",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 211,
        "y": 2980,
        "wires": [
            [
                "a66e33f3.97e2c"
            ]
        ]
    },
    {
        "id": "2e87898f.894ed6",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 672,
        "y": 2288,
        "wires": [
            [
                "5b88a060.173ad"
            ]
        ]
    },
    {
        "id": "bbdb258f.cc2018",
        "type": "realknx-out",
        "z": "cd262b1a.7a3b68",
        "name": "Alarm LED",
        "controller": "c7208987.910908",
        "itemname": "Général - AL_LED",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 871,
        "y": 1729,
        "wires": []
    },
    {
        "id": "6767e143.2b64d",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 671,
        "y": 1729,
        "wires": [
            [
                "bbdb258f.cc2018"
            ]
        ]
    },
    {
        "id": "9c93f7df.88ff18",
        "type": "inject",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 671,
        "y": 1769,
        "wires": [
            [
                "bbdb258f.cc2018"
            ]
        ]
    },
    {
        "id": "eff52e92.f9578",
        "type": "rbe",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 550,
        "y": 772,
        "wires": [
            [
                "7a1728e.cd278d8"
            ]
        ]
    },
    {
        "id": "e583c8cc.77f888",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "KNX OUTPUT",
        "links": [
            "4fa15262.42da6c",
            "d07c76f.2ce8788"
        ],
        "x": 375,
        "y": 1320,
        "wires": []
    },
    {
        "id": "de40e64d.0bce18",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "Delay for Alarm: At the End of this delay --> Armed&MemoryAlarm",
        "info": "",
        "x": 300,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f58ddbfd.7c72b8",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "------------------------------------------------------------------------------------------------------------------------> OUTPUT <-----------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 690,
        "y": 1410,
        "wires": []
    },
    {
        "id": "2d2ad42a.d98d9c",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "------------------------------------------------------------------------------------------------------------------------> INPUT <------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "501c140c.56cfac",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "------------------------------------------------------------------------------------------------------------------------> PARAMETERS <-------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 710,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a345659.6c61f98",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 81,
        "y": 1540,
        "wires": [
            [
                "814900b8.1534"
            ]
        ]
    },
    {
        "id": "90f0d264.908f6",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 78,
        "y": 1740,
        "wires": [
            [
                "2bddb824.95dca8"
            ]
        ]
    },
    {
        "id": "d3deeab7.6aab58",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 76,
        "y": 1992,
        "wires": [
            [
                "dcf571d2.e606f"
            ]
        ]
    },
    {
        "id": "d415101e.110bc",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 79,
        "y": 2238,
        "wires": [
            [
                "15e9f589.8870ba"
            ]
        ]
    },
    {
        "id": "9881cc09.5101",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 81,
        "y": 2485,
        "wires": [
            [
                "956d8566.c5f778"
            ]
        ]
    },
    {
        "id": "7f89096a.820ba8",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 78,
        "y": 2772,
        "wires": [
            [
                "bc24cb82.24eb38"
            ]
        ]
    },
    {
        "id": "ff6debcd.ce0c38",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 78,
        "y": 2980,
        "wires": [
            [
                "3131b1e7.ea2bfe"
            ]
        ]
    },
    {
        "id": "4126207d.0bbee",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "442908d5.12b238",
            "382e94fc.83f14c"
        ],
        "x": 78,
        "y": 3318,
        "wires": [
            [
                "a9adde77.6bb37"
            ]
        ]
    },
    {
        "id": "f7876383.0a0ca",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "Input (statemachine) fort OUTPUT",
        "links": [
            "d8387b29.ff7048",
            "86faa007.d250f"
        ],
        "x": 78,
        "y": 3280,
        "wires": [
            [
                "38be5faf.de74d"
            ]
        ]
    },
    {
        "id": "d07c76f.2ce8788",
        "type": "link in",
        "z": "cd262b1a.7a3b68",
        "name": "State Machine INPUT",
        "links": [
            "e583c8cc.77f888",
            "d12cdc87.60c2b",
            "c78721e9.56c11"
        ],
        "x": 543,
        "y": 221,
        "wires": [
            [
                "e16ce7ae.966d68"
            ]
        ]
    },
    {
        "id": "e16ce7ae.966d68",
        "type": "state-machine",
        "z": "cd262b1a.7a3b68",
        "name": "State Machine",
        "triggerProperty": "payload",
        "triggerPropertyType": "msg",
        "stateProperty": "payload",
        "statePropertyType": "msg",
        "states": [
            "init",
            "DisArmed",
            "ExitDelay",
            "Armed",
            "Alarm",
            "EntryDelay",
            "Armed&MemoryAlarm"
        ],
        "transitions": [
            {
                "name": "turnon",
                "from": "DisArmed",
                "to": "ExitDelay"
            },
            {
                "name": "turnoff",
                "from": "ExitDelay",
                "to": "DisArmed"
            },
            {
                "name": "turnoff",
                "from": "EntryDelay",
                "to": "DisArmed"
            },
            {
                "name": "turnoff",
                "from": "Armed",
                "to": "DisArmed"
            },
            {
                "name": "turnoff",
                "from": "Armed&MemoryAlarm",
                "to": "DisArmed"
            },
            {
                "name": "arm",
                "from": "ExitDelay",
                "to": "Armed"
            },
            {
                "name": "entrydelaystart",
                "from": "Armed",
                "to": "EntryDelay"
            },
            {
                "name": "entrydelaystart",
                "from": "Armed&MemoryAlarm",
                "to": "EntryDelay"
            },
            {
                "name": "entrydelayend",
                "from": "EntryDelay",
                "to": "Alarm"
            },
            {
                "name": "pir",
                "from": "Armed",
                "to": "Alarm"
            },
            {
                "name": "pir",
                "from": "ExitDelay",
                "to": "Alarm"
            },
            {
                "name": "pir",
                "from": "Armed&MemoryAlarm",
                "to": "Alarm"
            },
            {
                "name": "turnoff",
                "from": "Alarm",
                "to": "DisArmed"
            },
            {
                "name": "initoff",
                "from": "init",
                "to": "DisArmed"
            },
            {
                "name": "initarmed",
                "from": "init",
                "to": "Armed"
            },
            {
                "name": "initalarm",
                "from": "init",
                "to": "Alarm"
            },
            {
                "name": "initmemoryalarm",
                "from": "init",
                "to": "Armed&MemoryAlarm"
            },
            {
                "name": "memoryalarm",
                "from": "Alarm",
                "to": "Armed&MemoryAlarm"
            }
        ],
        "x": 654,
        "y": 221,
        "wires": [
            [
                "9829e1ea.4100e"
            ]
        ]
    },
    {
        "id": "9829e1ea.4100e",
        "type": "switch",
        "z": "cd262b1a.7a3b68",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 798,
        "y": 221,
        "wires": [
            [
                "86faa007.d250f"
            ],
            [
                "382e94fc.83f14c"
            ]
        ]
    },
    {
        "id": "382e94fc.83f14c",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "State Machine OUTPUT ",
        "links": [
            "a345659.6c61f98",
            "90f0d264.908f6",
            "d3deeab7.6aab58",
            "d415101e.110bc",
            "9881cc09.5101",
            "7f89096a.820ba8",
            "ff6debcd.ce0c38",
            "4126207d.0bbee"
        ],
        "x": 892,
        "y": 239,
        "wires": []
    },
    {
        "id": "86faa007.d250f",
        "type": "link out",
        "z": "cd262b1a.7a3b68",
        "name": "State Machine OUTPUT \"init\"",
        "links": [
            "f7876383.0a0ca"
        ],
        "x": 892,
        "y": 202,
        "wires": []
    },
    {
        "id": "db9c2c94.62373",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "CORE: DO NOT CHANGE",
        "info": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "ab8243c3.f294b",
        "type": "comment",
        "z": "cd262b1a.7a3b68",
        "name": "NOTE! The Burglary Protection system doesn't replace an alarm system but is a complement. ProKNX cannot be held responsible in case of malfunction.",
        "info": "",
        "x": 650,
        "y": 90,
        "wires": []
    },
    {
        "id": "41f9008f.75bde",
        "type": "googlehome-config-node",
        "z": "",
        "ipaddress": "192.168.9.119",
        "language": "fr"
    },
    {
        "id": "c7208987.910908",
        "type": "realknx-controller",
        "z": "",
        "name": "realknx-ctrl",
        "host": "localhost",
        "port": "3000"
    },
    {
        "id": "e92c1a49.9d1778",
        "type": "pushbullet-config",
        "z": "",
        "name": "Gmail"
    },
    {
        "id": "187f8fde.84259",
        "type": "better-sonos-config",
        "z": "",
        "name": "Sonos Salon",
        "serialnum": "00-0E-58-8A-FC-F0:4",
        "ipaddress": ""
    }
]