emergency-update.json
[
    {
        "id": "878344b9.655b88",
        "type": "tab",
        "label": "Emergency update for v.4.6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5236aa72.5ffaf4",
        "type": "inject",
        "z": "878344b9.655b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 115,
        "y": 85,
        "wires": [
            [
                "687636ef.97b65"
            ]
        ],
        "l": false
    },
    {
        "id": "687636ef.97b65",
        "type": "delay",
        "z": "878344b9.655b88",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 240,
        "y": 85,
        "wires": [
            [
                "99585513.2b5cb"
            ]
        ]
    },
    {
        "id": "69e8f524.11a364",
        "type": "comment",
        "z": "878344b9.655b88",
        "name": "Only run this flow once",
        "info": "",
        "x": 200,
        "y": 45,
        "wires": []
    },
    {
        "id": "99585513.2b5cb",
        "type": "exec",
        "z": "878344b9.655b88",
        "command": "rm",
        "addpay": false,
        "append": "-f  /opt/realknx/logs/realknx.stdout",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "41e2ed13.5b98a4"
            ],
            [
                "423dda01.8d4fc4"
            ],
            [
                "7eee64b7.b43bcc",
                "f573f38a.8375f8"
            ]
        ],
        "l": false
    },
    {
        "id": "7eee64b7.b43bcc",
        "type": "exec",
        "z": "878344b9.655b88",
        "command": "apt-get",
        "addpay": false,
        "append": "update --fix-missing",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "b20cad9d.6ae1f"
            ],
            [
                "43174bf.d6dd5b4"
            ],
            [
                "5d823a3c.4da15c",
                "81ae6f19.dc4d7"
            ]
        ],
        "l": false
    },
    {
        "id": "5d823a3c.4da15c",
        "type": "exec",
        "z": "878344b9.655b88",
        "command": "apt-get ",
        "addpay": false,
        "append": "install --only-upgrade realknx",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 195,
        "wires": [
            [
                "1c5c468c.fc18a1"
            ],
            [
                "692025a.2f0bfdc"
            ],
            [
                "b734532a.cd5f5"
            ]
        ],
        "l": false
    },
    {
        "id": "41e2ed13.5b98a4",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 270,
        "wires": [],
        "l": false
    },
    {
        "id": "423dda01.8d4fc4",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 310,
        "wires": [],
        "l": false
    },
    {
        "id": "f573f38a.8375f8",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 350,
        "wires": [],
        "l": false
    },
    {
        "id": "b20cad9d.6ae1f",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 270,
        "wires": [],
        "l": false
    },
    {
        "id": "43174bf.d6dd5b4",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 310,
        "wires": [],
        "l": false
    },
    {
        "id": "81ae6f19.dc4d7",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 350,
        "wires": [],
        "l": false
    },
    {
        "id": "1c5c468c.fc18a1",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 270,
        "wires": [],
        "l": false
    },
    {
        "id": "692025a.2f0bfdc",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 310,
        "wires": [],
        "l": false
    },
    {
        "id": "b734532a.cd5f5",
        "type": "debug",
        "z": "878344b9.655b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 350,
        "wires": [],
        "l": false
    },
    {
        "id": "adc97d58.bfd3",
        "type": "comment",
        "z": "878344b9.655b88",
        "name": "Documentation ",
        "info": "v.2021-22-12 Updated doc\nv.2021-22-11 Added\n\nThis flow will update an existing installation to 4.6.40\n\nIf your system is older than v4.6 (v3.3-v4.5) use the Emergency-workaround flow:\n\n[https://raw.githubusercontent.com/proknx/node-red-lib/master/emergency-workaround.json](https://raw.githubusercontent.com/proknx/node-red-lib/master/emergency-workaround.json)",
        "x": 435,
        "y": 45,
        "wires": []
    }
]