generic-gateway-knx.json
[
    {
        "id": "b0122510.beba38",
        "type": "comment",
        "z": "1ab1f00a.7863d",
        "name": "======= KNX COMMUNICATION MODULE ========",
        "info": "# Exemple implementation of the Gateway Communication Module.\nThere are two parts, hence two handlers\n 1. Generic Query - to GET the value\n 2. Generic Command - absolute SET and realtive SET value (increase/decrease)\n\n## Generic Query\nThis handler is called when the Snips application needs to get the current value of a device (temperature, brightness, shutters position, sensors etc)\nIt receives an array of commands.\n\n# Generic command\nThis handler is called to get the current value of the device (on,off,decrease,set etc)\nThe link in node of the generic command is also connected to Snips application. It receive \ncommands of devices as input. It could be one command or an array of commands at a time.\n\n# Return\ntrue is when the server repond correctly, otherwise, Result is false ",
        "x": 1520,
        "y": 920,
        "wires": []
    },
    {
        "id": "5a3eb652.6631f8",
        "type": "comment",
        "z": "1ab1f00a.7863d",
        "name": "GATEWAY DESCRIPTION FILE",
        "info": "",
        "x": 1450,
        "y": 821,
        "wires": []
    },
    {
        "id": "b285beb1.a02c2",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "Inject description file - raw KNX",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Ceiling\",\"functionType\":\"lights\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Ceiling\",\"functionType\":\"dimmers\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Shutter\",\"functionType\":\"blinds\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Total Power\",\"functionType\":\"sensor\",\"zone\":\"Home Cinema\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Speaker\",\"functionType\":\"aux\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "aaa57840.e3f848"
            ]
        ]
    },
    {
        "id": "2f62cf90.84036",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "French version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Plafonnier\",\"functionType\":\"lights\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Plafonnier\",\"functionType\":\"dimmers\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Volet\",\"functionType\":\"blinds\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energie totale\",\"functionType\":\"sensor\",\"zone\":\"Salle à manger\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Haut-parleur\",\"functionType\":\"aux\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1720,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a580bc71.2986a",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "German version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Decke\",\"functionType\":\"lights\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Decke\",\"functionType\":\"dimmers\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Tisch\",\"functionType\":\"lights\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Rollladen\",\"functionType\":\"blinds\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"\",\"functionType\":\"heating\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energieverbrauch\",\"functionType\":\"sensor\",\"zone\":\"Heimkino\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Lautsprecher\",\"functionType\":\"aux\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1720,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "aaa57840.e3f848",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "gatewayName",
        "rules": [
            {
                "t": "set",
                "p": "gatewayName",
                "pt": "global",
                "to": "knxTunnel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e6f983d3.d1873",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "Inject description file - raw KNX",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Ceiling\",\"functionType\":\"lights\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Ceiling\",\"functionType\":\"dimmers\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Shutter\",\"functionType\":\"blinds\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Total Power\",\"functionType\":\"sensor\",\"zone\":\"Home Cinema\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Speaker\",\"functionType\":\"aux\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1470,
        "y": 860,
        "wires": [
            [
                "2fe2bfae.ace7d"
            ]
        ]
    },
    {
        "id": "71dfc27b.94602c",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "French version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Plafonnier\",\"functionType\":\"lights\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Plafonnier\",\"functionType\":\"dimmers\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Volet\",\"functionType\":\"blinds\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energie totale\",\"functionType\":\"sensor\",\"zone\":\"Salle à manger\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Haut-parleur\",\"functionType\":\"aux\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1720,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "88d36440.6208c8",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "German version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Decke\",\"functionType\":\"lights\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Decke\",\"functionType\":\"dimmers\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Tisch\",\"functionType\":\"lights\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Rollladen\",\"functionType\":\"blinds\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"\",\"functionType\":\"heating\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energieverbrauch\",\"functionType\":\"sensor\",\"zone\":\"Heimkino\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Lautsprecher\",\"functionType\":\"aux\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1720,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe2bfae.ace7d",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "gatewayName",
        "rules": [
            {
                "t": "set",
                "p": "gatewayName",
                "pt": "global",
                "to": "knxTunnel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "d69994e3.79a028",
        "type": "knxUltimate",
        "z": "1ab1f00a.7863d",
        "server": "c2ba4746.5f757",
        "topic": "",
        "dpt": "1.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": false,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": true,
        "name": "knx",
        "outputtype": "write",
        "outputRBE": false,
        "inputRBE": false,
        "x": 1810,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "53b9ed56.31bb34",
        "type": "inject",
        "z": "1ab1f00a.7863d",
        "name": "Init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 1410,
        "y": 1240,
        "wires": [
            [
                "b511ac60.ae1cf"
            ]
        ]
    },
    {
        "id": "b511ac60.ae1cf",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "**IP Address for KNX Gateway**",
        "rules": [
            {
                "t": "set",
                "p": "setGatewayConfig.IP",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "setGatewayConfig.Port",
                "pt": "msg",
                "to": "3671",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 1240,
        "wires": [
            [
                "d69994e3.79a028"
            ]
        ]
    },
    {
        "id": "7131b92f.c1e508",
        "type": "function",
        "z": "1ab1f00a.7863d",
        "name": "Respose",
        "func": "//From the server respond, put it in this format\n//For more than one devices\n//\n//\n        // [{\n        //     \"Data\" : [{            \n        //         \"Value\" : 100,\n        //         \"uid\" : \"\" \n        //     }],\n        //     \"Result\":true\n        // },\n        // {\n        //     \"Data\" : [{            \n        //         \"Value\" : 50,\n        //         \"type\" : \"\"\n        //     }],\n        //     \"Result\":true\n        // }] \n        \nmsg.states = [];\nfor(var i = 0 ; i < msg.payload.length ; i++){\n        msg.states[i] = { \n            \"Data\" : [{\n                \"Value\" : msg.payload[i]\n            }]\n        };\n        if(msg.states[i].Data[0].Value !== undefined){\n            msg.states[i].Result=true;\n        }else{\n            msg.states[i].Result=false;\n        }\n}\n\nmsg.payload=msg.states;\ndelete msg.states;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2100,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8b588c9f.669f2",
        "type": "function",
        "z": "1ab1f00a.7863d",
        "name": "Response",
        "func": "msg.payload = [];\nmsg.payload[0] = {\"Result\" : true};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1860,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c9630066.4b2e8",
        "type": "knxUltimate",
        "z": "1ab1f00a.7863d",
        "server": "c2ba4746.5f757",
        "topic": "",
        "dpt": "1.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": false,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": true,
        "name": "knx",
        "outputtype": "write",
        "outputRBE": false,
        "inputRBE": false,
        "x": 1830,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "ccbfcb1d.3c0dc8",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "prep",
        "rules": [
            {
                "t": "set",
                "p": "dpt",
                "pt": "msg",
                "to": "payload.dpt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "destination",
                "pt": "msg",
                "to": "payload.destination",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 1140,
        "wires": [
            [
                "8b588c9f.669f2",
                "c9630066.4b2e8"
            ]
        ]
    },
    {
        "id": "a82bb75c.46d238",
        "type": "function",
        "z": "1ab1f00a.7863d",
        "name": "Write",
        "func": "msg.device = msg.payload;\nmsg.payload =[];\nfor(var i = 0; i < msg.device.length ; i++){\n    msg.payload[i] ={\n        \"destination\": msg.device[i].destination,\n        \"dpt\": msg.device[i].dpt,\n        \"value\": msg.device[i].value\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 1140,
        "wires": [
            [
                "c0dba948.def328"
            ]
        ]
    },
    {
        "id": "c0dba948.def328",
        "type": "split",
        "z": "1ab1f00a.7863d",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1550,
        "y": 1140,
        "wires": [
            [
                "ccbfcb1d.3c0dc8"
            ]
        ]
    },
    {
        "id": "7278d035.9f7c",
        "type": "knxUltimate",
        "z": "1ab1f00a.7863d",
        "server": "c2ba4746.5f757",
        "topic": "",
        "dpt": "1.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": false,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": true,
        "name": "knx",
        "outputtype": "write",
        "outputRBE": false,
        "inputRBE": false,
        "x": 1650,
        "y": 1060,
        "wires": [
            [
                "7d67d065.75481"
            ]
        ]
    },
    {
        "id": "39bb6b16.f6dad4",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": " prep",
        "rules": [
            {
                "t": "set",
                "p": "dpt",
                "pt": "msg",
                "to": "payload.dpt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "destination",
                "pt": "msg",
                "to": "payload.destination",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "readstatus",
                "pt": "msg",
                "to": "payload.readstatus",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 1040,
        "wires": [
            [
                "7278d035.9f7c",
                "92978abe.2fd1c8"
            ]
        ]
    },
    {
        "id": "a882f1c6.da5b2",
        "type": "function",
        "z": "1ab1f00a.7863d",
        "name": "Query",
        "func": "msg.device = msg.payload;\nmsg.payload = [];\nfor(var i = 0; i < msg.device.length ; i++){\n    msg.payload[i] ={\n        \"destination\": msg.device[i].destination,\n        \"dpt\": msg.device[i].dpt,\n        \"readstatus\" : true\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 980,
        "wires": [
            [
                "674db1ed.81796"
            ]
        ]
    },
    {
        "id": "674db1ed.81796",
        "type": "split",
        "z": "1ab1f00a.7863d",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1550,
        "y": 960,
        "wires": [
            [
                "39bb6b16.f6dad4"
            ]
        ]
    },
    {
        "id": "fe0fa863.830fb8",
        "type": "join",
        "z": "1ab1f00a.7863d",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2010,
        "y": 960,
        "wires": [
            [
                "7131b92f.c1e508"
            ]
        ]
    },
    {
        "id": "b1110850.f5a978",
        "type": "join-wait",
        "z": "1ab1f00a.7863d",
        "name": "",
        "paths": "[\"path_1\", \"path_2\"]",
        "pathsToExpire": "",
        "ignoreUnmatched": true,
        "pathTopic": "paths",
        "pathTopicType": "msg",
        "correlationTopic": "correlation",
        "correlationTopicType": "msg",
        "timeout": "2000",
        "timeoutUnits": 1,
        "exactOrder": "false",
        "firstMsg": "true",
        "mapPayload": "true",
        "disableComplete": false,
        "x": 1840,
        "y": 960,
        "wires": [
            [
                "da383e6b.b5ee9"
            ],
            []
        ]
    },
    {
        "id": "7d67d065.75481",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "path_2",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "path_2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "correlation",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 1060,
        "wires": [
            [
                "b1110850.f5a978"
            ]
        ]
    },
    {
        "id": "92978abe.2fd1c8",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "path_1",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "path_1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "correlation",
                "pt": "msg",
                "to": "destination",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 1020,
        "wires": [
            [
                "b1110850.f5a978"
            ]
        ]
    },
    {
        "id": "da383e6b.b5ee9",
        "type": "change",
        "z": "1ab1f00a.7863d",
        "name": "result",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "paths.path_2",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "paths",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "correlation",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "readstatus",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "dpt",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "destination",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1930,
        "y": 1000,
        "wires": [
            [
                "fe0fa863.830fb8"
            ]
        ]
    },
    {
        "id": "c2ba4746.5f757",
        "type": "knxUltimate-config",
        "z": "",
        "host": "",
        "port": "",
        "physAddr": "",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": false,
        "statusDisplayDeviceNameWhenALL": false,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop"
    }
]