generic-gateway-knx.json
[
    {
        "id": "4c28bfb9.76a1",
        "type": "file",
        "z": "9ac2e8fc.77156",
        "name": "Save to file",
        "filename": "gatewayDescriptionFile.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1850,
        "y": 320,
        "wires": [
            [
                "330b452d.6499fa"
            ]
        ]
    },
    {
        "id": "246a06f4.220dfa",
        "type": "comment",
        "z": "9ac2e8fc.77156",
        "name": "======= KNX COMMUNICATION MODULE ========",
        "info": "# Exemple implementation of the Gateway Communication Module.\nThere are two parts, hence two handlers\n 1. Generic Query - to GET the value\n 2. Generic Command - absolute SET and realtive SET value (increase/decrease)\n\n## Generic Query\nThis handler is called when the Snips application needs to get the current value of a device (temperature, brightness, shutters position, sensors etc)\nIt receives an array of commands.\n\n# Generic command\nThis handler is called to get the current value of the device (on,off,decrease,set etc)\nThe link in node of the generic command is also connected to Snips application. It receive \ncommands of devices as input. It could be one command or an array of commands at a time.\n\n# Return\ntrue is when the server repond correctly, otherwise, Result is false ",
        "x": 1360,
        "y": 380,
        "wires": []
    },
    {
        "id": "fcaf8b1a.fe9458",
        "type": "function",
        "z": "9ac2e8fc.77156",
        "name": "Respose",
        "func": "//From the server respond, put it in this format\n//For more than one devices\n//\n//\n        // [{\n        //     \"Data\" : [{            \n        //         \"Value\" : 100,\n        //         \"uid\" : \"\" \n        //     }],\n        //     \"Result\":true\n        // },\n        // {\n        //     \"Data\" : [{            \n        //         \"Value\" : 50,\n        //         \"type\" : \"\"\n        //     }],\n        //     \"Result\":true\n        // }] \n        \nmsg.states = [];\nfor(var i = 0 ; i < msg.payload.length ; i++){\n        msg.states[i] = { \n            \"Data\" : [{\n                \"Value\" : msg.payload[i]\n            }]\n        };\n        if(msg.states[i].Data[0].Value !== undefined){\n            msg.states[i].Result=true;\n        }else{\n            msg.states[i].Result=false;\n        }\n}\n\nmsg.payload=msg.states;\ndelete msg.states;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 480,
        "wires": [
            [
                "9308b9a3.427b48"
            ]
        ]
    },
    {
        "id": "2628fa8d.c5b42e",
        "type": "function",
        "z": "9ac2e8fc.77156",
        "name": "Response",
        "func": "msg.payload = [];\nmsg.payload[0] = {\"Result\" : true};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1710,
        "y": 580,
        "wires": [
            [
                "86938d9d.775698"
            ]
        ]
    },
    {
        "id": "deac2fa6.a35c98",
        "type": "knxUltimate",
        "z": "9ac2e8fc.77156",
        "server": "f9bcc8a9.57e89",
        "topic": "",
        "dpt": "1.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": false,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": true,
        "name": "knx",
        "outputtype": "write",
        "outputRBE": false,
        "inputRBE": false,
        "x": 1670,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3384391a.41a266",
        "type": "inject",
        "z": "9ac2e8fc.77156",
        "name": "Inject description file - raw KNX",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Ceiling\",\"functionType\":\"lights\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Ceiling\",\"functionType\":\"dimmers\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Shutter\",\"functionType\":\"blinds\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Home Cinema\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Total Power\",\"functionType\":\"sensor\",\"zone\":\"Home Cinema\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Speaker\",\"functionType\":\"aux\",\"zone\":\"Bedroom\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1310,
        "y": 320,
        "wires": [
            [
                "4c28bfb9.76a1"
            ]
        ]
    },
    {
        "id": "b69f629c.c3d58",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "prep",
        "rules": [
            {
                "t": "set",
                "p": "dpt",
                "pt": "msg",
                "to": "payload.dpt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "destination",
                "pt": "msg",
                "to": "payload.destination",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 600,
        "wires": [
            [
                "2628fa8d.c5b42e",
                "deac2fa6.a35c98"
            ]
        ]
    },
    {
        "id": "14780ee5.5bdad9",
        "type": "function",
        "z": "9ac2e8fc.77156",
        "name": "Write",
        "func": "msg.device = msg.payload;\nmsg.payload =[];\nfor(var i = 0; i < msg.device.length ; i++){\n    msg.payload[i] ={\n        \"destination\": msg.device[i].destination,\n        \"dpt\": msg.device[i].dpt,\n        \"value\": msg.device[i].value\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "2cd2f4e2.787954"
            ]
        ]
    },
    {
        "id": "2cd2f4e2.787954",
        "type": "split",
        "z": "9ac2e8fc.77156",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "b69f629c.c3d58"
            ]
        ]
    },
    {
        "id": "9b1a2b74.b3355",
        "type": "knxUltimate",
        "z": "9ac2e8fc.77156",
        "server": "f9bcc8a9.57e89",
        "topic": "",
        "dpt": "1.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": true,
        "notifywrite": false,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": true,
        "name": "knx",
        "outputtype": "write",
        "outputRBE": false,
        "inputRBE": false,
        "x": 1490,
        "y": 520,
        "wires": [
            [
                "86d8aeb5.8a576"
            ]
        ]
    },
    {
        "id": "f2c46ab3.7f37a8",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": " prep",
        "rules": [
            {
                "t": "set",
                "p": "dpt",
                "pt": "msg",
                "to": "payload.dpt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "destination",
                "pt": "msg",
                "to": "payload.destination",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "readstatus",
                "pt": "msg",
                "to": "payload.readstatus",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 500,
        "wires": [
            [
                "9b1a2b74.b3355",
                "a3eb2bde.70eeb8"
            ]
        ]
    },
    {
        "id": "90ce0262.bbc1c8",
        "type": "function",
        "z": "9ac2e8fc.77156",
        "name": "Query",
        "func": "msg.device = msg.payload;\nmsg.payload = [];\nfor(var i = 0; i < msg.device.length ; i++){\n    msg.payload[i] ={\n        \"destination\": msg.device[i].destination,\n        \"dpt\": msg.device[i].dpt,\n        \"readstatus\" : true\n    };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "fbad352d.ffc5d8"
            ]
        ]
    },
    {
        "id": "fbad352d.ffc5d8",
        "type": "split",
        "z": "9ac2e8fc.77156",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1390,
        "y": 420,
        "wires": [
            [
                "f2c46ab3.7f37a8"
            ]
        ]
    },
    {
        "id": "2f2e9645.bd5fea",
        "type": "join",
        "z": "9ac2e8fc.77156",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1890,
        "y": 440,
        "wires": [
            [
                "fcaf8b1a.fe9458"
            ]
        ]
    },
    {
        "id": "d92de035.d892a",
        "type": "join-wait",
        "z": "9ac2e8fc.77156",
        "name": "",
        "paths": "[\"path_1\", \"path_2\"]",
        "pathsToExpire": "",
        "ignoreUnmatched": true,
        "pathTopic": "paths",
        "pathTopicType": "msg",
        "correlationTopic": "correlation",
        "correlationTopicType": "msg",
        "timeout": "2000",
        "timeoutUnits": 1,
        "exactOrder": "false",
        "firstMsg": "true",
        "mapPayload": "true",
        "disableComplete": false,
        "x": 1680,
        "y": 440,
        "wires": [
            [
                "9564d267.859b1"
            ],
            []
        ]
    },
    {
        "id": "86d8aeb5.8a576",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "path_2",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "path_2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "correlation",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 520,
        "wires": [
            [
                "d92de035.d892a"
            ]
        ]
    },
    {
        "id": "a3eb2bde.70eeb8",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "path_1",
        "rules": [
            {
                "t": "set",
                "p": "paths",
                "pt": "msg",
                "to": "path_1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "correlation",
                "pt": "msg",
                "to": "destination",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 480,
        "wires": [
            [
                "d92de035.d892a"
            ]
        ]
    },
    {
        "id": "9564d267.859b1",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "result",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "paths.path_2",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "paths",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "correlation",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "readstatus",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "dpt",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "destination",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 480,
        "wires": [
            [
                "2f2e9645.bd5fea"
            ]
        ]
    },
    {
        "id": "8d68446f.d81d18",
        "type": "inject",
        "z": "9ac2e8fc.77156",
        "name": "Init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "27ceffdf.9e8d2"
            ]
        ]
    },
    {
        "id": "27ceffdf.9e8d2",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "**IP Address for KNX Gateway**",
        "rules": [
            {
                "t": "set",
                "p": "knxtunnelIP",
                "pt": "flow",
                "to": "192.168.9.250",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "setGatewayConfig.IP",
                "pt": "msg",
                "to": "knxtunnelIP",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "setGatewayConfig.Port",
                "pt": "msg",
                "to": "3671",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 680,
        "wires": [
            [
                "919e4886.eccff"
            ]
        ]
    },
    {
        "id": "55428b79.d86734",
        "type": "inject",
        "z": "9ac2e8fc.77156",
        "name": "French version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Plafonnier\",\"functionType\":\"lights\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Plafonnier\",\"functionType\":\"dimmers\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Table\",\"functionType\":\"lights\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Volet\",\"functionType\":\"blinds\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"Cinema\",\"functionType\":\"heating\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Salle à manger\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energie totale\",\"functionType\":\"sensor\",\"zone\":\"Salle à manger\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Haut-parleur\",\"functionType\":\"aux\",\"zone\":\"Chambre\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1eb90d79.231f03",
        "type": "inject",
        "z": "9ac2e8fc.77156",
        "name": "German version",
        "topic": "",
        "payload": "{\"functions\":[{\"displayName\":\"Decke\",\"functionType\":\"lights\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/6\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"dpt\":\"1.001\",\"destination\":\"0/1/6\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Decke\",\"functionType\":\"dimmers\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":100},{\"name\":\"Off\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Brightness\",\"destination\":\"0/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":100}],\"currentStates\":[{\"name\":\"CurrentBrightness\",\"dpt\":\"5.001\",\"destination\":\"0/4/1\",\"valueMin\":0,\"valueMax\":100}]},{\"displayName\":\"Tisch\",\"functionType\":\"lights\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":1},{\"name\":\"Off\",\"destination\":\"0/0/7\",\"dpt\":\"1.001\",\"value\":0}],\"currentStates\":[{\"name\":\"CurrentState\",\"destination\":\"0/1/7\",\"dpt\":\"1.001\",\"valueMin\":0,\"valueMax\":1}]},{\"displayName\":\"Rollladen\",\"functionType\":\"blinds\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Off\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"value\":255},{\"name\":\"Position\",\"destination\":\"1/3/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentPosition\",\"destination\":\"1/4/1\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]},{\"displayName\":\"\",\"functionType\":\"heating\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/0\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}],\"currentStates\":[{\"name\":\"TargetTemperature\",\"destination\":\"4/1/1\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28},{\"name\":\"CurrentTemperature\",\"destination\":\"4/1/2\",\"dpt\":\"9.001\",\"valueMin\":18,\"valueMax\":28}]},{\"displayName\":\"Cosy\",\"functionType\":\"scenes\",\"zone\":\"Heimkino\",\"commands\":[{\"name\":\"On\",\"destination\":\"2/5/0\",\"dpt\":\"18.001\",\"value\":1}]},{\"displayName\":\"Energieverbrauch\",\"functionType\":\"sensor\",\"zone\":\"Heimkino\",\"unit\":\"Watt\",\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"9/1/1\",\"dpt\":\"9.024\"}]},{\"displayName\":\"Lautsprecher\",\"functionType\":\"aux\",\"zone\":\"Zimmer\",\"commands\":[{\"name\":\"On\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":50},{\"name\":\"Off\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"value\":0},{\"name\":\"Value\",\"destination\":\"10/4/4\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}],\"currentStates\":[{\"name\":\"CurrentValue\",\"destination\":\"10/4/3\",\"dpt\":\"5.001\",\"valueMin\":0,\"valueMax\":255}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1600,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "330b452d.6499fa",
        "type": "change",
        "z": "9ac2e8fc.77156",
        "name": "Set tunnel",
        "rules": [
            {
                "t": "set",
                "p": "gatewayName",
                "pt": "global",
                "to": "knxtunnel",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "gatewayIP",
                "pt": "global",
                "to": "knxtunnelIP",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 320,
        "wires": [
            [
                "eb4f2d44.5fe76"
            ]
        ]
    },
    {
        "id": "919e4886.eccff",
        "type": "knxUltimateWatchDog",
        "z": "9ac2e8fc.77156",
        "server": "f9bcc8a9.57e89",
        "topic": "12/0/0",
        "maxRetry": 6,
        "retryInterval": 10,
        "name": "",
        "autoStart": true,
        "checkLevel": "Ethernet",
        "x": 1700,
        "y": 680,
        "wires": [
            [
                "77dceaeb.65f3b4"
            ]
        ]
    },
    {
        "id": "77dceaeb.65f3b4",
        "type": "debug",
        "z": "9ac2e8fc.77156",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1920,
        "y": 680,
        "wires": []
    },
    {
        "id": "f9bcc8a9.57e89",
        "type": "knxUltimate-config",
        "z": "",
        "host": "1.1.1.1",
        "port": "3671",
        "physAddr": "1.1.1",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": true,
        "statusDisplayDeviceNameWhenALL": true,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop"
    }
]