KNX-Motion-Anomaly.json
[
    {
        "id": "fd5f2b78.9b2a4",
        "type": "tab",
        "label": "KNX MOTION-ANOMALY",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cec211ca.d1a3e8",
        "type": "group",
        "z": "fd5f2b78.9b2a4",
        "name": "KNX - Debugging",
        "style": {
            "label": true
        },
        "nodes": [
            "36d84d4e.bb6892",
            "b8c9fe2f.516f48",
            "4d0a44a1.e5bd8c",
            "ac8585f3.b48f6"
        ],
        "x": 24,
        "y": 459,
        "w": 322,
        "h": 162
    },
    {
        "id": "e42853b0.8492b8",
        "type": "group",
        "z": "fd5f2b78.9b2a4",
        "name": "KNX - Sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "b5bd8e47.7d66c8",
            "d49de05.b8c622",
            "2cd1e1a2.c6eb8e",
            "20288584.a901c2",
            "63e423c6.8b778c",
            "f92abb9f.56b6a8",
            "bf507a7d.de4428",
            "f574f306.b2e578",
            "77c41fb5.ed9e08",
            "af14ac59.e0ded8",
            "d3074a9.3bdd7b8",
            "4d7e6a73.3d8a0c",
            "d089e220.35a0d",
            "ac3bbd70.1f573",
            "2aebbb9b.134e34",
            "edb75e8c.c77e88",
            "2cceaa1d.455026"
        ],
        "x": 24,
        "y": 74,
        "w": 872,
        "h": 367
    },
    {
        "id": "b5bd8e47.7d66c8",
        "type": "knxUltimate",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "server": "4561af15.04ccb8",
        "topic": "13/2/2",
        "outputtopic": "",
        "dpt": "1.006",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Motion detector",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "d49de05.b8c622",
                "2aebbb9b.134e34"
            ]
        ]
    },
    {
        "id": "d49de05.b8c622",
        "type": "function",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "func": "var noMotionEvent = global.get(\"noMotionEvent\");\n// The noMotionEvent is used for simulating no events\n\nif (noMotionEvent !== true) {\n   if (msg.payload !== undefined || msg.payload.length > 0) {\n      msg.payload = JSON.parse(msg.payload);\n      if (msg.payload == true) {\n         var language = global.get(\"msgLang\");\n         var siteId = global.get(\"msgServerSiteId\").replace(/_\\d+$/, \"\").trim();\n         var msgText = {\n            payload: []\n         };\n         //motion detected\n         //node.warn(\"Motion sensor \" + msg.devicename.split(\" \")[0] +\" state is \" + msg.payload);\n         sensorname = msg.devicename.split(\" \")[0];\n         //global.set(\"sensorname\", sensorname);\n         var payload = {\n            type: \"motion\",\n            isOccupied: true\n         };\n         msg.payload = JSON.stringify(payload);\n         msg.topic = \"motion_anomaly/sensor/\" + sensorname;\n         msg.return = true;\n\n         if (language === \"de\") {\n            msgText.payload = {\n               text: \"Anwesenheit erkannt\",\n               siteId: siteId,\n               lang: \"de-DE\"\n            };\n         } else if (language === \"fr\") {\n            msgText.payload = {\n               text: \"Présence détectée\",\n               siteId: siteId,\n               lang: \"fr-FR\"\n            };\n         } else {\n            msgText.payload = {\n               text: \"Presence detected\",\n               siteId: siteId,\n               lang: \"en-UK\"\n            };\n         }\n\n         return [msg, msgText];\n      } else if (msg.payload == false) {\n         //no motion detected\n         //node.warn(\"Motion sensor \" + msg.devicename.split(\" \")[0] +\" state is not alive \");\n         sensorname = msg.devicename.split(\" \")[0];\n         //global.set(\"sensorname\", sensorname);\n         var payload = {\n            type: \"motion\",\n            isOccupied: false\n         };\n         msg.payload = JSON.stringify(payload);\n         //msg.payload.id = msg.topic.split(\"/\")[1].split(\"-\")[1];\n         msg.topic = \"motion_anomaly/sensor/\" + sensorname;\n         msg.return = false;\n\n         return [msg, null];\n      }\n   }\n} else {\n   //Fake no event simulation\n   //node.warn(\"Motion sensor \" + msg.devicename.split(\" \")[0] +\" state is not alive \");\n   sensorname = msg.devicename.split(\" \")[0];\n   //global.set(\"sensorname\", sensorname);\n   var payload = {\n      type: \"motion\",\n      isOccupied: false\n   };\n   msg.payload = JSON.stringify(payload);\n   //msg.payload.id = msg.topic.split(\"/\")[1].split(\"-\")[1];\n   msg.topic = \"motion_anomaly/sensor/\" + sensorname;\n   msg.return = false;\n\n   return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 345,
        "y": 200,
        "wires": [
            [
                "bf507a7d.de4428"
            ],
            [
                "2cceaa1d.455026"
            ]
        ],
        "outputLabels": [
            "",
            "spoken feedback"
        ]
    },
    {
        "id": "2cd1e1a2.c6eb8e",
        "type": "debug",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 175,
        "wires": [],
        "l": false
    },
    {
        "id": "20288584.a901c2",
        "type": "trigger",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 170,
        "wires": [
            [
                "2cd1e1a2.c6eb8e",
                "63e423c6.8b778c"
            ]
        ],
        "l": false
    },
    {
        "id": "63e423c6.8b778c",
        "type": "mqtt out",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "MA publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "b7d2dbd0.c8ee4",
        "x": 740,
        "y": 115,
        "wires": []
    },
    {
        "id": "f92abb9f.56b6a8",
        "type": "knxUltimate",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "server": "4561af15.04ccb8",
        "topic": "13/4/2",
        "outputtopic": "",
        "dpt": "1.006",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "Door contact",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f574f306.b2e578",
                "af14ac59.e0ded8",
                "ac3bbd70.1f573"
            ]
        ]
    },
    {
        "id": "bf507a7d.de4428",
        "type": "switch",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "property": "return",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 485,
        "y": 135,
        "wires": [
            [
                "edb75e8c.c77e88"
            ],
            [
                "20288584.a901c2"
            ]
        ]
    },
    {
        "id": "f574f306.b2e578",
        "type": "function",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "func": "if (msg.payload !== undefined || msg.payload.length>0){\n    if (msg.payload == true){\n        node.warn(msg.devicename.split(\" \")[0] + \" is open\");\n        var type=\"door\";\n        var payload = {type:\"door\"};\n        msg.payload = JSON.stringify(payload);\n        msg.topic= \"motion_anomaly/sensor/\"+ msg.devicename.split(\" \")[0];\n        \n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "77c41fb5.ed9e08"
            ]
        ]
    },
    {
        "id": "77c41fb5.ed9e08",
        "type": "mqtt out",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "MA publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "94e68b06.ab127",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "d3074a9.3bdd7b8",
        "type": "file",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "filename": "/opt/node-red/logs/test.logs",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "af14ac59.e0ded8",
        "type": "function",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "log file",
        "func": "if (msg.payload !== undefined || msg.payload.length>0){\n    \n    var d=new Date();\n    var t= d.toLocaleTimeString();\n    const monthNames = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\",\n     \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"];\n    var day= d.getUTCDate() + monthNames[d.getMonth()] + d.getUTCFullYear() ;\n    \n    if (msg.payload == true){\n\n        //for the log file\n        msg.payload ={type:\"door\", device:\"KNXdoor\", state:\"open\", Time:t, Day:day};\n    \n        return [msg,msg,null];\n    }\n    \n    if (msg.payload == false){\n\n        //for the log file\n        msg.payload ={type:\"door\", device:\"KNXdoor\", state:\"close\", Time:t, Day:day};\n    \n        return [msg,null,null];\n    }\n    \n    else if (msg.payload == \"open\"){\n       //for the log file\n        msg.payload ={type:\"door\", device:\"SHELLYdoor\", state:\"open\", Time:t, Day:day};\n        return [msg,null,msg];\n   }\n   \n   else if(msg.payload == \"close\"){\n       //for the log file\n        msg.payload ={type:\"door\", device:\"SHELLYdoor\", state:\"close\", Time:t, Day:day};\n        return [msg,null,null];\n   }\n   \n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "d3074a9.3bdd7b8"
            ],
            [
                "4d7e6a73.3d8a0c"
            ],
            [
                "d089e220.35a0d"
            ]
        ]
    },
    {
        "id": "4d7e6a73.3d8a0c",
        "type": "file",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "filename": "/opt/node-red/logs/knxdoor.logs",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 710,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d089e220.35a0d",
        "type": "file",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "filename": "/opt/node-red/logs/shellydoor.logs",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 720,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ac3bbd70.1f573",
        "type": "link out",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "DEBUG OUT",
        "links": [
            "ac8585f3.b48f6"
        ],
        "x": 295,
        "y": 305,
        "wires": []
    },
    {
        "id": "2aebbb9b.134e34",
        "type": "link out",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "DEBUG OUT",
        "links": [
            "ac8585f3.b48f6"
        ],
        "x": 305,
        "y": 160,
        "wires": []
    },
    {
        "id": "36d84d4e.bb6892",
        "type": "comment",
        "z": "fd5f2b78.9b2a4",
        "g": "cec211ca.d1a3e8",
        "name": "KNX Debugging",
        "info": "Activate the debug node to see the log and errors.",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "b8c9fe2f.516f48",
        "type": "catch",
        "z": "fd5f2b78.9b2a4",
        "g": "cec211ca.d1a3e8",
        "name": "",
        "scope": [
            "b5bd8e47.7d66c8",
            "f92abb9f.56b6a8",
            "bf507a7d.de4428",
            "f574f306.b2e578",
            "d3074a9.3bdd7b8",
            "4d7e6a73.3d8a0c",
            "d089e220.35a0d"
        ],
        "uncaught": false,
        "x": 110,
        "y": 540,
        "wires": [
            [
                "4d0a44a1.e5bd8c"
            ]
        ]
    },
    {
        "id": "4d0a44a1.e5bd8c",
        "type": "debug",
        "z": "fd5f2b78.9b2a4",
        "g": "cec211ca.d1a3e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 540,
        "wires": []
    },
    {
        "id": "ac8585f3.b48f6",
        "type": "link in",
        "z": "fd5f2b78.9b2a4",
        "g": "cec211ca.d1a3e8",
        "name": "DEBUG IN",
        "links": [
            "ac3bbd70.1f573",
            "2aebbb9b.134e34"
        ],
        "x": 75,
        "y": 580,
        "wires": [
            [
                "4d0a44a1.e5bd8c"
            ]
        ]
    },
    {
        "id": "edb75e8c.c77e88",
        "type": "trigger",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 115,
        "wires": [
            [
                "63e423c6.8b778c"
            ]
        ],
        "l": false
    },
    {
        "id": "2cceaa1d.455026",
        "type": "debug",
        "z": "fd5f2b78.9b2a4",
        "g": "e42853b0.8492b8",
        "name": "Spoken feedback if needed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 455,
        "y": 210,
        "wires": [],
        "l": false
    },
    {
        "id": "60ccb8bd.2a2658",
        "type": "comment",
        "z": "fd5f2b78.9b2a4",
        "name": "Version info",
        "info": "2021-06-29: \n1. first version\n",
        "x": 95,
        "y": 45,
        "wires": []
    },
    {
        "id": "4561af15.04ccb8",
        "type": "knxUltimate-config",
        "host": "",
        "port": "",
        "physAddr": "",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": true,
        "statusDisplayDeviceNameWhenALL": true,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop",
        "loglevel": "error"
    },
    {
        "id": "b7d2dbd0.c8ee4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]