learning-dusk-dawn-day-night.json
[{"id":"a74a8206.e8374","type":"bigtimer","z":"b8c9a488.f73c78","outtopic":"fromBigTimer","outpayload1":"true","outpayload2":"false","name":"BigTimer","lat":"43.623753","lon":"7.046926","starttime":"5000","endtime":"5001","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"x":300,"y":1980,"wires":[["86192dfe.3b06d8","cf44dfe2.d785e8"],[],[]]},{"id":"85cc8dd8.eb1e78","type":"inject","z":"b8c9a488.f73c78","name":"Day","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":1960,"wires":[["a74a8206.e8374"]]},{"id":"19cf71c.158890e","type":"inject","z":"b8c9a488.f73c78","name":"Night","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":2000,"wires":[["a74a8206.e8374"]]},{"id":"86192dfe.3b06d8","type":"BooleanLogic","z":"b8c9a488.f73c78","name":"","operation":"AND","inputCount":2,"topic":"result","x":568,"y":2044.5,"wires":[["148658a6.d55757"]]},{"id":"df511ab8.528158","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Garage - Cosy/Off","passthru":true,"booleanoutput":true,"outputatstartup":false,"x":130,"y":2124,"wires":[["5a4031b4.27b858","f3867525.c0ad"]]},{"id":"5a4031b4.27b858","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":298,"y":2101,"wires":[["681e0db.51b04f4"]]},{"id":"148658a6.d55757","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":694,"y":2044.5,"wires":[["375024a7.ac9d04"]]},{"id":"ab9c5d03.dc7ec","type":"BooleanLogic","z":"b8c9a488.f73c78","name":"","operation":"AND","inputCount":2,"topic":"result","x":568,"y":2098,"wires":[["1624889e.45d31f"]]},{"id":"681e0db.51b04f4","type":"trigger","z":"b8c9a488.f73c78","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","name":"","x":428,"y":2100,"wires":[["86192dfe.3b06d8","ab9c5d03.dc7ec"]]},{"id":"1624889e.45d31f","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":696,"y":2098,"wires":[["e09afd00.f47d8"]]},{"id":"cf44dfe2.d785e8","type":"Invert","z":"b8c9a488.f73c78","name":"Invert","x":430,"y":2046,"wires":[["ab9c5d03.dc7ec"]]},{"id":"5c60b768.e54f48","type":"comment","z":"b8c9a488.f73c78","name":"BigTimer (more..)","info":"The BigTimer sends 'true' during daytime and night time its sends 'false'.\n\n**Note** You must change the location, make sure to use '.'' and not ',' in the lat/long.","x":300,"y":1920,"wires":[]},{"id":"8d1ac3e2.7989e","type":"comment","z":"b8c9a488.f73c78","name":"Force day & night","info":"For test for example","x":100,"y":1920,"wires":[]},{"id":"f3867525.c0ad","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":297,"y":2147,"wires":[["e9858590.1d3278"]]},{"id":"e9858590.1d3278","type":"realknx-out","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Garage - All OFF","topic":"","payload":"","booleaninput":true,"x":1077,"y":2147,"wires":[]},{"id":"51131f7d.3dc3b8","type":"comment","z":"b8c9a488.f73c78","name":"replace these (more..)","info":"The 'Cosy day' and 'Cosy night' are debug nodes to show the output values.\n\nReplace the 'Cosy day' and 'Cosy night' debug nodes with your realKNX-out nodes.\n","x":1100,"y":1980,"wires":[]},{"id":"fee0912b.5a3ef","type":"realknx-out","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Garage - Cosy Day","topic":"ItemCommand","payload":"","booleaninput":true,"x":1075,"y":2044,"wires":[]},{"id":"eed010be.beb638","type":"realknx-out","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Garage - Cosy Night","topic":"ItemCommand","payload":"","booleaninput":true,"x":1085.7840881347656,"y":2098.34090423584,"wires":[]},{"id":"8dc69f49.54c86","type":"inject","z":"b8c9a488.f73c78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":1308,"y":2099,"wires":[["fee0912b.5a3ef","eed010be.beb638","e9858590.1d3278"]]},{"id":"375024a7.ac9d04","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"29","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":861,"y":2044,"wires":[["fee0912b.5a3ef"]]},{"id":"e09afd00.f47d8","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":864,"y":2098,"wires":[["eed010be.beb638"]]},{"id":"d2aa59a.f9539a8","type":"comment","z":"b8c9a488.f73c78","name":"number of your scene (0..63)","info":"","x":860,"y":1980,"wires":[]},{"id":"95d66bca.bc4a4","type":"comment","z":"b8c9a488.f73c78","name":"Don't remove..","info":"The next version will be delete this function... ","x":1313,"y":2051,"wires":[]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"}]