learning-google-home-input-1-bit.json
[{"id":"a2efa6f4.794738","type":"realknx-in","z":"3486063c.7cc4ea","name":"Door","controller":"b1d2fbe.d184108","itemname":"Salon - Porte","passthru":false,"booleanoutput":true,"outputatstartup":false,"x":270,"y":480,"wires":[["77ee7dd.af8c184"]]},{"id":"77ee7dd.af8c184","type":"change","z":"3486063c.7cc4ea","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"The door is open","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"The door is closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":453,"y":480,"wires":[["5fe1c5ef.200edc"]]},{"id":"5fe1c5ef.200edc","type":"googlehome-notify","z":"3486063c.7cc4ea","server":"316bb43.68f914c","name":"","x":680,"y":480,"wires":[]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"},{"id":"316bb43.68f914c","type":"googlehome-config-node","z":"","ipaddress":"","language":"en"}]<span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span>