learning-calculations.json
[{"id":"416f8540.e4dabc","type":"function","z":"b8c9a488.f73c78","name":"Addition","func":"// Replace the name in green with the name of your variable1\nif (msg.topic===\"Cinéma - Sol\") {\n context.global.Y0 = msg.payload;\n }\n // Replace the name in green with the name of your variable2\nif (msg.topic===\"Cinéma - Plafonnier\"){\n context.global.Y1 = msg.payload;\n }\n // Write the type of operation\nmsg.payload= context.global.Y0 + context.global.Y1 ;\n\n// The result is sent to msg.payload\nreturn msg ; ","outputs":"1","noerr":0,"x":720,"y":2940,"wires":[["c72cfc55.472828"]]},{"id":"e8844ec3.fb664","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Cinéma - Plafonnier","passthru":false,"booleanoutput":false,"outputatstartup":false,"x":530,"y":3060,"wires":[["b59826a.9f4ae58","cf040a0b.4f1af8","a52721a5.df419","eab83c28.b13048","416f8540.e4dabc"]]},{"id":"c72cfc55.472828","type":"debug","z":"b8c9a488.f73c78","name":"Addition","active":true,"console":"false","complete":"payload","x":940,"y":2940,"wires":[]},{"id":"b9f53d2f.2e6cc","type":"debug","z":"b8c9a488.f73c78","name":"Soustraction","active":true,"console":"false","complete":"payload","x":950,"y":2978,"wires":[]},{"id":"1c4fee2a.35e71a","type":"debug","z":"b8c9a488.f73c78","name":"Multiplication","active":true,"console":"false","complete":"payload","x":960,"y":3014,"wires":[]},{"id":"eab83c28.b13048","type":"function","z":"b8c9a488.f73c78","name":"Soustraction","func":"// Replace the name in green with the name of your variable1\nif (msg.topic===\"Cinéma - Sol\") {\n context.global.Y0 = msg.payload;\n }\n // Replace the name in green with the name of your variable2\nif (msg.topic===\"Cinéma - Plafonnier\"){\n context.global.Y1 = msg.payload;\n }\n // Write the type of operation\nmsg.payload= context.global.Y0 - context.global.Y1 ;\n\n// The result is sent to msg.payload\nreturn msg ; ","outputs":"1","noerr":0,"x":730,"y":2978,"wires":[["b9f53d2f.2e6cc"]]},{"id":"a52721a5.df419","type":"function","z":"b8c9a488.f73c78","name":"Multiplication","func":"// Replace the name in green with the name of your variable1\nif (msg.topic===\"Cinéma - Sol\") {\n context.global.Y0 = msg.payload;\n }\n // Replace the name in green with the name of your variable2\nif (msg.topic===\"Cinéma - Plafonnier\"){\n context.global.Y1 = msg.payload;\n }\n // Write the type of operation\nmsg.payload= context.global.Y0 * context.global.Y1 ;\n\n// The result is sent to msg.payload\nreturn msg ; ","outputs":"1","noerr":0,"x":740,"y":3014,"wires":[["1c4fee2a.35e71a"]]},{"id":"cf040a0b.4f1af8","type":"function","z":"b8c9a488.f73c78","name":"Division","func":"// Replace the name in green with the name of your variable1\nif (msg.topic===\"Cinéma - Sol\") {\n context.global.Y0 = msg.payload;\n }\n // Replace the name in green with the name of your variable2\nif (msg.topic===\"Cinéma - Plafonnier\"){\n context.global.Y1 = msg.payload;\n }\n // Write the type of operation\nmsg.payload= context.global.Y0 / context.global.Y1 ;\n\n// The result is sent to msg.payload\nreturn msg ; ","outputs":"1","noerr":0,"x":720,"y":3050,"wires":[["fc88ed97.e348e"]]},{"id":"fc88ed97.e348e","type":"debug","z":"b8c9a488.f73c78","name":"Divison","active":true,"console":"false","complete":"payload","x":940,"y":3050,"wires":[]},{"id":"b59826a.9f4ae58","type":"function","z":"b8c9a488.f73c78","name":"Moyenne","func":"// Replace the name in green with the name of your variable1\nif (msg.topic===\"Cinéma - Sol\") {\n context.global.Y0 = msg.payload;\n }\n // Replace the name in green with the name of your variable2\nif (msg.topic===\"Cinéma - Plafonnier\"){\n context.global.Y1 = msg.payload;\n }\n // Write the type of operation\nmsg.payload= (context.global.Y0 + context.global.Y1)/2 ;\n\n// The result is sent to msg.payload\nreturn msg ; ","outputs":"1","noerr":0,"x":720,"y":3086,"wires":[["e342c2b8.5d6c8"]]},{"id":"e342c2b8.5d6c8","type":"debug","z":"b8c9a488.f73c78","name":"Moyenne","active":true,"console":"false","complete":"payload","x":940,"y":3086,"wires":[]},{"id":"b1e43f52.61307","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Cinéma - Sol","passthru":false,"booleanoutput":false,"outputatstartup":false,"x":510,"y":2960,"wires":[["416f8540.e4dabc","eab83c28.b13048","a52721a5.df419","cf040a0b.4f1af8","b59826a.9f4ae58"]]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"}]