learning-google-home-input-aux.json
[{"id":"dd2a1a75.b6bed8","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Il est l'heure de venir à table","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1680,"wires":[["8f53c325.db62a"]]},{"id":"9668f26a.1e2518","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Maison - A table","passthru":true,"booleanoutput":false,"outputatstartup":false,"x":342,"y":1680,"wires":[["588bf36e.4e415c"]]},{"id":"588bf36e.4e415c","type":"trigger","z":"b8c9a488.f73c78","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":500,"y":1680,"wires":[["4a4b6d45.d0f4fc"]]},{"id":"8003f40e.5d68a8","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Il est l'heure de venir à table","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1744,"wires":[["371b87c6.16a428"]]},{"id":"88426965.3d0ce8","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Maison - A table","passthru":true,"booleanoutput":true,"outputatstartup":false,"x":342,"y":1744,"wires":[["d49fe69.a4c8b18"]]},{"id":"d49fe69.a4c8b18","type":"trigger","z":"b8c9a488.f73c78","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","name":"","x":500,"y":1744,"wires":[["806745fb.aeffa"]]},{"id":"806745fb.aeffa","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":630,"y":1744,"wires":[["8003f40e.5d68a8"]]},{"id":"4a4b6d45.d0f4fc","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":630,"y":1680,"wires":[["dd2a1a75.b6bed8"]]},{"id":"b7955ee3.2e3a38","type":"comment","z":"b8c9a488.f73c78","name":"[AUX-1byte]","info":"","x":174,"y":1681,"wires":[]},{"id":"492097ed.01972","type":"comment","z":"b8c9a488.f73c78","name":"[AUX-1bit-ON]","info":"","x":174,"y":1744,"wires":[]},{"id":"8f53c325.db62a","type":"googlehome-notify-nj4","z":"b8c9a488.f73c78","server":"","name":"Google Home","x":963,"y":1680,"wires":[]},{"id":"371b87c6.16a428","type":"googlehome-notify-nj4","z":"b8c9a488.f73c78","server":"","name":"Google Home","x":963,"y":1744,"wires":[]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"}]