learning-http-request.json
[{"id":"f8cb8e8.22a45f","type":"http request","z":"b8c9a488.f73c78","name":"","method":"GET","ret":"txt","url":"// ENTER YOUR HTTP REQUEST // ","tls":"","x":810,"y":982,"wires":[[]]},{"id":"b2755673.6edbb8","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":657.2159118652344,"y":982.6590881347656,"wires":[["f8cb8e8.22a45f"]]},{"id":"6d35eaec.797f3c","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":656.2159118652344,"y":1043.6590881347656,"wires":[["ff34358b.70dda8"]]},{"id":"f1874af0.0150e8","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Living Room - Speaker","passthru":true,"booleanoutput":true,"outputatstartup":false,"x":456.2159118652344,"y":1013.6590957641602,"wires":[["b2755673.6edbb8","6d35eaec.797f3c"]]},{"id":"ff34358b.70dda8","type":"http request","z":"b8c9a488.f73c78","name":"","method":"GET","ret":"txt","url":"// ENTER<span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span> YOUR HTTP REQUEST // ","tls":"","x":810,"y":1043,"wires":[[]]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"}]