learning-google-home-input-1-byte.json
[{"id":"59a6f189.8893b","type":"realknx-in","z":"3486063c.7cc4ea","name":"","controller":"b1d2fbe.d184108","itemname":"Salon - Volume","passthru":false,"booleanoutput":false,"outputatstartup":false,"x":200,"y":480,"wires":[["a332144d.33e1d8"]]},{"id":"1413ac38.4cf5e4","type":"function","z":"3486063c.7cc4ea","name":"[var] Volume","func":"var nombre = Number(msg.payload);\n// Please choose your text in green then integrate your variable with \n var msg1 = { payload : \"The volume is set to \"+ no<span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span>mbre + \" percent\" }; \n return [msg1]; ","outputs":"1","noerr":0,"x":590,"y":480,"wires":[["4a046945.c7e058"]]},{"id":"a332144d.33e1d8","type":"delay","z":"3486063c.7cc4ea","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":480,"wires":[["1413ac38.4cf5e4"]]},{"id":"4a046945.c7e058","type":"googlehome-notify","z":"3486063c.7cc4ea","server":"b2b71884.7557b8","name":"","x":800,"y":480,"wires":[]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"},{"id":"b2b71884.7557b8","type":"googlehome-config-node","z":"","ipaddress":"","language":"en"}]<span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span>