learning-push-notifications.json
[{"id":"ba7a85a1.07fe98","type":"realknx-in","z":"b8c9a488.f73c78","name":"","controller":"b1d2fbe.d184108","itemname":"Salon - Porte","passthru":false,"booleanoutput":true,"outputatstartup":false,"x":356,"y":700,"wires":[["775ea7a1.00d32"]]},{"id":"775ea7a1.00d32","type":"switch","z":"b8c9a488.f73c78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":510,"y":700,"wires":[["a017101e.aebce"],["a1f60797.dbba7"]]},{"id":"a017101e.aebce","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"La porte est ouverte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":680,"wires":[["833d043e.dcdbb8"]]},{"id":"a1f60797.dbba7","type":"change","z":"b8c9a488.f73c78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"La porte est fermée","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["cd5639c0.4f288"]]},{"id":"833d043e.dcdbb8","type":"pushbullet","z":"b8c9a488.f73c78","config":"","pushtype":"note","title":"","chan":"","name":"","x":890,"y":680,"wires":[]},{"id":"cd5639c0.4f288","type":"pushbullet","z":"b8c9a488.f73c78","config":"","pushtype":"note","title":"","chan":"","name":"","x":890,"y":720,"wires":[]},{"id":"b1d2fbe.d184108","type":"realknx-controller","z":"","name":"realknx-ctrl","host":"localhost","port":"3000"}]