learning-joke-alexa-google-infinite-loop.json
[{"id":"18dc3fc.dd05fc","type":"tab","label":"Flow 2"},{"id":"42b12aeb.1e61b4","type":"googlehome-notify","z":"18dc3fc.dd05fc","server":"e7c7ad39.9afdc","name":"Google Home speaker","x":900,"y":140,"wires":[]},{"id":"f4536f89.7177e","type":"alexa-local","z":"18dc3fc.dd05fc","devicename":"Google game","inputtrigger":false,"x":260,"y":140,"wires":[["398bbc8a.8166a4"]]},{"id":"e4e7bdd3.fae2c","type":"change","z":"18dc3fc.dd05fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alexa, turn off google game","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["42b12aeb.1e61b4"]]},{"id":"398bbc8a.8166a4","type":"switch","z":"18dc3fc.dd05fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":430,"y":140,"wires":[["e4e7bdd3.fae2c"],["a2d5e59f.9a7a38"]]},{"id":"a2d5e59f.9a7a38","type":"change","z":"18dc3fc.dd05fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Alexa, turn on google game","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["42b12aeb.1e61b4"]]},{"id":"1d0e377a.4a1fe9","type":"inject","z":"18dc3fc.dd05fc","name":"","topic":"","payload":"Stop the game","payloadType":"str","repeat":"","crontab":"","once":false,"x":620,"y":220,"wires":[["42b12aeb.1e61b4"]]},{"id":"a365183f.cd1898","type":"comment","z":"18dc3fc.dd05fc","name":"Joke: Alexa and Google infinite loop","info":"You'll need an Echo and a GH speaker\nHow it works:\n1. save the flow\n2. say \"Alexa, discover devices\" \n - Alexa discovers the 'Google Game' device\n3. Say \"Alexa, turn on Google Game\"\n - Alexa replies 'OK'\n - GH sais \"Alexa, turn off Google Game\"\n - Alexa replies 'OK'\n - GH sais \"Alexa, turn on Google Game\"\n - .... forever\n4. To stop Mute mic on the Echo or Send the \"Stop the game string\"","x":320,"y":80,"wires":[]},{"id":"e7c7ad39.9afdc","type":"googlehome-config-node","z":"","ipaddress":"","language":"en"}]