network-knx-time.json
[
    {
        "id": "c7dcfb07.753c88",
        "type": "tab",
        "label": "KNX Date & Time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "928c6507.20a338",
        "type": "inject",
        "z": "c7dcfb07.753c88",
        "name": "Date",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "f86bd435.34bc48"
            ]
        ]
    },
    {
        "id": "f86bd435.34bc48",
        "type": "function",
        "z": "c7dcfb07.753c88",
        "name": "Date",
        "func": "return {payload:new Date().toString()};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "5b9a794e.9b29b8"
            ]
        ]
    },
    {
        "id": "d97a037f.ef826",
        "type": "comment",
        "z": "c7dcfb07.753c88",
        "name": "Set KNX Date & Time periodically",
        "info": "",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "abdf6b3b.b2bc98",
        "type": "inject",
        "z": "c7dcfb07.753c88",
        "name": "Hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 170,
        "wires": [
            [
                "2293ceaf.177e52"
            ]
        ]
    },
    {
        "id": "2293ceaf.177e52",
        "type": "function",
        "z": "c7dcfb07.753c88",
        "name": "Time",
        "func": "return {payload:new Date().toString()};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 170,
        "wires": [
            [
                "fd121182.e6a13"
            ]
        ]
    },
    {
        "id": "5b9a794e.9b29b8",
        "type": "knxUltimate",
        "z": "c7dcfb07.753c88",
        "server": "6f5654f9.38070c",
        "topic": "4/1/1",
        "outputtopic": "",
        "dpt": "11.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "x": 615,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fd121182.e6a13",
        "type": "knxUltimate",
        "z": "c7dcfb07.753c88",
        "server": "6f5654f9.38070c",
        "topic": "4/1/0",
        "outputtopic": "",
        "dpt": "10.001",
        "initialread": false,
        "notifyreadrequest": false,
        "notifyresponse": false,
        "notifywrite": true,
        "notifyreadrequestalsorespondtobus": false,
        "notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized": "0",
        "listenallga": false,
        "name": "",
        "outputtype": "write",
        "outputRBE": true,
        "inputRBE": false,
        "formatmultiplyvalue": 1,
        "formatnegativevalue": "leave",
        "formatdecimalsvalue": 999,
        "x": 615,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "6f5654f9.38070c",
        "type": "knxUltimate-config",
        "host": "192.168.1.240",
        "port": "3671",
        "physAddr": "15.15.22",
        "suppressACKRequest": false,
        "csv": "",
        "KNXEthInterface": "Auto",
        "KNXEthInterfaceManuallyInput": "",
        "statusDisplayLastUpdate": true,
        "statusDisplayDeviceNameWhenALL": true,
        "statusDisplayDataPoint": false,
        "stopETSImportIfNoDatapoint": "stop",
        "loglevel": "error"
    }
]