offline-voice-smartyvox-de-v1.json
[
    {
        "id": "157a6b6d.c8df55",
        "type": "tab",
        "label": "Smarty-Vox 'DE' (v1.0)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "61186f13.bdd75",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Possible Voice Commands (read me!)",
        "info": "A.      Angela,\nB.      Ok Pippi,\n\n\n1.   Ich bin daheim.    \n2.   Ich verlasse das Haus.\n3.   Schalte Wohnzimmer.            \n4.   Schalte Küche.       \n5.   Schalte Esszimmer.            \n6.   Schalte Diele.            \n7.   Schalte Schlafzimmer.      \n8.   Schalte Kinderzimmer.     \n9.   Schalte Garten.    \n10.  Schalte Einfahrt.\n11.  Schalte Licht aus.     \n12.  Schalte Musik.          \n13.  Schließe Rollladen.      \n14.  Öffne Rollladen.   \n15.  Aktiviere gemütlich.        \n16.  Aktiviere Abendessen.      \n17.  Aktiviere Empfang.          \n18.  Hilfe.          \n19.  Not Defined\n20.  Not Defined",
        "x": 1028,
        "y": 168,
        "wires": []
    },
    {
        "id": "89731e93.8834f",
        "type": "mqtt in",
        "z": "157a6b6d.c8df55",
        "name": "",
        "topic": "/zwave/vr",
        "qos": "0",
        "broker": "177a4db5.e9d7a2",
        "x": 204.6666717529297,
        "y": 121.33338499069214,
        "wires": [
            [
                "3fe8b86e.05f448"
            ]
        ]
    },
    {
        "id": "f53bacf.74ce55",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Voice commands from Gateway (ZNG100)",
        "info": "",
        "x": 304.6666717529297,
        "y": 41.33338499069214,
        "wires": []
    },
    {
        "id": "f83ad8e6.81d1d8",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "Light",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 8,
        "x": 368,
        "y": 848,
        "wires": [
            [
                "da7cccec.8f01a"
            ],
            [
                "fc1284a6.593e78"
            ],
            [
                "bc24116b.4db28"
            ],
            [
                "6bd2c34f.b51f0c"
            ],
            [
                "ae781675.34b458"
            ],
            [
                "f9c96998.243aa8"
            ],
            [
                "a1ffe5f1.c7a008"
            ],
            [
                "53b51074.2fbac"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "Turn on Livingroom",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "c4b4fe2d.d78d5",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Wohnzimmer 2",
        "links": [
            "33af5aec.822f26"
        ],
        "x": 893,
        "y": 308,
        "wires": []
    },
    {
        "id": "85c76385.7778f",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "3. Schalte Wohnzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1288,
        "y": 308,
        "wires": []
    },
    {
        "id": "33af5aec.822f26",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Wohnzimmer 2",
        "links": [
            "c4b4fe2d.d78d5"
        ],
        "x": 1132,
        "y": 308,
        "wires": [
            [
                "85c76385.7778f"
            ]
        ]
    },
    {
        "id": "bc81c47.53ca638",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "Close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 1868,
        "wires": [
            [
                "78c26af8.19cac4"
            ]
        ]
    },
    {
        "id": "2d8316cb.4e3f9a",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "Open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 1908,
        "wires": [
            [
                "3173682c.ab5698"
            ]
        ]
    },
    {
        "id": "c1b464c0.696f48",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Wohnzimmer",
        "info": "",
        "x": 728,
        "y": 268,
        "wires": []
    },
    {
        "id": "c30486a9.faae38",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "Rollladen",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 378,
        "y": 1888,
        "wires": [
            [
                "bc81c47.53ca638"
            ],
            [
                "2d8316cb.4e3f9a"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "close kitchen",
            "open livingroom"
        ]
    },
    {
        "id": "27c0c4aa.d0649c",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Rollladen",
        "info": "",
        "x": 718,
        "y": 1828,
        "wires": []
    },
    {
        "id": "a7c6c27f.efe",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 6,
        "x": 378,
        "y": 2488,
        "wires": [
            [
                "35d7a745.2763d8",
                "5170522d.7fcbbc",
                "a6c39091.773d4"
            ],
            [
                "5a216832.6d85b8",
                "c44c9119.0ec36",
                "a3dd65d2.118898"
            ],
            [
                "bae723bd.8f128",
                "bcf19505.fedb58",
                "ad0938a0.e1a268"
            ],
            [
                "f5f3d1cf.5d3c8",
                "2f30ff76.22af3",
                "90d8b90f.b2e6a8"
            ],
            [
                "fed7a5a9.a78d08",
                "1cb8e86b.d08058",
                "2a0a227c.0ea97e"
            ],
            [
                "def41251.b3b61",
                "1d424eb.4399bb1",
                "9d51ad19.23667"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home",
            "I'm leaving",
            "Good night",
            "Good Morning",
            "Help",
            "I'm fine"
        ]
    },
    {
        "id": "5a216832.6d85b8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2248,
        "wires": [
            []
        ]
    },
    {
        "id": "35d7a745.2763d8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2048,
        "wires": [
            []
        ]
    },
    {
        "id": "144cf464.8e97ec",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "6a33c751.331808"
        ],
        "x": 893,
        "y": 2408,
        "wires": []
    },
    {
        "id": "bae723bd.8f128",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2408,
        "wires": [
            []
        ]
    },
    {
        "id": "b89253d5.3b8a3",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "info": "",
        "x": 748,
        "y": 2328,
        "wires": []
    },
    {
        "id": "5435fc58.935664",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "info": "",
        "x": 758,
        "y": 2488,
        "wires": []
    },
    {
        "id": "c951aeac.7e34",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "info": "",
        "x": 748,
        "y": 2648,
        "wires": []
    },
    {
        "id": "bb052a95.0249a8",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "info": "",
        "x": 708,
        "y": 2808,
        "wires": []
    },
    {
        "id": "f5f3d1cf.5d3c8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2528,
        "wires": [
            []
        ]
    },
    {
        "id": "edd6f49e.7ac128",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "open close",
        "links": [
            "78c26af8.19cac4"
        ],
        "x": 1133,
        "y": 1868,
        "wires": [
            [
                "10a158e3.49e2b7"
            ]
        ]
    },
    {
        "id": "78c26af8.19cac4",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Open close",
        "links": [
            "edd6f49e.7ac128"
        ],
        "x": 893,
        "y": 1868,
        "wires": []
    },
    {
        "id": "22ef98a7.cbed28",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "612ff159.c8ba6"
        ],
        "x": 893,
        "y": 2048,
        "wires": []
    },
    {
        "id": "a93ccd5a.cabd1",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "e6062c06.1b31a"
        ],
        "x": 893,
        "y": 2248,
        "wires": []
    },
    {
        "id": "e00ab227.f5f75",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "e4b85918.d761d8"
        ],
        "x": 893,
        "y": 2528,
        "wires": []
    },
    {
        "id": "474db1d5.bd9fc",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "94dbb41f.ddf078"
        ],
        "x": 893,
        "y": 2688,
        "wires": []
    },
    {
        "id": "1e3aab68.1d2465",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "96a71891.7e7238"
        ],
        "x": 893,
        "y": 2848,
        "wires": []
    },
    {
        "id": "6a33c751.331808",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "144cf464.8e97ec"
        ],
        "x": 1133,
        "y": 2408,
        "wires": [
            [
                "197e8225.56554e"
            ]
        ]
    },
    {
        "id": "e4b85918.d761d8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "e00ab227.f5f75"
        ],
        "x": 1133,
        "y": 2528,
        "wires": [
            [
                "700bc0ae.6f7a"
            ]
        ]
    },
    {
        "id": "2f30ff76.22af3",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2568,
        "wires": [
            []
        ]
    },
    {
        "id": "d6312b20.8e1188",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "177f809e.ee30cf"
        ],
        "x": 893,
        "y": 2568,
        "wires": []
    },
    {
        "id": "177f809e.ee30cf",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "d6312b20.8e1188"
        ],
        "x": 1133,
        "y": 2568,
        "wires": [
            [
                "7f884762.138d98"
            ]
        ]
    },
    {
        "id": "bcf19505.fedb58",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2368,
        "wires": [
            []
        ]
    },
    {
        "id": "73b43162.e239",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "7eb1a890.b606a8"
        ],
        "x": 893,
        "y": 2368,
        "wires": []
    },
    {
        "id": "7eb1a890.b606a8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "73b43162.e239"
        ],
        "x": 1133,
        "y": 2368,
        "wires": [
            [
                "1fcb9ff1.5650b"
            ]
        ]
    },
    {
        "id": "612ff159.c8ba6",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "22ef98a7.cbed28"
        ],
        "x": 1133,
        "y": 2048,
        "wires": [
            [
                "c6879e5a.413"
            ]
        ]
    },
    {
        "id": "e6062c06.1b31a",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "a93ccd5a.cabd1"
        ],
        "x": 1133,
        "y": 2248,
        "wires": [
            [
                "10315603.967d5a"
            ]
        ]
    },
    {
        "id": "6c800fb4.699e8",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim",
        "info": "",
        "x": 738,
        "y": 2008,
        "wires": []
    },
    {
        "id": "97119d1d.31701",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "info": "",
        "x": 758,
        "y": 2168,
        "wires": []
    },
    {
        "id": "96a71891.7e7238",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "1e3aab68.1d2465"
        ],
        "x": 1133,
        "y": 2848,
        "wires": [
            [
                "8a470841.6ea408"
            ]
        ]
    },
    {
        "id": "3173682c.ab5698",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Open close",
        "links": [
            "477f9960.d5d858"
        ],
        "x": 893,
        "y": 1908,
        "wires": []
    },
    {
        "id": "477f9960.d5d858",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "open close",
        "links": [
            "3173682c.ab5698"
        ],
        "x": 1133,
        "y": 1908,
        "wires": [
            [
                "5107484.a84b9b8"
            ]
        ]
    },
    {
        "id": "857a131d.2cd8b",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 308,
        "wires": [
            [
                "c4b4fe2d.d78d5"
            ]
        ]
    },
    {
        "id": "da7cccec.8f01a",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "wohnzimmer.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 308,
        "wires": [
            [
                "857a131d.2cd8b"
            ]
        ]
    },
    {
        "id": "e7b3c8b1.c069d8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wohnzimmer.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 718,
        "y": 348,
        "wires": [
            []
        ]
    },
    {
        "id": "319b964f.aaed1a",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Wohnzimmer 1",
        "links": [
            "4fffef0.8f1a31"
        ],
        "x": 573,
        "y": 348,
        "wires": [
            [
                "e7b3c8b1.c069d8"
            ]
        ]
    },
    {
        "id": "4fffef0.8f1a31",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Wohnzimmer 1",
        "links": [
            "319b964f.aaed1a"
        ],
        "x": 1693,
        "y": 308,
        "wires": []
    },
    {
        "id": "debce1e7.e3d3d",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "3. Schalte Wohnzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1528,
        "y": 308,
        "wires": [
            [
                "4fffef0.8f1a31"
            ]
        ]
    },
    {
        "id": "5fcc36ef.5bbb38",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "4. Schalte Küche.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1268,
        "y": 468,
        "wires": []
    },
    {
        "id": "87db9ff1.11b65",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Kuche 2",
        "links": [
            "b190ac57.6131"
        ],
        "x": 1132,
        "y": 468,
        "wires": [
            [
                "5fcc36ef.5bbb38"
            ]
        ]
    },
    {
        "id": "9df1d8f4.759658",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Kuche 1",
        "links": [
            "6cbafe9b.6b46"
        ],
        "x": 1693,
        "y": 468,
        "wires": []
    },
    {
        "id": "28ea55e2.d68dca",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "4. Schalte Küche.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1498,
        "y": 468,
        "wires": [
            [
                "9df1d8f4.759658"
            ]
        ]
    },
    {
        "id": "b190ac57.6131",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Kuche 2",
        "links": [
            "87db9ff1.11b65"
        ],
        "x": 893,
        "y": 468,
        "wires": []
    },
    {
        "id": "b4c56c6c.9bea7",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Küche",
        "info": "",
        "x": 708,
        "y": 428,
        "wires": []
    },
    {
        "id": "25de40e.9f1e8c",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 468,
        "wires": [
            [
                "b190ac57.6131"
            ]
        ]
    },
    {
        "id": "fc1284a6.593e78",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kuche.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 468,
        "wires": [
            [
                "25de40e.9f1e8c"
            ]
        ]
    },
    {
        "id": "3aa6c57c.e901ea",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kuche.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 738,
        "y": 508,
        "wires": [
            []
        ]
    },
    {
        "id": "6cbafe9b.6b46",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Kuche 1",
        "links": [
            "9df1d8f4.759658"
        ],
        "x": 573,
        "y": 508,
        "wires": [
            [
                "3aa6c57c.e901ea"
            ]
        ]
    },
    {
        "id": "a20b775b.6bf408",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Esszimmer 2",
        "links": [
            "235184b1.fe5d3c"
        ],
        "x": 893,
        "y": 628,
        "wires": []
    },
    {
        "id": "6ca5a0a0.426e5",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "5. Schalte Esszimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1278,
        "y": 628,
        "wires": []
    },
    {
        "id": "235184b1.fe5d3c",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Esszimmer 2",
        "links": [
            "a20b775b.6bf408"
        ],
        "x": 1132,
        "y": 628,
        "wires": [
            [
                "6ca5a0a0.426e5"
            ]
        ]
    },
    {
        "id": "b56e6fff.932c1",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Esszimmer",
        "info": "",
        "x": 718,
        "y": 588,
        "wires": []
    },
    {
        "id": "cc1fdca9.cb483",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 628,
        "wires": [
            [
                "a20b775b.6bf408"
            ]
        ]
    },
    {
        "id": "bc24116b.4db28",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "esszimmer.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 628,
        "wires": [
            [
                "cc1fdca9.cb483"
            ]
        ]
    },
    {
        "id": "f1008606.7a47f8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "esszimmer.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 728,
        "y": 668,
        "wires": [
            []
        ]
    },
    {
        "id": "ea76093.9eab7f8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Esszimmer 1",
        "links": [
            "892d1519.a891e8"
        ],
        "x": 573,
        "y": 668,
        "wires": [
            [
                "f1008606.7a47f8"
            ]
        ]
    },
    {
        "id": "892d1519.a891e8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Esszimmer 1",
        "links": [
            "ea76093.9eab7f8"
        ],
        "x": 1693,
        "y": 628,
        "wires": []
    },
    {
        "id": "1ed928bb.f92e77",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "5. Schalte Esszimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1518,
        "y": 628,
        "wires": [
            [
                "892d1519.a891e8"
            ]
        ]
    },
    {
        "id": "e158e26a.4ce8d",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "6. Schalte Diele.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1258,
        "y": 788,
        "wires": []
    },
    {
        "id": "1a05ef4e.236d01",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Diele 2",
        "links": [
            "bd57df36.91d32"
        ],
        "x": 1132,
        "y": 788,
        "wires": [
            [
                "e158e26a.4ce8d"
            ]
        ]
    },
    {
        "id": "f101a878.cb1df8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Diele 1",
        "links": [
            "a67c0bcb.86dac8"
        ],
        "x": 1693,
        "y": 788,
        "wires": []
    },
    {
        "id": "b56533cd.5a187",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "6. Schalte Diele.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1498,
        "y": 788,
        "wires": [
            [
                "f101a878.cb1df8"
            ]
        ]
    },
    {
        "id": "bd57df36.91d32",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Diele 2",
        "links": [
            "1a05ef4e.236d01"
        ],
        "x": 893,
        "y": 788,
        "wires": []
    },
    {
        "id": "fa1ddf5.f9d082",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Diele",
        "info": "",
        "x": 708,
        "y": 748,
        "wires": []
    },
    {
        "id": "d80040b0.b056f",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 788,
        "wires": [
            [
                "bd57df36.91d32"
            ]
        ]
    },
    {
        "id": "6bd2c34f.b51f0c",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "diele.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 788,
        "wires": [
            [
                "d80040b0.b056f"
            ]
        ]
    },
    {
        "id": "fdb17971.887ff8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "diele.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 748,
        "y": 828,
        "wires": [
            []
        ]
    },
    {
        "id": "a67c0bcb.86dac8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Diele 1",
        "links": [
            "f101a878.cb1df8"
        ],
        "x": 573,
        "y": 828,
        "wires": [
            [
                "fdb17971.887ff8"
            ]
        ]
    },
    {
        "id": "26e8fd04.69f5e2",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Schlafzimmer 2",
        "links": [
            "7f5e18f0.b80c38"
        ],
        "x": 893,
        "y": 948,
        "wires": []
    },
    {
        "id": "20bea94a.6b1526",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "7. Schalte Schlafzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1288,
        "y": 948,
        "wires": []
    },
    {
        "id": "7f5e18f0.b80c38",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Schlafzimmer 2",
        "links": [
            "26e8fd04.69f5e2"
        ],
        "x": 1132,
        "y": 948,
        "wires": [
            [
                "20bea94a.6b1526"
            ]
        ]
    },
    {
        "id": "5542b606.917ed8",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Schlafzimmer",
        "info": "",
        "x": 728,
        "y": 908,
        "wires": []
    },
    {
        "id": "c89e5018.d5cbe",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 948,
        "wires": [
            [
                "26e8fd04.69f5e2"
            ]
        ]
    },
    {
        "id": "ae781675.34b458",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "schlafzimmer.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 948,
        "wires": [
            [
                "c89e5018.d5cbe"
            ]
        ]
    },
    {
        "id": "c592b942.2623f8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "schlafzimmer.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 718,
        "y": 988,
        "wires": [
            []
        ]
    },
    {
        "id": "9cdc7fab.7dbf6",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Schlafzimmer 1",
        "links": [
            "4daf649e.4efa5c"
        ],
        "x": 573,
        "y": 988,
        "wires": [
            [
                "c592b942.2623f8"
            ]
        ]
    },
    {
        "id": "4daf649e.4efa5c",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Schlafzimmer 1",
        "links": [
            "9cdc7fab.7dbf6"
        ],
        "x": 1693,
        "y": 948,
        "wires": []
    },
    {
        "id": "be6a8222.1fb2d",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "7. Schalte Schlafzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1528,
        "y": 948,
        "wires": [
            [
                "4daf649e.4efa5c"
            ]
        ]
    },
    {
        "id": "685c580c.bec2e8",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "8. Schalte Kinderzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": true,
        "x": 1288,
        "y": 1108,
        "wires": []
    },
    {
        "id": "bca1762a.d16ed8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Kinderzimmer 2",
        "links": [
            "a4192ab6.06c9b8"
        ],
        "x": 1132,
        "y": 1108,
        "wires": [
            [
                "685c580c.bec2e8"
            ]
        ]
    },
    {
        "id": "1d655b6e.939955",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Kinderzimmer 1",
        "links": [
            "f7e2cc72.865a5"
        ],
        "x": 1693,
        "y": 1108,
        "wires": []
    },
    {
        "id": "635ce1f8.72a74",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "8. Schalte Kinderzimmer.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1528,
        "y": 1108,
        "wires": [
            [
                "1d655b6e.939955"
            ]
        ]
    },
    {
        "id": "a4192ab6.06c9b8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Kinderzimmer 2",
        "links": [
            "bca1762a.d16ed8"
        ],
        "x": 893,
        "y": 1108,
        "wires": []
    },
    {
        "id": "28b3bba9.ac6a84",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Kinderzimmer",
        "info": "",
        "x": 728,
        "y": 1068,
        "wires": []
    },
    {
        "id": "dee0cc9.b79253",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 1108,
        "wires": [
            [
                "a4192ab6.06c9b8"
            ]
        ]
    },
    {
        "id": "f9c96998.243aa8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kinderzimmer.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1108,
        "wires": [
            [
                "dee0cc9.b79253"
            ]
        ]
    },
    {
        "id": "bdd2de5b.b327b",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kinderzimmer.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 718,
        "y": 1148,
        "wires": [
            []
        ]
    },
    {
        "id": "f7e2cc72.865a5",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Kinderzimmer 1",
        "links": [
            "1d655b6e.939955"
        ],
        "x": 573,
        "y": 1148,
        "wires": [
            [
                "bdd2de5b.b327b"
            ]
        ]
    },
    {
        "id": "22541c1a.89e514",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Garten 2",
        "links": [
            "fded951d.631548"
        ],
        "x": 893,
        "y": 1268,
        "wires": []
    },
    {
        "id": "b1554316.5d0b8",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "9. Schalte Garten.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1268,
        "y": 1268,
        "wires": []
    },
    {
        "id": "fded951d.631548",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Garten 2",
        "links": [
            "22541c1a.89e514"
        ],
        "x": 1132,
        "y": 1268,
        "wires": [
            [
                "b1554316.5d0b8"
            ]
        ]
    },
    {
        "id": "4518dc05.ac7494",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Garten",
        "info": "",
        "x": 708,
        "y": 1228,
        "wires": []
    },
    {
        "id": "ebb867af.fea3f8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 1268,
        "wires": [
            [
                "22541c1a.89e514"
            ]
        ]
    },
    {
        "id": "a1ffe5f1.c7a008",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "garten.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1268,
        "wires": [
            [
                "ebb867af.fea3f8"
            ]
        ]
    },
    {
        "id": "a4c41bae.c62348",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "garten.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 738,
        "y": 1308,
        "wires": [
            []
        ]
    },
    {
        "id": "97849f2.359a16",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Garten 1",
        "links": [
            "16dc985b.4dd858"
        ],
        "x": 573,
        "y": 1308,
        "wires": [
            [
                "a4c41bae.c62348"
            ]
        ]
    },
    {
        "id": "16dc985b.4dd858",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Garten 1",
        "links": [
            "97849f2.359a16"
        ],
        "x": 1693,
        "y": 1268,
        "wires": []
    },
    {
        "id": "d9c2f44a.183228",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "9. Schalte Garten.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1508,
        "y": 1268,
        "wires": [
            [
                "16dc985b.4dd858"
            ]
        ]
    },
    {
        "id": "1aa95ca5.d77563",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "10. Schalte Einfahrt.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1278,
        "y": 1428,
        "wires": []
    },
    {
        "id": "2e3e7c1d.559a94",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Einfahrt 2",
        "links": [
            "bde850a.8583fb"
        ],
        "x": 1132,
        "y": 1428,
        "wires": [
            [
                "1aa95ca5.d77563"
            ]
        ]
    },
    {
        "id": "c9a41392.2af7c",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": " Einfahrt 1",
        "links": [
            "73b4bed1.6bd07"
        ],
        "x": 1693,
        "y": 1428,
        "wires": []
    },
    {
        "id": "5ffcaa78.008164",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "10. Schalte Einfahrt.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1528,
        "y": 1428,
        "wires": [
            [
                "c9a41392.2af7c"
            ]
        ]
    },
    {
        "id": "bde850a.8583fb",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Einfahrt 2",
        "links": [
            "2e3e7c1d.559a94"
        ],
        "x": 893,
        "y": 1428,
        "wires": []
    },
    {
        "id": "ee5b7352.8b939",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Einfahrt",
        "info": "",
        "x": 708,
        "y": 1388,
        "wires": []
    },
    {
        "id": "94965bf.e5eafa8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 1428,
        "wires": [
            [
                "bde850a.8583fb"
            ]
        ]
    },
    {
        "id": "53b51074.2fbac",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "einfahrt.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1428,
        "wires": [
            [
                "94965bf.e5eafa8"
            ]
        ]
    },
    {
        "id": "5a01bb20.45fce4",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "einfahrt.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 738,
        "y": 1468,
        "wires": [
            []
        ]
    },
    {
        "id": "73b4bed1.6bd07",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Einfahrt 1",
        "links": [
            "c9a41392.2af7c"
        ],
        "x": 573,
        "y": 1468,
        "wires": [
            [
                "5a01bb20.45fce4"
            ]
        ]
    },
    {
        "id": "e4dc1d9.aa5f6e",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "11. Schalte Licht aus.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": true,
        "x": 1278,
        "y": 1588,
        "wires": []
    },
    {
        "id": "5c8abc7e.bdbf74",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Licht Aus 1",
        "links": [
            "8126eb0.d799418"
        ],
        "x": 1132,
        "y": 1588,
        "wires": [
            [
                "e4dc1d9.aa5f6e"
            ]
        ]
    },
    {
        "id": "721a663c.45ab38",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Licht Aus",
        "info": "",
        "x": 718,
        "y": 1548,
        "wires": []
    },
    {
        "id": "b5f3f339.9ea72",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 1588,
        "wires": [
            [
                "8126eb0.d799418"
            ]
        ]
    },
    {
        "id": "8126eb0.d799418",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Licht Aus 1",
        "links": [
            "5c8abc7e.bdbf74"
        ],
        "x": 893,
        "y": 1588,
        "wires": []
    },
    {
        "id": "c93cf170.7ff51",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "12. Schalte Musik.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": false,
        "x": 1268,
        "y": 1708,
        "wires": []
    },
    {
        "id": "35c9845f.e34d7c",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Musik 2",
        "links": [
            "26ed2443.70aa3c"
        ],
        "x": 1132,
        "y": 1708,
        "wires": [
            [
                "c93cf170.7ff51"
            ]
        ]
    },
    {
        "id": "7c05a61e.6341f8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Musik 1",
        "links": [
            "2ed9d064.4942"
        ],
        "x": 1693,
        "y": 1708,
        "wires": []
    },
    {
        "id": "42368001.55857",
        "type": "realknx-in",
        "z": "157a6b6d.c8df55",
        "name": "12. Schalte Musik.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": true,
        "x": 1508,
        "y": 1708,
        "wires": [
            [
                "7c05a61e.6341f8"
            ]
        ]
    },
    {
        "id": "26ed2443.70aa3c",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Musik 2",
        "links": [
            "35c9845f.e34d7c"
        ],
        "x": 893,
        "y": 1708,
        "wires": []
    },
    {
        "id": "721f6711.71c8f8",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "Musik",
        "info": "",
        "x": 708,
        "y": 1668,
        "wires": []
    },
    {
        "id": "57f71da9.9a8924",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "invert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$not(msg.payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 788,
        "y": 1708,
        "wires": [
            [
                "26ed2443.70aa3c"
            ]
        ]
    },
    {
        "id": "ad89029b.eb15",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "current state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "musik.state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628,
        "y": 1708,
        "wires": [
            [
                "57f71da9.9a8924"
            ]
        ]
    },
    {
        "id": "ae867719.9ec5c8",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "musik.state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 738,
        "y": 1748,
        "wires": [
            []
        ]
    },
    {
        "id": "2ed9d064.4942",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Musik 1",
        "links": [
            "7c05a61e.6341f8"
        ],
        "x": 573,
        "y": 1748,
        "wires": [
            [
                "ae867719.9ec5c8"
            ]
        ]
    },
    {
        "id": "b96dc090.c5a07",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "General",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 378,
        "y": 1588,
        "wires": [
            [
                "b5f3f339.9ea72"
            ]
        ],
        "inputLabels": [
            "Input"
        ]
    },
    {
        "id": "5ddc546d.29f52c",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "Multimedia",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 388,
        "y": 1708,
        "wires": [
            [
                "ad89029b.eb15"
            ]
        ],
        "inputLabels": [
            "Input"
        ]
    },
    {
        "id": "94dbb41f.ddf078",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "474db1d5.bd9fc"
        ],
        "x": 1133,
        "y": 2688,
        "wires": [
            [
                "c10b0ef3.87bde"
            ]
        ]
    },
    {
        "id": "5170522d.7fcbbc",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2088,
        "wires": [
            []
        ]
    },
    {
        "id": "e333b326.3620a",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "54a9ee76.32a9c",
            "760b4e38.7d95f"
        ],
        "x": 893,
        "y": 2088,
        "wires": []
    },
    {
        "id": "54a9ee76.32a9c",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "e333b326.3620a"
        ],
        "x": 1133,
        "y": 2088,
        "wires": [
            [
                "26b2f251.1d3e6e"
            ]
        ]
    },
    {
        "id": "c44c9119.0ec36",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2208,
        "wires": [
            []
        ]
    },
    {
        "id": "8159cdd9.0f401",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "a9823026.def35"
        ],
        "x": 893,
        "y": 2208,
        "wires": []
    },
    {
        "id": "a9823026.def35",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "8159cdd9.0f401"
        ],
        "x": 1133,
        "y": 2208,
        "wires": [
            [
                "9ff0bdd7.bd8b2"
            ]
        ]
    },
    {
        "id": "fed7a5a9.a78d08",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2688,
        "wires": [
            []
        ]
    },
    {
        "id": "1cb8e86b.d08058",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2728,
        "wires": [
            []
        ]
    },
    {
        "id": "f0e00b65.3a7ba8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "8c0175e.b821988"
        ],
        "x": 893,
        "y": 2728,
        "wires": []
    },
    {
        "id": "8c0175e.b821988",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "f0e00b65.3a7ba8"
        ],
        "x": 1133,
        "y": 2728,
        "wires": [
            [
                "bb5e477c.d52c78"
            ]
        ]
    },
    {
        "id": "def41251.b3b61",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2848,
        "wires": [
            []
        ]
    },
    {
        "id": "1d424eb.4399bb1",
        "type": "change",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608,
        "y": 2888,
        "wires": [
            []
        ]
    },
    {
        "id": "2440e809.44df58",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "c53feebf.9ae5c"
        ],
        "x": 893,
        "y": 2888,
        "wires": []
    },
    {
        "id": "c53feebf.9ae5c",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "2440e809.44df58"
        ],
        "x": 1133,
        "y": 2888,
        "wires": [
            [
                "de7854f0.d1df08"
            ]
        ]
    },
    {
        "id": "10a158e3.49e2b7",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "13. Schließe Rollladen.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": true,
        "x": 1278,
        "y": 1868,
        "wires": []
    },
    {
        "id": "5107484.a84b9b8",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "14. Öffne Rollladen.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": true,
        "x": 1268,
        "y": 1908,
        "wires": []
    },
    {
        "id": "c6879e5a.413",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "skipfirst": true,
        "x": 1228,
        "y": 2048,
        "wires": []
    },
    {
        "id": "26b2f251.1d3e6e",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2088,
        "wires": []
    },
    {
        "id": "4e49e9a9.f43028",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "760b4e38.7d95f"
        ],
        "x": 893,
        "y": 2128,
        "wires": []
    },
    {
        "id": "a2d244d1.b74cc8",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "1. Ich bin daheim",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1268,
        "y": 2128,
        "wires": []
    },
    {
        "id": "760b4e38.7d95f",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich bin daheim.",
        "links": [
            "e333b326.3620a",
            "4e49e9a9.f43028"
        ],
        "x": 1133,
        "y": 2128,
        "wires": [
            [
                "a2d244d1.b74cc8"
            ]
        ]
    },
    {
        "id": "bf02c06b.6669b",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "4fc08418.4a6e7c"
        ],
        "x": 893,
        "y": 2288,
        "wires": []
    },
    {
        "id": "4fc08418.4a6e7c",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Ich verlasse das Haus.",
        "links": [
            "bf02c06b.6669b"
        ],
        "x": 1133,
        "y": 2288,
        "wires": [
            [
                "36eb8671.e7fc1a"
            ]
        ]
    },
    {
        "id": "bc41e472.702a38",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "a0d7c899.8d6dc8"
        ],
        "x": 893,
        "y": 2448,
        "wires": []
    },
    {
        "id": "a0d7c899.8d6dc8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere gemütlich.",
        "links": [
            "bc41e472.702a38"
        ],
        "x": 1133,
        "y": 2448,
        "wires": [
            [
                "5f21fdc8.dbecb4"
            ]
        ]
    },
    {
        "id": "113223d.e162adc",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "4db6f01f.5367b"
        ],
        "x": 893,
        "y": 2608,
        "wires": []
    },
    {
        "id": "4db6f01f.5367b",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Abendessen.",
        "links": [
            "113223d.e162adc"
        ],
        "x": 1133,
        "y": 2608,
        "wires": [
            [
                "c5da4c92.c4e91"
            ]
        ]
    },
    {
        "id": "a6c39091.773d4",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2128,
        "wires": [
            [
                "4e49e9a9.f43028"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "a3dd65d2.118898",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2288,
        "wires": [
            [
                "bf02c06b.6669b"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "ad0938a0.e1a268",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2448,
        "wires": [
            [
                "bc41e472.702a38"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "90d8b90f.b2e6a8",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2608,
        "wires": [
            [
                "113223d.e162adc"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "2a0a227c.0ea97e",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2768,
        "wires": [
            [
                "e602a4c5.7e7768"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "e602a4c5.7e7768",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "936af7c6.c7e058"
        ],
        "x": 893,
        "y": 2768,
        "wires": []
    },
    {
        "id": "936af7c6.c7e058",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Aktiviere Empfang.",
        "links": [
            "e602a4c5.7e7768"
        ],
        "x": 1133,
        "y": 2768,
        "wires": [
            [
                "24c020ce.fbf9c"
            ]
        ]
    },
    {
        "id": "9ff0bdd7.bd8b2",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2208,
        "wires": []
    },
    {
        "id": "10315603.967d5a",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2248,
        "wires": []
    },
    {
        "id": "36eb8671.e7fc1a",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "2. Ich verlasse das Haus.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1288,
        "y": 2288,
        "wires": []
    },
    {
        "id": "1fcb9ff1.5650b",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2368,
        "wires": []
    },
    {
        "id": "197e8225.56554e",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2408,
        "wires": []
    },
    {
        "id": "5f21fdc8.dbecb4",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "15. Aktiviere gemütlich.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1288,
        "y": 2448,
        "wires": []
    },
    {
        "id": "700bc0ae.6f7a",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2528,
        "wires": []
    },
    {
        "id": "7f884762.138d98",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2568,
        "wires": []
    },
    {
        "id": "c5da4c92.c4e91",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "16. Aktiviere Abendessen.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1288,
        "y": 2608,
        "wires": []
    },
    {
        "id": "c10b0ef3.87bde",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2688,
        "wires": []
    },
    {
        "id": "bb5e477c.d52c78",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2728,
        "wires": []
    },
    {
        "id": "24c020ce.fbf9c",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "17. Aktiviere Empfang.",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1278,
        "y": 2768,
        "wires": []
    },
    {
        "id": "8a470841.6ea408",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "ON",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2848,
        "wires": []
    },
    {
        "id": "de7854f0.d1df08",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "OFF",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1228,
        "y": 2888,
        "wires": []
    },
    {
        "id": "f843ef44.f63fc",
        "type": "realknx-out",
        "z": "157a6b6d.c8df55",
        "name": "18. Hilfe",
        "controller": "daf368b.ac28e98",
        "itemname": "",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 1238,
        "y": 2928,
        "wires": []
    },
    {
        "id": "9d51ad19.23667",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "KNX-Scenes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 628,
        "y": 2928,
        "wires": [
            [
                "eaf42a7c.3e22b8"
            ]
        ],
        "inputLabels": [
            "Input"
        ],
        "outputLabels": [
            "I'm Home"
        ]
    },
    {
        "id": "eaf42a7c.3e22b8",
        "type": "link out",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "a6f646d9.df63f8"
        ],
        "x": 893,
        "y": 2928,
        "wires": []
    },
    {
        "id": "a6f646d9.df63f8",
        "type": "link in",
        "z": "157a6b6d.c8df55",
        "name": "Hilfe.",
        "links": [
            "eaf42a7c.3e22b8"
        ],
        "x": 1133,
        "y": 2928,
        "wires": [
            [
                "f843ef44.f63fc"
            ]
        ]
    },
    {
        "id": "73c749e.bd625b8",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "Not Defined",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 388,
        "y": 3088,
        "wires": [
            [],
            []
        ],
        "inputLabels": [
            "Input"
        ]
    },
    {
        "id": "d0934b58.773368",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "!!!!! Insert the IP adress of the Z-Wave Gateway in the /zwave/vr Node !!!!!",
        "info": "",
        "x": 304.6666717529297,
        "y": 81.33338499069214,
        "wires": []
    },
    {
        "id": "ddf9a21d.f947b",
        "type": "comment",
        "z": "157a6b6d.c8df55",
        "name": "!!!!! Insert the IP adress of the Z-Wave Gateway in the /zwave/vr Node !!!!!",
        "info": "",
        "x": 304.6666717529297,
        "y": 181.33338499069214,
        "wires": []
    },
    {
        "id": "3fe8b86e.05f448",
        "type": "trigger",
        "z": "157a6b6d.c8df55",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 364.6666717529297,
        "y": 121.33338499069214,
        "wires": [
            [
                "e3a382f8.4ab35"
            ]
        ]
    },
    {
        "id": "e3a382f8.4ab35",
        "type": "switch",
        "z": "157a6b6d.c8df55",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 168.0000228881836,
        "y": 1553.0000380054116,
        "wires": [
            [
                "5ddc546d.29f52c",
                "b96dc090.c5a07",
                "c30486a9.faae38",
                "f83ad8e6.81d1d8",
                "a7c6c27f.efe",
                "73c749e.bd625b8"
            ]
        ]
    },
    {
        "id": "177a4db5.e9d7a2",
        "type": "mqtt-broker",
        "z": "157a6b6d.c8df55",
        "broker": "192.168.1.24",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "daf368b.ac28e98",
        "type": "realknx-controller",
        "z": "157a6b6d.c8df55",
        "name": "realknx-ctrl",
        "host": "localhost",
        "port": "3000"
    }
]