Skyresponse.json
[
    {
        "id": "509bf8a4.e53fb",
        "type": "tab",
        "label": "Skyresponse",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aa985b94.103e48",
        "type": "group",
        "z": "509bf8a4.e53fb",
        "name": "Battery Alert to Skyresponse",
        "style": {
            "label": true
        },
        "nodes": [
            "29b08a45.47cf0e",
            "c2c0cb3d.5edc9",
            "3b221816.ed7d7",
            "dc83d764.d2dda",
            "57bdf6a2.0a0c08",
            "cbff9695.09bd8"
        ],
        "x": 34,
        "y": 199,
        "w": 462,
        "h": 182
    },
    {
        "id": "eb2d5509.022958",
        "type": "group",
        "z": "509bf8a4.e53fb",
        "name": "Skyresponse Authentication ",
        "style": {
            "label": true
        },
        "nodes": [
            "3ad89a15.c7586e",
            "9682193e.f72c08",
            "5ee49f74.33d848",
            "8a64a5c3.5c6d68",
            "e23af648.9c354",
            "787f201a.0843"
        ],
        "x": 34,
        "y": 19,
        "w": 542,
        "h": 162
    },
    {
        "id": "3ad89a15.c7586e",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "ReadME Set Authentication",
        "info": "Set the Skyresponse Authentication data in the node below",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "9682193e.f72c08",
        "type": "inject",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Set Authentication",
        "props": [
            {
                "p": "Identifier",
                "v": "",
                "vt": "str"
            },
            {
                "p": "Secret",
                "v": "",
                "vt": "str"
            },
            {
                "p": "Product",
                "v": "SDK",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "5ee49f74.33d848"
            ]
        ]
    },
    {
        "id": "5ee49f74.33d848",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Store Authentication",
        "func": "identifier=msg.Identifier;\nsecret=msg.Secret;\nproduct=msg.Product;\nglobal.set(\"identifier\",identifier);\nglobal.set(\"secret\",secret);\nglobal.set(\"product\",product);\n\nmsg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://sandbox.skyresponse.com/api/token\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n\n    msg.payload =  {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    \n    };\n\n    return msg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "8a64a5c3.5c6d68"
            ]
        ]
    },
    {
        "id": "8a64a5c3.5c6d68",
        "type": "http request",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "e23af648.9c354",
                "787f201a.0843"
            ]
        ]
    },
    {
        "id": "e23af648.9c354",
        "type": "debug",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 515,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "787f201a.0843",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Store Token",
        "func": "if (msg.statusCode==200){\n    msg.payload = JSON.parse(msg.payload);\n    token = msg.payload.access_token;\n    global.set(\"token\",token);\n    //node.warn(token);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "29b08a45.47cf0e",
        "type": "mqtt in",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "Motion",
        "topic": "shellies/+/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "b7d2dbd0.c8ee4",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "c2c0cb3d.5edc9"
            ]
        ]
    },
    {
        "id": "c2c0cb3d.5edc9",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "POST Battery lev",
        "func": "if(msg.payload.bat<20){\n    \n    var product = global.get(\"product\");\n    var secret = global.get(\"secret\");\n    var identifier = global.get(\"identifier\");\n\n    msg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://sandbox.skyresponse.com/api/alarms\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n\n    msg.payload = {\n    \n    \"authentication\": {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    },\n    \"classifications\": [\n        10956\n    ],\n    \"textMessage\": \"Battery level low\",\n    \"measurements\": [\n    {\n      \"name\": \"Shelly Motion detector battery is low\",\n      \"value\": msg.payload.bat\n    }]\n    \n    };\n\n    return msg;\n\n    \n}else if (msg.payload<20){\n    \n     var product = global.get(\"product\");\n    var secret = global.get(\"secret\");\n    var identifier = global.get(\"identifier\");\n\n    msg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://sandbox.skyresponse.com/api/alarms\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n\n    msg.payload = {\n    \n    \"authentication\": {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    },\n    \"classifications\": [\n        10956\n    ],\n    \"textMessage\": \"Battery level low\",\n    \"measurements\": [\n    {\n      \"name\": \"Shelly door sensor battery is low\",\n      \"value\": msg.payload\n    }]\n    \n    };\n\n    return msg;\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "dc83d764.d2dda"
            ]
        ]
    },
    {
        "id": "3b221816.ed7d7",
        "type": "mqtt in",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "Sensor",
        "topic": "shellies/+/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "b7d2dbd0.c8ee4",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "c2c0cb3d.5edc9"
            ]
        ]
    },
    {
        "id": "dc83d764.d2dda",
        "type": "http request",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "57bdf6a2.0a0c08"
            ]
        ]
    },
    {
        "id": "57bdf6a2.0a0c08",
        "type": "debug",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 435,
        "y": 340,
        "wires": [],
        "l": false
    },
    {
        "id": "cbff9695.09bd8",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "ReadME (SHELLY detectors)",
        "info": "This flow will send a notification to skyresponse about the level of shelly door and mouvement sensors.",
        "x": 180,
        "y": 240,
        "wires": []
    },
    {
        "id": "b7d2dbd0.c8ee4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]