Skyresponse.json
[
    {
        "id": "509bf8a4.e53fb",
        "type": "tab",
        "label": "SKYRESPONSE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5f06726.eade08",
        "type": "group",
        "z": "509bf8a4.e53fb",
        "name": "Motion/Help Alert to Skyresponse",
        "style": {
            "label": true
        },
        "nodes": [
            "1161ebe4.7155e4",
            "cd7c3dd4.03c8b8",
            "c6039e8b.23813",
            "fdc2adf.14f215",
            "9c238d50.d467b",
            "295fa518.9fa262",
            "b381dc77.b88e7",
            "9e2e6eca.5eb0c"
        ],
        "x": 34,
        "y": 589,
        "w": 772,
        "h": 182
    },
    {
        "id": "aa985b94.103e48",
        "type": "group",
        "z": "509bf8a4.e53fb",
        "name": "Battery Alert to Skyresponse",
        "style": {
            "label": true
        },
        "nodes": [
            "29b08a45.47cf0e",
            "c2c0cb3d.5edc9",
            "3b221816.ed7d7",
            "dc83d764.d2dda",
            "57bdf6a2.0a0c08",
            "cbff9695.09bd8",
            "bfb8ff0b.c28e68",
            "99a968d6.4fc9d8"
        ],
        "x": 24,
        "y": 334,
        "w": 842,
        "h": 237
    },
    {
        "id": "eb2d5509.022958",
        "type": "group",
        "z": "509bf8a4.e53fb",
        "name": "Skyresponse Authentication ",
        "style": {
            "label": true
        },
        "nodes": [
            "3ad89a15.c7586e",
            "5ee49f74.33d848",
            "8a64a5c3.5c6d68",
            "e23af648.9c354",
            "787f201a.0843",
            "81f76da7.95b",
            "9d20c48a.300238",
            "7502ef06.2cea2",
            "33896888.439af8",
            "e860ecff.197db",
            "46bda700.621ce8",
            "f0abb957.49cfd8",
            "91a9c5b5.9e2f08",
            "25e114e0.3eb7ac",
            "2450a1fa.3cb0be"
        ],
        "x": 34,
        "y": 79,
        "w": 852,
        "h": 242
    },
    {
        "id": "3ad89a15.c7586e",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "ReadME Set Authentication",
        "info": "Set the Skyresponse Authentication data in the node-RED dashboard :\n<a href=\"/ui\" target=\"_blank\">SET UP HERE</a>\n\n",
        "x": 180,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ee49f74.33d848",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Store Authentication",
        "func": "identifier=msg.payload.identifier;\nsecret=msg.payload.secret;\nproduct=msg.payload.product;\nglobal.set(\"identifier\",identifier);\nglobal.set(\"secret\",secret);\nglobal.set(\"product\",product);\n\nmsg.headers = {};\nmsg.method = \"POST\";\nmsg.url = \"https://client.skyresponse.com/api/token\" ;\nmsg.headers[\"content-type\"] = \"application/json\";\n\nmsg.payload =  {\n    \"identifier\": identifier,\n    \"secret\": secret,\n    \"product\": product\n\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "33896888.439af8",
                "7502ef06.2cea2",
                "9d20c48a.300238",
                "e860ecff.197db",
                "8a64a5c3.5c6d68"
            ]
        ]
    },
    {
        "id": "8a64a5c3.5c6d68",
        "type": "http request",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "787f201a.0843",
                "e23af648.9c354"
            ]
        ]
    },
    {
        "id": "e23af648.9c354",
        "type": "debug",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 735,
        "y": 120,
        "wires": [],
        "l": false
    },
    {
        "id": "787f201a.0843",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Store Token",
        "func": "if (msg.statusCode==200){\n    msg.payload = JSON.parse(msg.payload);\n    token = msg.payload.access_token;\n    global.set(\"token\",token);\n    node.warn(token);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "29b08a45.47cf0e",
        "type": "mqtt in",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "Motion",
        "topic": "shellies/+/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "b7d2dbd0.c8ee4",
        "x": 120,
        "y": 415,
        "wires": [
            [
                "c2c0cb3d.5edc9"
            ]
        ]
    },
    {
        "id": "c2c0cb3d.5edc9",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "POST Battery lev",
        "func": "if(msg.payload.bat<20){\n    \n    var product = global.get(\"product\");\n    var secret = global.get(\"secret\");\n    var identifier = global.get(\"identifier\");\n\n    msg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://client.skyresponse.com/api/alarms\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n\n    msg.payload = {\n    \n    \"authentication\": {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    },\n    \"classifications\": [\n        74443\n    ],\n    \"textMessage\": \"Battery level low\",\n    \"measurements\": [\n    {\n      \"name\": \"Motion detector bat. < 20%\",\n      \"value\": msg.payload.bat\n    }]\n    \n    };\n\n    return msg;\n\n    \n}else if (msg.payload<20){\n    \n     var product = global.get(\"product\");\n    var secret = global.get(\"secret\");\n    var identifier = global.get(\"identifier\");\n\n    msg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://client.skyresponse.com/api/alarms\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n\n    msg.payload = {\n    \n    \"authentication\": {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    },\n    \"classifications\": [\n        74442\n    ],\n    \"textMessage\": \"Door Battery < 20\",\n    \"measurements\": [\n    {\n      \"name\": \"Door sensor bat. < 20%\",\n      \"value\": msg.payload\n    }]\n    \n    };\n\n    return msg;\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 475,
        "wires": [
            [
                "99a968d6.4fc9d8"
            ]
        ]
    },
    {
        "id": "3b221816.ed7d7",
        "type": "mqtt in",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "Sensor",
        "topic": "shellies/+/sensor/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "b7d2dbd0.c8ee4",
        "x": 120,
        "y": 530,
        "wires": [
            [
                "c2c0cb3d.5edc9"
            ]
        ]
    },
    {
        "id": "dc83d764.d2dda",
        "type": "http request",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 700,
        "y": 475,
        "wires": [
            [
                "57bdf6a2.0a0c08"
            ]
        ]
    },
    {
        "id": "57bdf6a2.0a0c08",
        "type": "debug",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 805,
        "y": 475,
        "wires": [],
        "l": false
    },
    {
        "id": "cbff9695.09bd8",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "README (SHELLY battery levels)",
        "info": "This flow will send a notification to skyresponse if the battery level of is low.\n**NOTE 1**: that this notification is rate limited to 1 msg / hour, intermediate messages will be descarded.\n\n**NOTE 2**: The battery level is set to 20%, change it in the function node below",
        "x": 210,
        "y": 375,
        "wires": []
    },
    {
        "id": "1161ebe4.7155e4",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "Handle Alarm from Motion Anomaly (external device)",
        "info": "",
        "x": 260,
        "y": 630,
        "wires": []
    },
    {
        "id": "cd7c3dd4.03c8b8",
        "type": "mqtt in",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "",
        "topic": "proknx/alarmMA",
        "qos": "2",
        "datatype": "auto",
        "broker": "cacf8967.042428",
        "x": 140,
        "y": 670,
        "wires": [
            [
                "c6039e8b.23813"
            ]
        ]
    },
    {
        "id": "c6039e8b.23813",
        "type": "switch",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 670,
        "wires": [
            [
                "fdc2adf.14f215"
            ]
        ]
    },
    {
        "id": "fdc2adf.14f215",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "Ask if user is OK",
        "func": "var language = global.get(\"msgLang\");\nvar text = null;\nif(msg.payload.text !== undefined){\n    text = msg.payload.text;\n}\n\n// Speak on: 1) payload siteId 2) Base 3) default\nvar siteId = 'default';\nvar msgServerSiteId = global.get(\"msgServerSiteId\");\nif(msg.payload.siteId !== undefined){\n    siteId = msg.payload.siteId;\n} else if(msgServerSiteId !== undefined){\n    siteId = msgServerSiteId;\n}\n\ncustomData = \"{\\\"intent\\\":{\\\"intentName\\\":\\\"ProKNX:helpCall\\\",\\\"confidenceScore\\\":1}}\";\nif (language === \"de\") {\n    if(text===null){\n        text = \"Wichtige Mitteilung! Sie sind schon lange nicht mehr umgezogen, soll ich um Hilfe rufen??\";\n    }    \n\tmsg.payload = {\n    \t\"siteId\": siteId ,\n    \t\"customData\": customData,\n    \t\"init\" : {\"type\":\"action\", \"text\": text, \"canBeEnqueued\": false,\"intentFilter\": [\"ProKNX:confirmAction\",\"ProKNX:cancelAction\"]}\n\t};\n} else if (language === \"fr\") {\n    if(text===null){\n        text = \"Message important! Vous n'avez pas bougé depuis longtemps, dois-je appeler à l'aide ?\";\n    }    \n    msg.payload = {\n    \t\"siteId\": siteId,\n    \t\"customData\": customData,\n    \t\"init\" : {\"type\":\"action\", \"text\": text, \"canBeEnqueued\": false,\"intentFilter\": [\"ProKNX:confirmAction\",\"ProKNX:cancelAction\"]}\n\t};\n} else {\n    if(text===null){\n        text = \"Important message! You have not moved for a long time, should I call for help?\";\n    }\n\tmsg.payload = {\n\t\t\"siteId\": siteId,\n    \t\"customData\": customData,\n    \t\"init\" : {\"type\":\"action\", \"text\": text, \"canBeEnqueued\": false,\"intentFilter\": [\"ProKNX:confirmAction\",\"ProKNX:cancelAction\"]}\n\t};\n}\nflow.set(\"waitingForReply\", true);\nreturn msg;\n    \n\n    \n \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 670,
        "wires": [
            [
                "295fa518.9fa262",
                "b381dc77.b88e7",
                "9e2e6eca.5eb0c"
            ]
        ]
    },
    {
        "id": "9c238d50.d467b",
        "type": "inject",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "Simulate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "jsonata",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "c6039e8b.23813"
            ]
        ]
    },
    {
        "id": "295fa518.9fa262",
        "type": "link out",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "SPEAK OUT",
        "links": [
            "a1b4e119.a687c8"
        ],
        "x": 625,
        "y": 730,
        "wires": []
    },
    {
        "id": "b381dc77.b88e7",
        "type": "mqtt out",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "startSession",
        "topic": "hermes/dialogueManager/startSession",
        "qos": "",
        "retain": "",
        "broker": "b7d2dbd0.c8ee4",
        "x": 710,
        "y": 670,
        "wires": []
    },
    {
        "id": "81f76da7.95b",
        "type": "ui_form",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "Set Authentication",
        "label": "Enter your skyresponse authentication below :",
        "group": "21ce9f1e.d7ddd",
        "order": 0,
        "width": "12",
        "height": "9",
        "options": [
            {
                "label": "Identifier",
                "value": "identifier",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Secret",
                "value": "secret",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Product",
                "value": "product",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "identifier": "",
            "secret": "",
            "product": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "5ee49f74.33d848"
            ]
        ]
    },
    {
        "id": "9d20c48a.300238",
        "type": "ui_text",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "group": "21ce9f1e.d7ddd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Identifier",
        "label": "Identifier : ",
        "format": "{{msg.payload.identifier}}",
        "layout": "row-left",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "7502ef06.2cea2",
        "type": "ui_text",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "group": "21ce9f1e.d7ddd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Secret",
        "label": "Secret : ",
        "format": "{{msg.payload.secret}}",
        "layout": "row-left",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "33896888.439af8",
        "type": "ui_text",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "group": "21ce9f1e.d7ddd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Product",
        "label": "Product :",
        "format": "{{msg.payload.product}}",
        "layout": "row-left",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "e860ecff.197db",
        "type": "file",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "skyResponse",
        "filename": "skyResponse",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "46bda700.621ce8",
        "type": "inject",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 200,
        "wires": [
            [
                "f0abb957.49cfd8"
            ]
        ],
        "l": false
    },
    {
        "id": "f0abb957.49cfd8",
        "type": "file in",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "skyResponse",
        "filename": "skyResponse",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "91a9c5b5.9e2f08"
            ]
        ]
    },
    {
        "id": "91a9c5b5.9e2f08",
        "type": "function",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "set global variable",
        "func": "if(msg.payload !== null){\n    \n    msg.payload = JSON.parse(msg.payload);\n    identifier=msg.payload.identifier;\n    secret=msg.payload.secret;\n    product=msg.payload.product;\n    global.set(\"identifier\",identifier);\n    global.set(\"secret\",secret);\n    global.set(\"product\",product);\n\n    msg.headers = {};\n    msg.method = \"POST\";\n    msg.url = \"https://client.skyresponse.com/api/token\" ;\n    msg.headers[\"content-type\"] = \"application/json\";\n    \n    msg.payload =  {\n        \"identifier\": identifier,\n        \"secret\": secret,\n        \"product\": product\n    \n    };\n    \nreturn msg;\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 355,
        "y": 200,
        "wires": [
            [
                "8a64a5c3.5c6d68",
                "9d20c48a.300238",
                "7502ef06.2cea2",
                "33896888.439af8"
            ]
        ],
        "l": false
    },
    {
        "id": "25e114e0.3eb7ac",
        "type": "ui_button",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "group": "21ce9f1e.d7ddd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "null",
        "payloadType": "json",
        "topic": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "e860ecff.197db"
            ]
        ]
    },
    {
        "id": "2450a1fa.3cb0be",
        "type": "watch",
        "z": "509bf8a4.e53fb",
        "g": "eb2d5509.022958",
        "name": "",
        "files": "skyResponse",
        "recursive": "",
        "x": 95,
        "y": 240,
        "wires": [
            [
                "f0abb957.49cfd8"
            ]
        ],
        "l": false
    },
    {
        "id": "bfb8ff0b.c28e68",
        "type": "inject",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "LOW BAT",
        "props": [
            {
                "p": "payload.bat",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 475,
        "wires": [
            [
                "c2c0cb3d.5edc9"
            ]
        ]
    },
    {
        "id": "99a968d6.4fc9d8",
        "type": "delay",
        "z": "509bf8a4.e53fb",
        "g": "aa985b94.103e48",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 530,
        "y": 475,
        "wires": [
            [
                "dc83d764.d2dda"
            ]
        ]
    },
    {
        "id": "ac0f808c.565f5",
        "type": "comment",
        "z": "509bf8a4.e53fb",
        "name": "Version info",
        "info": "2021-10-01: Change to final alarm classifications \n2021-09-22: In the form, changed Secret and Identifier to String (instead of Number). Number is limited ~16 digits and removes leading 0\n2021-07-07: modified link in comment\n2021-06-29: Rate limit battery alarms to 1/h\n",
        "x": 95,
        "y": 45,
        "wires": []
    },
    {
        "id": "9e2e6eca.5eb0c",
        "type": "debug",
        "z": "509bf8a4.e53fb",
        "g": "a5f06726.eade08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 630,
        "wires": []
    },
    {
        "id": "b7d2dbd0.c8ee4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cacf8967.042428",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "21ce9f1e.d7ddd",
        "type": "ui_group",
        "name": "Skyresponse Authentication",
        "tab": "c2be5129.f2464",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c2be5129.f2464",
        "type": "ui_tab",
        "name": "SKYRESPONSE",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]