smart-senior-living-help.json
[
    {
        "id": "8ecc0115.f3018",
        "type": "tab",
        "label": "Help me!",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8166bfde.ea365",
        "type": "realknx-in",
        "z": "8ecc0115.f3018",
        "name": "",
        "controller": "",
        "itemname": "Activities - Assistance",
        "passthru": true,
        "booleanoutput": true,
        "outputatstartup": false,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "cad1e69.350fe18"
            ]
        ]
    },
    {
        "id": "ce0811c4.fd971",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "... has been sent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Your Help message has been sent!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880.0000228881836,
        "y": 799.9999866485596,
        "wires": [
            [
                "a8bf0530.9377c8"
            ]
        ]
    },
    {
        "id": "ad72f239.9c255",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "isActivated=true",
        "rules": [
            {
                "t": "set",
                "p": "isActivated",
                "pt": "flow",
                "to": "true",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitingConfirm",
                "pt": "flow",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "ce0811c4.fd971"
            ]
        ]
    },
    {
        "id": "9a77fe6f.18efe",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "isActivated?",
        "property": "isActivated",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 390.99998474121094,
        "y": 1038.9999961853027,
        "wires": [
            [
                "ad72f239.9c255",
                "bef14059.8bef7",
                "26ca350.22369cc"
            ],
            [
                "80a558ec.b0a738"
            ]
        ]
    },
    {
        "id": "80a558ec.b0a738",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "Wait please ...",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please wait, you will receive an answer shortly",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "f710fb88.34d268"
            ]
        ]
    },
    {
        "id": "bef14059.8bef7",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "send Push",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Help is requested from the exhibition",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 920,
        "wires": [
            [
                "379784ba.62446c"
            ]
        ]
    },
    {
        "id": "fd7b8b86.cbbd28",
        "type": "status",
        "z": "8ecc0115.f3018",
        "name": "",
        "scope": [
            "ce9e0af3.70caa8"
        ],
        "x": 482,
        "y": 2377,
        "wires": [
            [
                "a336cd47.46dc2"
            ]
        ]
    },
    {
        "id": "4e91d9e9.3b86c8",
        "type": "split",
        "z": "8ecc0115.f3018",
        "name": "",
        "splt": "100",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 525.0000152587891,
        "y": 1524.0000438690186,
        "wires": [
            [
                "1798eb31.a5f5c5"
            ]
        ]
    },
    {
        "id": "1798eb31.a5f5c5",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "Limit length",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 665.0000152587891,
        "y": 1524.0000438690186,
        "wires": [
            [
                "38f56c46.f5bc24"
            ]
        ]
    },
    {
        "id": "5d3490ec.1eadf",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "reset the isActivated (more..)",
        "info": "reset the isActivated flag:\n1. after 60 sec\n2. 2. when a reply from helper\n\nThe isActivated prevents multiple calls for help\n",
        "x": 660,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b6f97ca2.583d4",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "already activated: Speak \"Please wait\" msg",
        "info": "",
        "x": 710,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1acfc58.1e5593b",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Push message from the HELPER(s)",
        "info": "",
        "x": 275.00001525878906,
        "y": 1484.0000438690186,
        "wires": []
    },
    {
        "id": "a17d3f57.4a845",
        "type": "http request",
        "z": "8ecc0115.f3018",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:3000/restartnoderedrequest",
        "tls": "",
        "x": 996,
        "y": 2384,
        "wires": [
            []
        ]
    },
    {
        "id": "ba9359d1.2a6198",
        "type": "inject",
        "z": "8ecc0115.f3018",
        "name": "restart Node-RED",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 697,
        "y": 2330,
        "wires": [
            [
                "a17d3f57.4a845"
            ]
        ]
    },
    {
        "id": "38f56c46.f5bc24",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "only notif",
        "property": "pushtype",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "note",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 815.0000152587891,
        "y": 1524.0000438690186,
        "wires": [
            [
                "c0b4ab64.c938b8"
            ]
        ]
    },
    {
        "id": "e55af0d7.61dec",
        "type": "delay",
        "z": "8ecc0115.f3018",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 800,
        "y": 2380,
        "wires": [
            [
                "a17d3f57.4a845"
            ]
        ]
    },
    {
        "id": "f710fb88.34d268",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "GH-lnk-o",
        "links": [
            "f20e794b.8c9c88"
        ],
        "x": 835,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a8bf0530.9377c8",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "GH-lnk-o",
        "links": [
            "f20e794b.8c9c88"
        ],
        "x": 1046.0000190734863,
        "y": 799.9999866485596,
        "wires": []
    },
    {
        "id": "c0b4ab64.c938b8",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "GH-lnk-o",
        "links": [
            "f20e794b.8c9c88"
        ],
        "x": 930.0000152587891,
        "y": 1524.0000438690186,
        "wires": []
    },
    {
        "id": "f20e794b.8c9c88",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "GH-lnk-i",
        "links": [
            "a8bf0530.9377c8",
            "c0b4ab64.c938b8",
            "f710fb88.34d268"
        ],
        "x": 495,
        "y": 2100,
        "wires": [
            [
                "acb831bd.2e86d",
                "b3687ace.36efb8"
            ]
        ]
    },
    {
        "id": "3b7347f2.296df8",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "trigger",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 2144,
        "wires": [
            [
                "acb831bd.2e86d"
            ]
        ]
    },
    {
        "id": "b3687ace.36efb8",
        "type": "delay",
        "z": "8ecc0115.f3018",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "7",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 2184,
        "wires": [
            [
                "3b7347f2.296df8"
            ]
        ]
    },
    {
        "id": "9eea15b0.b53758",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Queue msg to GH to avoid loosing msg",
        "info": "",
        "x": 695,
        "y": 2055,
        "wires": []
    },
    {
        "id": "a28bb89b.e61f58",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 385.00001525878906,
        "y": 1524.0000438690186,
        "wires": [
            [
                "4e91d9e9.3b86c8",
                "60e82d73.f71934"
            ]
        ]
    },
    {
        "id": "a336cd47.46dc2",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ECONNRESET",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "socket hang up",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 630,
        "y": 2380,
        "wires": [
            [
                "e55af0d7.61dec"
            ],
            [
                "e55af0d7.61dec"
            ]
        ]
    },
    {
        "id": "a628c0f.ee08d4",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "----------------- IMPORTANT NOTE - PLEASE READ ----------------",
        "info": "This is an example of Assisted living technology (ALT). \nALT is used as part of a range of services that help people maintain independence.\n\nUse case: The USER has fallen and cannot reach the telephone to call for help.\n\n1. The USER needs help and say \"Ok Google, help!\"\n   or \n3. The USER needs help presses the help button.\n\n1. The GH speaker replies \"Help is activated, wait for confirmation\".\n\n1. The HELPER(S) receives the help request (Pushbullet Notif). One HELPER replies to the USER e.g. \"John will arrive in 5 minutes\". This message is read out by the GH speaker to the USER.\n\nThe HELPER(S) can push a message to be spoken at any time, e.g. \"I'm a little bit dealyed, will be with you in 2 minutes.\"\nAll this messages will be to the USER.\n\nCustomisation: \n1. Create a Help KNX scene and a Help button\n1. change the text in the three nodes \"CHANGE THIS!\"\n2. Configure the Google Home speaker(s)\n3. Configure the Push Bullet API key\n4. Add Shortcuts in Google Assistant (e.g. \"Help me\", \"I have fallen\" ) they should also activate \"Help\" scene\n\n** NOTE! In case of this software fails, ProKNX cannot be held responsible for any damage.**\n",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "7d5ea1f4.38222",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Speak confirmation message",
        "info": "",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "570b0659.71f0c8",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Send help request to HELPER(s)",
        "info": "",
        "x": 673,
        "y": 883,
        "wires": []
    },
    {
        "id": "379784ba.62446c",
        "type": "pushbullet",
        "z": "8ecc0115.f3018",
        "config": "",
        "pushtype": "note",
        "title": "Help is requested from the ISE",
        "chan": "",
        "name": "",
        "x": 950,
        "y": 940,
        "wires": []
    },
    {
        "id": "da3637f2.e4bb98",
        "type": "pushbullet in",
        "z": "8ecc0115.f3018",
        "config": "",
        "name": "Help response",
        "x": 225.00001525878906,
        "y": 1524.0000438690186,
        "wires": [
            [
                "a28bb89b.e61f58"
            ]
        ]
    },
    {
        "id": "f2fcaf98.ed7f2",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 224.99998474121094,
        "y": 1039.9999961853027,
        "wires": [
            [
                "9a77fe6f.18efe"
            ]
        ]
    },
    {
        "id": "60e82d73.f71934",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "isActivated=false",
        "rules": [
            {
                "t": "set",
                "p": "isActivated",
                "pt": "flow",
                "to": "false",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1420,
        "wires": [
            [
                "f66b5672.67d3d8",
                "9f506d95.94c67"
            ]
        ]
    },
    {
        "id": "26ca350.22369cc",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "db69f5c6.8c5648"
            ]
        ]
    },
    {
        "id": "dfc88169.f4c73",
        "type": "inject",
        "z": "8ecc0115.f3018",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "db69f5c6.8c5648"
            ]
        ]
    },
    {
        "id": "67a3cee1.4db57",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "outputs": 1,
        "x": 222.99998474121094,
        "y": 1086.9999961853027,
        "wires": [
            [
                "64d779b9.2eb6b8"
            ]
        ]
    },
    {
        "id": "64d779b9.2eb6b8",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "isActivated?",
        "property": "isActivated",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 388.99998474121094,
        "y": 1085.9999961853027,
        "wires": [
            [
                "71ac802f.6e972",
                "60e82d73.f71934"
            ]
        ]
    },
    {
        "id": "625c8cc1.320ff4",
        "type": "inject",
        "z": "8ecc0115.f3018",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 590,
        "y": 1340,
        "wires": [
            [
                "11ab4415.aeb3dc"
            ]
        ]
    },
    {
        "id": "89edd0ec.803c9",
        "type": "inject",
        "z": "8ecc0115.f3018",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 830,
        "y": 1380,
        "wires": [
            [
                "f66b5672.67d3d8",
                "9f506d95.94c67"
            ]
        ]
    },
    {
        "id": "11ab4415.aeb3dc",
        "type": "delay",
        "z": "8ecc0115.f3018",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 1380,
        "wires": [
            [
                "60e82d73.f71934"
            ]
        ]
    },
    {
        "id": "71ac802f.6e972",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "send Push",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Finally help is not necessary",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1200,
        "wires": [
            [
                "eed5b564.0282c8"
            ]
        ]
    },
    {
        "id": "8bf6a61f.3e1b38",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Send help request to HELPER(s)",
        "info": "",
        "x": 670,
        "y": 1160,
        "wires": []
    },
    {
        "id": "eed5b564.0282c8",
        "type": "pushbullet",
        "z": "8ecc0115.f3018",
        "config": "",
        "pushtype": "note",
        "title": "Help is unactivated",
        "chan": "",
        "name": "",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "46a24bbc.f26994",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Speak confirmation message",
        "info": "",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "1a4e5375.cd740d",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "Help Button OUT",
        "links": [
            "cad1e69.350fe18"
        ],
        "x": 75,
        "y": 1060,
        "wires": [
            [
                "f2fcaf98.ed7f2",
                "67a3cee1.4db57"
            ]
        ]
    },
    {
        "id": "cad1e69.350fe18",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "Help Button IN",
        "links": [
            "1a4e5375.cd740d"
        ],
        "x": 383,
        "y": 400,
        "wires": []
    },
    {
        "id": "db69f5c6.8c5648",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "State HELP IN",
        "links": [
            "d7c0a232.bba64"
        ],
        "x": 835,
        "y": 660,
        "wires": []
    },
    {
        "id": "9c284fcd.5d8c8",
        "type": "realknx-out",
        "z": "8ecc0115.f3018",
        "name": "",
        "controller": "",
        "itemname": "Activities - Call activated",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 744.0000152587891,
        "y": 401.00000953674316,
        "wires": []
    },
    {
        "id": "d7c0a232.bba64",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "State HELP OUT",
        "links": [
            "db69f5c6.8c5648",
            "f66b5672.67d3d8"
        ],
        "x": 556.0000152587891,
        "y": 401.00000953674316,
        "wires": [
            [
                "9c284fcd.5d8c8"
            ]
        ]
    },
    {
        "id": "f66b5672.67d3d8",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "State HELP IN",
        "links": [
            "d7c0a232.bba64"
        ],
        "x": 795,
        "y": 1420,
        "wires": []
    },
    {
        "id": "caa2749a.efb578",
        "type": "realknx-out",
        "z": "8ecc0115.f3018",
        "name": "",
        "controller": "",
        "itemname": "Activities - Assistance",
        "topic": "",
        "payload": "",
        "booleaninput": true,
        "x": 320,
        "y": 450,
        "wires": []
    },
    {
        "id": "148bf682.c338d9",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "HELP Button OUT",
        "links": [
            "9f506d95.94c67"
        ],
        "x": 135,
        "y": 450,
        "wires": [
            [
                "caa2749a.efb578"
            ]
        ]
    },
    {
        "id": "9f506d95.94c67",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "HELP Button IN",
        "links": [
            "148bf682.c338d9"
        ],
        "x": 795,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6e817cc1.4e72e4",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "HELP BUTTON - KNX (AUX_Toggle)",
        "info": "",
        "x": 260,
        "y": 340,
        "wires": []
    },
    {
        "id": "d77cf814.5480d8",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "State HELP - KNX (State_1bit)",
        "info": "",
        "x": 654.0000152587891,
        "y": 341.00000953674316,
        "wires": []
    },
    {
        "id": "902611be.0c0e5",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Core --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "5e0e50c4.194d8",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Change with your KNX Functions & your Google Home --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "34847ace.6d4776",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Core for Google Home --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 1030,
        "y": 1960,
        "wires": []
    },
    {
        "id": "ea6c1013.8f69a",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Error handling, restart NR if GH error CAUTION don't change --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 1030,
        "y": 2280,
        "wires": []
    },
    {
        "id": "3d497152.12996e",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Find your Google Home",
        "info": "",
        "x": 1089.9999542236328,
        "y": 339.00000953674316,
        "wires": []
    },
    {
        "id": "dce864f8.3ff3c8",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "Google Home IN",
        "links": [
            "22d93d65.258922"
        ],
        "x": 955,
        "y": 2100,
        "wires": []
    },
    {
        "id": "50a04f28.4a5eb",
        "type": "googlehome-notify",
        "z": "8ecc0115.f3018",
        "server": "d36db7ea.23da28",
        "name": "GH",
        "x": 1139.9999542236328,
        "y": 399.00000953674316,
        "wires": []
    },
    {
        "id": "22d93d65.258922",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "Google Home OUT",
        "links": [
            "dce864f8.3ff3c8"
        ],
        "x": 1004.9999542236328,
        "y": 399.00000953674316,
        "wires": [
            [
                "50a04f28.4a5eb"
            ]
        ]
    },
    {
        "id": "eb300fc6.f8bd6",
        "type": "trigger",
        "z": "8ecc0115.f3018",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "5",
        "extend": false,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 610,
        "y": 1720,
        "wires": [
            [
                "ee2402be.add23"
            ]
        ]
    },
    {
        "id": "738f800d.ae246",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "Repeat if HELPER did not respond",
        "info": "",
        "x": 680,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ee2402be.add23",
        "type": "delay",
        "z": "8ecc0115.f3018",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 590,
        "y": 1760,
        "wires": [
            [
                "eb300fc6.f8bd6",
                "4751bc90.034c04"
            ]
        ]
    },
    {
        "id": "4751bc90.034c04",
        "type": "switch",
        "z": "8ecc0115.f3018",
        "name": "isActivated?",
        "property": "isActivated",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 810,
        "y": 1760,
        "wires": [
            [],
            [
                "9a941688.612ea8"
            ]
        ]
    },
    {
        "id": "9a941688.612ea8",
        "type": "change",
        "z": "8ecc0115.f3018",
        "name": "send Push",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please confirm Help call on PushBullet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 815.2000045776367,
        "y": 1720.8000144958496,
        "wires": [
            [
                "5b3f723f.0e208c"
            ]
        ]
    },
    {
        "id": "ce83e0f7.ae6b1",
        "type": "inject",
        "z": "8ecc0115.f3018",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 590,
        "y": 1680,
        "wires": [
            [
                "eb300fc6.f8bd6"
            ]
        ]
    },
    {
        "id": "5b3f723f.0e208c",
        "type": "link out",
        "z": "8ecc0115.f3018",
        "name": "REPEAT IN",
        "links": [
            "a4d46e69.5577b"
        ],
        "x": 955,
        "y": 1720,
        "wires": []
    },
    {
        "id": "a4d46e69.5577b",
        "type": "link in",
        "z": "8ecc0115.f3018",
        "name": "REPEATE OUT",
        "links": [
            "5b3f723f.0e208c"
        ],
        "x": 665,
        "y": 960,
        "wires": [
            [
                "379784ba.62446c"
            ]
        ]
    },
    {
        "id": "acb831bd.2e86d",
        "type": "simple-queue",
        "z": "8ecc0115.f3018",
        "name": "queue1",
        "x": 720,
        "y": 2100,
        "wires": [
            [
                "dce864f8.3ff3c8"
            ]
        ]
    },
    {
        "id": "ee916cc2.dbb48",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "CHANGE MESSAGE",
        "info": "",
        "x": 881,
        "y": 758,
        "wires": []
    },
    {
        "id": "c9b1310c.4fe6b",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "CHANGE MESSAGE",
        "info": "",
        "x": 898,
        "y": 882,
        "wires": []
    },
    {
        "id": "c18a9539.de2fe8",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "CHANGE MESSAGE",
        "info": "",
        "x": 976,
        "y": 1021,
        "wires": []
    },
    {
        "id": "b45ef596.ef8c68",
        "type": "comment",
        "z": "8ecc0115.f3018",
        "name": "CHANGE MESSAGE",
        "info": "",
        "x": 896,
        "y": 1159,
        "wires": []
    },
    {
        "id": "d36db7ea.23da28",
        "type": "googlehome-config-node",
        "z": "",
        "ipaddress": "",
        "language": "en"
    }
]