various-telegram-bot-auto.json
[
    {
        "id": "6037544e.4186ac",
        "type": "tab",
        "label": "Telegram Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c0df4a1.37d4ec",
        "type": "telegrambot-command",
        "z": "6037544e.4186ac",
        "bot": "4359293f.ca2928",
        "command": "/T.",
        "commandType": "re",
        "commandCase": true,
        "x": 165,
        "y": 545,
        "wires": [
            [
                "62b78522.1ffdec"
            ]
        ]
    },
    {
        "id": "e3010db4.0a32e",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "save",
        "rules": [
            {
                "t": "set",
                "p": "chat",
                "pt": "flow",
                "to": "telegram.chat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "deviceID",
                "pt": "flow",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "dfb37749.0d1098"
            ]
        ]
    },
    {
        "id": "a5a5151e.70e398",
        "type": "telegrambot-switch",
        "z": "6037544e.4186ac",
        "name": "+/-1°",
        "bot": "4359293f.ca2928",
        "chatId": "",
        "question": "",
        "answers": [
            "-1°",
            "+1°",
            "Skip"
        ],
        "outputs": 4,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 300,
        "y": 655,
        "wires": [
            [
                "ffabd8dd.cbbd08"
            ],
            [
                "adb179d2.c859a8"
            ],
            [
                "d8791843.cca6f8"
            ],
            [
                "47b1a9a3.6356c8"
            ]
        ],
        "outputLabels": [
            "-1°",
            "+1°",
            "Skip",
            ""
        ]
    },
    {
        "id": "d8791843.cca6f8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "skip",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ok, skipped!  /start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 645,
        "wires": [
            [
                "e84b5123.46e6",
                "c06abf73.f337c"
            ]
        ]
    },
    {
        "id": "47b1a9a3.6356c8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timeout     /start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 535,
        "y": 680,
        "wires": [
            [
                "c06abf73.f337c"
            ]
        ]
    },
    {
        "id": "e84b5123.46e6",
        "type": "telegrambot-notify",
        "z": "6037544e.4186ac",
        "name": "",
        "bot": "4359293f.ca2928",
        "chatId": "flow.chat.id",
        "message": "",
        "parseMode": "",
        "x": 785,
        "y": 795,
        "wires": []
    },
    {
        "id": "3b9f7b94.cf49a4",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Prep req.",
        "func": "var mergedmsg = {};\nvar msgDeviceInfo = flow.get(\"msgDeviceInfo\");\nfor(var key in msg) mergedmsg[key] = msg[key];\nfor(var key in msgDeviceInfo) mergedmsg[key] = msgDeviceInfo[key];\nmsg = mergedmsg;\n\nif (msg.cmd === undefined)\n    msg.cmd = {};\nmsg.cmd.cmd = msg.op;\nvar id = parseInt(flow.get(\"deviceID\").substring(2));\nmsg.items = [];\nmsg.items[0] = msg.allitems[id];\n\nfunction precisionRound(number, precision) {\n  var factor = Math.pow(10, precision);\n  return Math.round(number * factor) / factor;\n}\n\nvar outputID = 0;\n//Prepare all HTTP requests for \"SET\" commands and put them in msg.url\nmsg.url = [];\nvar msg1 = msg;\nif (msg.cmd.value !== undefined) {\n    outputID = 1;    \n   \tfor (var i = 0; i < msg.items.length; i++) {\n   \t\tmsg.url[i] = [msg.proServIP, msg.items[i].setTargetUrl, msg.cmd.value];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\n}\nelse if (msg.cmd.cmd === \"getCurrent\") {\n\tfor (var i = 0; i < msg.items.length; i++) {\n\t\tmsg.url[i] = [msg.proServIP, msg.items[i].getCurrentUrl];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\n}\nelse if (msg.cmd.cmd === \"getTarget\") {\n    outputID = 1;\n\tfor (var i = 0; i < msg.items.length; i++) {\n\t\tmsg.url[i] = [msg.proServIP, msg.items[i].getTargetUrl];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\t\n}\n\n\nif (msg.url[0] === undefined && msg.error === undefined) {\n    msg.error = {\n        text: \"Something's not right.\"\n    };\n}\n\nif(outputID===0)\n    return [msg,null];\nelse \n    return [null,msg];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 740,
        "y": 505,
        "wires": [
            [
                "40e7f9b0.8bcd38"
            ],
            [
                "c2216816.4f5428"
            ]
        ],
        "outputLabels": [
            "current",
            "target"
        ]
    },
    {
        "id": "588982.8299368",
        "type": "http request",
        "z": "6037544e.4186ac",
        "name": "Send URL",
        "method": "GET",
        "ret": "obj",
        "url": "{{{payload}}}",
        "tls": "",
        "x": 865,
        "y": 700,
        "wires": [
            [
                "cb46f567.699948"
            ]
        ]
    },
    {
        "id": "9d179a31.adb7e8",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Feedback",
        "func": "function precisionRound(number, precision) {\n  var factor = Math.pow(10, precision);\n  return Math.round(number * factor) / factor;\n}\n\nvar name = msg.items[0].name.replace(\"  \",\"\");\n\nif( msg.op != \"getCurrent\" && msg.op != \"getTarget\"  ){\n    var id = flow.get(\"deviceID\");\n    if (msg.payload.Result === true) {\n        var val = \"\";\n        msg.payload = name + \" is set to \" + msg.cmd.value + '°   ' + id + '   /start';\n    }\n    else if (msg.payload.Result === \"false\") {\n        msg.payload = \" The request failed.  /start\";\n    }\n    else {\n        msg.payload = \"The server is not responding  /start\";\n    }\n    msg.op = '';\n    return [msg, null];\n} else {\n    var txt = '';\n    msg.oldTargetTemp = msg.payload.Data[0].Value;\n    var currentTemp = precisionRound(flow.get(\"currentTemp\"),1);\n    txt = name + \" is set to \" + precisionRound(msg.payload.Data[0].Value,1) + \"°. The current temp is \" + currentTemp + \"°\";\n    msg.op = '';\n    msg.payload = txt;\n    return [null, msg]\n}\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 136,
        "y": 805,
        "wires": [
            [
                "e84b5123.46e6"
            ],
            [
                "a5a5151e.70e398",
                "27003bf2.35f284"
            ]
        ],
        "outputLabels": [
            "get",
            "Temp"
        ]
    },
    {
        "id": "adb179d2.c859a8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "+1",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "msg.oldTargetTemp+1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 610,
        "wires": [
            [
                "e7f6bb55.d03118"
            ]
        ]
    },
    {
        "id": "dfb37749.0d1098",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "getCurrent",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "getCurrent",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 545,
        "y": 540,
        "wires": [
            [
                "3b9f7b94.cf49a4"
            ]
        ]
    },
    {
        "id": "5a879407.61466c",
        "type": "link in",
        "z": "6037544e.4186ac",
        "name": "Send URL IN",
        "links": [
            "cb46f567.699948"
        ],
        "x": 100,
        "y": 760,
        "wires": [
            [
                "9d179a31.adb7e8"
            ]
        ]
    },
    {
        "id": "c2216816.4f5428",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "url -> payload",
        "rules": [
            {
                "t": "move",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 805,
        "y": 560,
        "wires": [
            [
                "9d97623a.7e088"
            ]
        ]
    },
    {
        "id": "9d97623a.7e088",
        "type": "split",
        "z": "6037544e.4186ac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 820,
        "y": 605,
        "wires": [
            [
                "a64ac1f2.1bf12"
            ]
        ]
    },
    {
        "id": "a64ac1f2.1bf12",
        "type": "delay",
        "z": "6037544e.4186ac",
        "name": ".05s",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 830,
        "y": 650,
        "wires": [
            [
                "588982.8299368"
            ]
        ]
    },
    {
        "id": "9e29896c.866588",
        "type": "telegrambot-payload",
        "z": "6037544e.4186ac",
        "name": "",
        "bot": "4359293f.ca2928",
        "chatId": "",
        "sendMethod": "sendMessage",
        "payload": "",
        "x": 740,
        "y": 375,
        "wires": [
            []
        ]
    },
    {
        "id": "3b273bd8.c5cc64",
        "type": "comment",
        "z": "6037544e.4186ac",
        "name": "Handler for Start cmd",
        "info": "",
        "x": 170,
        "y": 210,
        "wires": []
    },
    {
        "id": "dd16313f.f6927",
        "type": "telegrambot-command",
        "z": "6037544e.4186ac",
        "bot": "4359293f.ca2928",
        "command": "^/start",
        "commandType": "re",
        "commandCase": false,
        "x": 160,
        "y": 255,
        "wires": [
            [
                "b45b606c.bfc6b"
            ]
        ]
    },
    {
        "id": "17da831e.c7e29d",
        "type": "http request",
        "z": "6037544e.4186ac",
        "name": "GET devices",
        "method": "GET",
        "ret": "txt",
        "url": "http://localhost:3000/rest/alexa/skill/items",
        "tls": "",
        "x": 585,
        "y": 316,
        "wires": [
            [
                "b66eed5d.0d0a4"
            ]
        ]
    },
    {
        "id": "6acb9c62.2445d4",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "save",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "proServIP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1009,
        "y": 248,
        "wires": [
            [
                "17da831e.c7e29d"
            ]
        ]
    },
    {
        "id": "ffa4ad9a.15928",
        "type": "exec",
        "z": "6037544e.4186ac",
        "command": "sudo ip addr show eth0 | grep \"inet\\b\" | awk '{print $2}' | cut -d/ -f1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": true,
        "name": "GET local IP",
        "x": 554,
        "y": 247,
        "wires": [
            [
                "9d4b05e9.7f01c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "9d4b05e9.7f01c8",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Trim",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 248,
        "wires": [
            [
                "3c006a6.630c696"
            ]
        ]
    },
    {
        "id": "3c006a6.630c696",
        "type": "http request",
        "z": "6037544e.4186ac",
        "name": "GET ProServIP",
        "method": "GET",
        "ret": "txt",
        "url": "http://{{{payload}}}:3000/proservip",
        "tls": "",
        "x": 856,
        "y": 248,
        "wires": [
            [
                "6acb9c62.2445d4"
            ]
        ]
    },
    {
        "id": "b66eed5d.0d0a4",
        "type": "json",
        "z": "6037544e.4186ac",
        "name": "",
        "pretty": false,
        "x": 727,
        "y": 315,
        "wires": [
            [
                "80af19a3.e6cd78"
            ]
        ]
    },
    {
        "id": "80af19a3.e6cd78",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "List by Type",
        "func": "function findSwitchByKey(array, key, value) {\n    msg.payload.switch_lights = [];\n    var cpt = 0;\n    for (var i = 0; i < array.length; i++) {\n        if (array[i][key] === value) {\n            msg.payload.switch_lights[cpt] = array[i];\n            cpt ++;\n        }\n    }\n    return null;\n}\n\nfunction findDimmerByKey(array, key, value) {\n    msg.payload.dimmer_lights = [];\n    var cpt = 0;\n    for (var i = 0; i < array.length; i++) {\n        if (array[i][key] === value) {\n            msg.payload.dimmer_lights[cpt] = array[i];\n            cpt ++;\n        }\n    }\n    return null;\n}\nfunction findHeatersByKey(array, key, value) {\n    msg.payload.heaters = [];\n    var cpt = 0;\n    for (var i = 0; i < array.length; i++) {\n        if (array[i][key] === value) {\n            msg.payload.heaters[cpt] = array[i];\n            cpt ++;\n        }\n    }\n    return null;\n}\n\nfindSwitchByKey(msg.payload, 'type', 'lights');\nfindDimmerByKey(msg.payload, 'type', 'dimmers');\nmsg.lights = msg.payload.switch_lights.concat(msg.payload.dimmer_lights);\n\nfindHeatersByKey(msg.payload, 'type', 'heating');\nmsg.heaters = msg.payload.heaters;\n\nmsg.allitems = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 865,
        "y": 315,
        "wires": [
            [
                "b82f621e.db691"
            ]
        ]
    },
    {
        "id": "b82f621e.db691",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "build tg payload",
        "func": "function pad(n, width, z) {\n  z = z || '0';\n  n = n + '';\n  return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;\n}\n\nmsg.lights.sort(function(a, b) {\n   return a.zone.localeCompare(b.zone);\n});\nmsg.heaters.sort(function(a, b) {\n   return a.zone.localeCompare(b.zone);\n});\nmsg.allitems.sort(function(a, b) {\n   return a.zone.localeCompare(b.zone);\n});\nflow.set(\"msgDeviceInfo\", msg); // save for later use\n\n\nvar text = '';\nvar curZone = '';\nvar header = '';\n\nfor (var i = 0; i < msg.allitems.length; i++) {\n    if(curZone != msg.allitems[i].zone){\n        curZone = msg.allitems[i].zone;\n        header = '*' + curZone + '*\\n';\n    }\n    if(msg.lights.indexOf(msg.allitems[i])!=-1){\n        if(header.length>0){\n            text += header;\n            header = \"\";\n        }\n        text += msg.allitems[i].object + ': [/L' + pad(i,3) + ']\\n';\n    } else if(msg.heaters.indexOf(msg.allitems[i])!=-1){\n        if(header.length>0){\n            text += header;\n            header = \"\";\n        }\n        text += msg.allitems[i].object + ': [/T' + pad(i,3) + ']\\n';\n    }  \n}\nif(msg.lights.length>1){\n    text +=  '*All Lights*' + ': [/Lall]\\n';\n}\ntext += '*Help*' + ': [/help]\\n';\n\nmsg.payload = {\n    \"text\": text,\n    \"parse_mode\": \"Markdown\"\n}\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 1035,
        "y": 315,
        "wires": [
            [
                "9e29896c.866588"
            ]
        ]
    },
    {
        "id": "652a1a02.d734b4",
        "type": "comment",
        "z": "6037544e.4186ac",
        "name": "Handler for /T command : Temperature control",
        "info": "",
        "x": 245,
        "y": 460,
        "wires": []
    },
    {
        "id": "27003bf2.35f284",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "busy!",
        "func": "flow.set(\"isWaiting\", true);",
        "outputs": "0",
        "noerr": 0,
        "x": 305,
        "y": 820,
        "wires": []
    },
    {
        "id": "b8a166e9.5afb58",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "busy",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Busy, waiting for reply!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 715,
        "wires": [
            [
                "e84b5123.46e6"
            ]
        ]
    },
    {
        "id": "c06abf73.f337c",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "not busy",
        "func": "flow.set(\"isWaiting\", false);\n",
        "outputs": "0",
        "noerr": 0,
        "x": 760,
        "y": 745,
        "wires": []
    },
    {
        "id": "e7f6bb55.d03118",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "set OUT",
        "links": [
            "89556f19.b908b"
        ],
        "x": 635,
        "y": 600,
        "wires": []
    },
    {
        "id": "89556f19.b908b",
        "type": "link in",
        "z": "6037544e.4186ac",
        "name": "set IN",
        "links": [
            "e7f6bb55.d03118"
        ],
        "x": 645,
        "y": 650,
        "wires": [
            [
                "3b9f7b94.cf49a4",
                "c06abf73.f337c"
            ]
        ]
    },
    {
        "id": "62b78522.1ffdec",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "busy?",
        "func": "// remove @xxx_bot in group commands\nvar n = msg.payload.text.indexOf('@');\nmsg.payload.text = msg.payload.text.substring(0, n != -1 ? n : msg.payload.text.length);\n\n// set busy flag\nvar isWaiting = flow.get(\"isWaiting\");\nif(isWaiting===true)\n    return [null, msg];\nelse\n    return [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 295,
        "y": 590,
        "wires": [
            [
                "e3010db4.0a32e"
            ],
            [
                "b8a166e9.5afb58"
            ]
        ],
        "outputLabels": [
            "continue",
            "iswaiting"
        ]
    },
    {
        "id": "131a208a.4d315f",
        "type": "telegrambot-command",
        "z": "6037544e.4186ac",
        "bot": "4359293f.ca2928",
        "command": "/L.",
        "commandType": "re",
        "commandCase": true,
        "x": 160,
        "y": 985,
        "wires": [
            [
                "6444233a.7f001c"
            ]
        ]
    },
    {
        "id": "6f29eaed.e912f4",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "save",
        "rules": [
            {
                "t": "set",
                "p": "chat",
                "pt": "flow",
                "to": "telegram.chat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "deviceID",
                "pt": "flow",
                "to": "payload.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 980,
        "wires": [
            [
                "3371afb6.82a8a"
            ]
        ]
    },
    {
        "id": "8ee91255.52a95",
        "type": "telegrambot-switch",
        "z": "6037544e.4186ac",
        "name": "ON/OFF",
        "bot": "4359293f.ca2928",
        "chatId": "",
        "question": "",
        "answers": [
            "Turn OFF",
            "Turn ON",
            "Skip"
        ],
        "outputs": 4,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 295,
        "y": 1105,
        "wires": [
            [
                "749a0639.826b18"
            ],
            [
                "88b8527b.6e9cf"
            ],
            [
                "eca02aa6.db88c8"
            ],
            [
                "ff19a742.9ba778"
            ]
        ],
        "outputLabels": [
            "Off",
            "On",
            "Skip",
            ""
        ]
    },
    {
        "id": "eca02aa6.db88c8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "skip",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ok, skipped!  /start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "d20f847a.e85fb8",
                "ff341b13.401278"
            ]
        ]
    },
    {
        "id": "ff19a742.9ba778",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "timeout     /start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 1340,
        "wires": [
            [
                "ff341b13.401278"
            ]
        ]
    },
    {
        "id": "d20f847a.e85fb8",
        "type": "telegrambot-notify",
        "z": "6037544e.4186ac",
        "name": "Feedback",
        "bot": "4359293f.ca2928",
        "chatId": "flow.chat.id",
        "message": "",
        "parseMode": "",
        "x": 770,
        "y": 1405,
        "wires": []
    },
    {
        "id": "74396940.4b0958",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Prep req.",
        "func": "if (typeof msg.payload.text === 'string' && msg.payload.text.startsWith('/Lall')){\n    if (msg.cmd === undefined)\n        msg.cmd = {};    \n    msg.cmd.all = true;\n    return [msg, null]; // skip get for 'all'\n}\n\nvar mergedmsg = {};\nvar msgDeviceInfo = flow.get(\"msgDeviceInfo\");\nfor(var key in msg) mergedmsg[key] = msg[key];\nfor(var key in msgDeviceInfo) mergedmsg[key] = msgDeviceInfo[key];\nmsg = mergedmsg;\n\nif (msg.cmd === undefined){\n    msg.cmd = {};\n}\n\nmsg.cmd.cmd = msg.op;\n\nif(msg.cmd.all !== undefined ){\n    msg.items = msg.lights;\n}\nelse {\n    var id = parseInt(flow.get(\"deviceID\").substring(2));\n    msg.items = [];\n    msg.items[0] = msg.allitems[id];\n}\nfunction precisionRound(number, precision) {\n  var factor = Math.pow(10, precision);\n  return Math.round(number * factor) / factor;\n}\n\n\n//Prepare all HTTP requests for \"SET\" commands and put them in msg.url\nmsg.url = [];\nif (msg.cmd.value !== undefined) {\n   \tfor (var i = 0; i < msg.items.length; i++) {\n   \t\tif (msg.items[i].type === \"dimmers\") {\n   \t\t\tvar val = msg.cmd.value*2.55;\n   \t\t\tval = precisionRound(val, 1);\n   \t\t\tmsg.items[i].setDimUrl = msg.items[i].setDimUrl.replace(\"${intensity.byte}\", '');\n   \t\t\tmsg.url[i] = [msg.proServIP, msg.items[i].setDimUrl, val];\n   \t\t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n   \t\t} \n   \t\telse if (msg.cmd.value > 0) {\n\t\t    msg.url[i] = [msg.proServIP, msg.items[i].setOnUrl];\n   \t\t    msg.url[i] = \"\".concat(...msg.url[i]);\n   \t\t}\n   \t\telse {\n\t    \tmsg.url[i] = [msg.proServIP, msg.items[i].setOffUrl];\n   \t\t    msg.url[i] = \"\".concat(...msg.url[i]);\n   \t\t}\n\t}\n}\nelse if (msg.cmd.cmd === \"get\") {\n\tfor (var i = 0; i < msg.items.length; i++) {\n\t\tmsg.url[i] = [msg.proServIP, msg.items[i].getCurrentUrl];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\n}\nelse if (msg.cmd.cmd === \"on\") {\n\tfor (var i = 0; i < msg.items.length; i++) {\n\t\tmsg.url[i] = [msg.proServIP, msg.items[i].setOnUrl];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\n}\nelse if (msg.cmd.cmd === \"off\") {\n\tfor (var i = 0; i < msg.items.length; i++) {\n\t\tmsg.url[i] = [msg.proServIP, msg.items[i].setOffUrl];\n   \t\tmsg.url[i] = \"\".concat(...msg.url[i]);\n\t}\n} else if (msg.cmd.cmd !== \"on\" && msg.cmd.cmd !== \"off\" && msg.cmd.cmd !== \"increase\" && msg.cmd.cmd !== \"decrease\") {\n   msg.error = {\n        text: \"Sorry I did not understand your command\",\n        siteId: msg.cmd.siteId\n    }; \n}\n\nif (msg.url[0] === undefined && msg.error === undefined) {\n    msg.error = {\n        text: \"Something's not right.\"\n    };\n}\n\nreturn [null, msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 690,
        "y": 980,
        "wires": [
            [
                "3020f478.7e06dc"
            ],
            [
                "7e3a2684.0de168"
            ]
        ],
        "outputLabels": [
            "skip",
            "get/set"
        ]
    },
    {
        "id": "302c08a4.2e1858",
        "type": "http request",
        "z": "6037544e.4186ac",
        "name": "Send URL",
        "method": "GET",
        "ret": "obj",
        "url": "{{{payload}}}",
        "tls": "",
        "x": 855,
        "y": 1170,
        "wires": [
            [
                "4a88157e.f5178c"
            ]
        ]
    },
    {
        "id": "f3eacc94.dcd55",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Feedback",
        "func": "if(typeof msg.payload === 'string' && msg.payload.startsWith(\"Error\"))\n    return [null,null,null];\n\nif (msg.payload.text==='/Lall'){\n    msg.payload = \"All lights\"\n    msg.op = '';\n    return [null, msg, null];\n}\n\nvar name = msg.items[0].name.replace(\"  \",\"\");\n\nif( msg.op != \"get\" ){\n    var id = flow.get(\"deviceID\");\n    if (msg.payload.Result === true) {\n        if(msg.cmd.all)\n            msg.payload = \"All lights are \" + msg.op.toUpperCase() + '   ' + id + '   /start';\n        else if(msg.op === \"set\")\n            msg.payload = name + \" is set to \" + msg.cmd.value + '%   ' + id + '   /start';\n        else        \n            msg.payload = name + \" is \" + msg.op.toUpperCase() + '   ' + id + '   /start';\n    }\n    else if (msg.payload.Result === \"false\") {\n        msg.payload = \" The request failed.  /start\";\n    }\n    else {\n        msg.payload = \"The server is not responding  /start\";\n    }\n    msg.op = '';\n    return [msg, null, null];\n} else {\n    var txt = '';\n    var isDimmer = false;\n    if(msg.payload.Data[0].Value === true){\n        txt = name + \" is ON\";\n    }\n    else if(msg.payload.Data[0].Value === false){\n        txt = name + \" is OFF\";\n    }\n    else {\n        var val = Math.round(msg.payload.Data[0].Value*100/255);\n        txt = name + \" is set to \" + val + \" %\";\n        isDimmer = true;\n    }\n    msg.op = '';\n    msg.payload = txt;\n    if(isDimmer === true){\n        return [null, null, msg];\n    }\n    else {\n        return [null, msg, null];\n    }\n}\n",
        "outputs": "3",
        "noerr": 0,
        "x": 141,
        "y": 1420,
        "wires": [
            [
                "d20f847a.e85fb8"
            ],
            [
                "8ee91255.52a95",
                "bc20a724.33aff8"
            ],
            [
                "bf90c405.b12a28",
                "bc20a724.33aff8"
            ]
        ],
        "outputLabels": [
            "get",
            "ON/OFF",
            "Dimmer"
        ]
    },
    {
        "id": "88b8527b.6e9cf",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1019,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "749a0639.826b18",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 521,
        "y": 1059,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "3371afb6.82a8a",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "get",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "get",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 518,
        "y": 980,
        "wires": [
            [
                "74396940.4b0958"
            ]
        ]
    },
    {
        "id": "bf90c405.b12a28",
        "type": "telegrambot-switch",
        "z": "6037544e.4186ac",
        "name": "Dimmer",
        "bot": "4359293f.ca2928",
        "chatId": "",
        "question": "",
        "answers": [
            "0%",
            "25%",
            "50%",
            "75%",
            "100%",
            "Skip"
        ],
        "outputs": 7,
        "autoAnswerCallback": true,
        "timeoutValue": "20",
        "timeoutUnits": "s",
        "x": 296,
        "y": 1227,
        "wires": [
            [
                "c0042d57.6bfd2"
            ],
            [
                "6ea688bf.a39d18"
            ],
            [
                "f6de925a.50a83"
            ],
            [
                "164b1fda.11d08"
            ],
            [
                "b96e60f3.64601"
            ],
            [
                "eca02aa6.db88c8"
            ],
            [
                "ff19a742.9ba778"
            ]
        ],
        "outputLabels": [
            "0%",
            "25%",
            "50%",
            "75%",
            "100%",
            "Skip",
            ""
        ]
    },
    {
        "id": "6ea688bf.a39d18",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "25%",
        "rules": [
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 519,
        "y": 1137,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "ac350385.db1da",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "Feedback OUT",
        "links": [
            "69ad7e6d.1d2e"
        ],
        "x": 1070,
        "y": 1250,
        "wires": []
    },
    {
        "id": "69ad7e6d.1d2e",
        "type": "link in",
        "z": "6037544e.4186ac",
        "name": "Feedback IN",
        "links": [
            "3020f478.7e06dc",
            "ac350385.db1da"
        ],
        "x": 80,
        "y": 1360,
        "wires": [
            [
                "f3eacc94.dcd55"
            ]
        ]
    },
    {
        "id": "7e3a2684.0de168",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "url -> payload",
        "rules": [
            {
                "t": "move",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 795,
        "y": 1030,
        "wires": [
            [
                "eb4bac42.2f1d5"
            ]
        ]
    },
    {
        "id": "eb4bac42.2f1d5",
        "type": "split",
        "z": "6037544e.4186ac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 810,
        "y": 1075,
        "wires": [
            [
                "c3e3c4c8.a7b5c8"
            ]
        ]
    },
    {
        "id": "c3e3c4c8.a7b5c8",
        "type": "delay",
        "z": "6037544e.4186ac",
        "name": ".1s",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 1120,
        "wires": [
            [
                "302c08a4.2e1858"
            ]
        ]
    },
    {
        "id": "c0042d57.6bfd2",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "0%",
        "rules": [
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 521,
        "y": 1097,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "164b1fda.11d08",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "75%",
        "rules": [
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "75",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 518,
        "y": 1219,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "b96e60f3.64601",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "100%",
        "rules": [
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1260,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "f6de925a.50a83",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "50%",
        "rules": [
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 521,
        "y": 1178,
        "wires": [
            [
                "c0615465.9cbeb8"
            ]
        ]
    },
    {
        "id": "876ccd4c.4f829",
        "type": "comment",
        "z": "6037544e.4186ac",
        "name": "Handler for /L command : Lights & Dimmers",
        "info": "",
        "x": 239,
        "y": 943,
        "wires": []
    },
    {
        "id": "a2b5abed.b59218",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "busy",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Busy or waiting for your action!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1380,
        "wires": [
            [
                "d20f847a.e85fb8"
            ]
        ]
    },
    {
        "id": "c0615465.9cbeb8",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "set OUT",
        "links": [
            "c4faecd2.3b3f4"
        ],
        "x": 635,
        "y": 1135,
        "wires": []
    },
    {
        "id": "c4faecd2.3b3f4",
        "type": "link in",
        "z": "6037544e.4186ac",
        "name": "set IN",
        "links": [
            "c0615465.9cbeb8"
        ],
        "x": 635,
        "y": 1085,
        "wires": [
            [
                "74396940.4b0958",
                "ff341b13.401278"
            ]
        ]
    },
    {
        "id": "6444233a.7f001c",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "busy?",
        "func": "// remove @xxx_bot in group commands\nvar n = msg.payload.text.indexOf('@');\nmsg.payload.text = msg.payload.text.substring(0, n != -1 ? n : msg.payload.text.length);\n\n// set busy flag\nvar isWaiting = flow.get(\"isWaiting\");\nif(isWaiting===true)\n    return [null, msg];\nelse\n    return [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 290,
        "y": 1025,
        "wires": [
            [
                "6f29eaed.e912f4"
            ],
            [
                "a2b5abed.b59218"
            ]
        ],
        "outputLabels": [
            "continue",
            "iswaiting"
        ]
    },
    {
        "id": "cb46f567.699948",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "Send URL OUT",
        "links": [
            "5a879407.61466c"
        ],
        "x": 925,
        "y": 745,
        "wires": []
    },
    {
        "id": "91935285.c54cb",
        "type": "http request",
        "z": "6037544e.4186ac",
        "name": "Send URL",
        "method": "GET",
        "ret": "obj",
        "url": "{{{payload}}}",
        "tls": "",
        "x": 1050,
        "y": 645,
        "wires": [
            [
                "e8c1bfee.31046"
            ]
        ]
    },
    {
        "id": "40e7f9b0.8bcd38",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "url -> payload",
        "rules": [
            {
                "t": "move",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "f5324071.a059b"
            ]
        ]
    },
    {
        "id": "f5324071.a059b",
        "type": "split",
        "z": "6037544e.4186ac",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1005,
        "y": 550,
        "wires": [
            [
                "d12f9c31.775e5"
            ]
        ]
    },
    {
        "id": "d12f9c31.775e5",
        "type": "delay",
        "z": "6037544e.4186ac",
        "name": ".05s",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1015,
        "y": 595,
        "wires": [
            [
                "91935285.c54cb"
            ]
        ]
    },
    {
        "id": "ffabd8dd.cbbd08",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "-1",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "set",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "cmd.value",
                "pt": "msg",
                "to": "msg.oldTargetTemp-1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 575,
        "wires": [
            [
                "e7f6bb55.d03118"
            ]
        ]
    },
    {
        "id": "e8c1bfee.31046",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "Save cur temp",
        "func": "flow.set(\"currentTemp\", msg.payload.Data[0].Value);\nreturn msg;\n\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 1105,
        "y": 690,
        "wires": [
            [
                "f8fef309.7bf2c"
            ]
        ]
    },
    {
        "id": "c386091f.603aa8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "getTarget",
        "rules": [
            {
                "t": "set",
                "p": "op",
                "pt": "msg",
                "to": "getTarget",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 535,
        "y": 505,
        "wires": [
            [
                "3b9f7b94.cf49a4"
            ]
        ]
    },
    {
        "id": "f8fef309.7bf2c",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "Cur temp OUT",
        "links": [
            "be34fb65.f76d78"
        ],
        "x": 1145,
        "y": 740,
        "wires": []
    },
    {
        "id": "be34fb65.f76d78",
        "type": "link in",
        "z": "6037544e.4186ac",
        "name": "Cur temp IN",
        "links": [
            "f8fef309.7bf2c"
        ],
        "x": 430,
        "y": 495,
        "wires": [
            [
                "c386091f.603aa8"
            ]
        ]
    },
    {
        "id": "4a88157e.f5178c",
        "type": "switch",
        "z": "6037544e.4186ac",
        "name": "last?",
        "property": "msg.parts.index +1",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "parts.count",
                "vt": "msg"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 890,
        "y": 1215,
        "wires": [
            [
                "5afadb16.3247f4"
            ],
            [
                "b6f2ac06.c6a51"
            ]
        ],
        "outputLabels": [
            "last item",
            ""
        ]
    },
    {
        "id": "3020f478.7e06dc",
        "type": "link out",
        "z": "6037544e.4186ac",
        "name": "Feedback OUT",
        "links": [
            "69ad7e6d.1d2e"
        ],
        "x": 815,
        "y": 965,
        "wires": []
    },
    {
        "id": "611193ef.d6312c",
        "type": "telegrambot-notify",
        "z": "6037544e.4186ac",
        "name": "Working..",
        "bot": "4359293f.ca2928",
        "chatId": "flow.chat.id",
        "message": "Working...",
        "parseMode": "",
        "x": 975,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5afadb16.3247f4",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "!busy",
        "rules": [
            {
                "t": "set",
                "p": "isWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1205,
        "wires": [
            [
                "ac350385.db1da"
            ]
        ]
    },
    {
        "id": "b6f2ac06.c6a51",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "busy!",
        "rules": [
            {
                "t": "set",
                "p": "isWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 925,
        "y": 1255,
        "wires": [
            [
                "611193ef.d6312c"
            ]
        ]
    },
    {
        "id": "ff341b13.401278",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "!busy",
        "rules": [
            {
                "t": "set",
                "p": "isWaiting",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 725,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "bc20a724.33aff8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "busy!",
        "rules": [
            {
                "t": "set",
                "p": "isWaiting",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 295,
        "y": 1430,
        "wires": [
            []
        ]
    },
    {
        "id": "b45b606c.bfc6b",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "busy?",
        "func": "// remove @xxx_bot in group commands\nvar n = msg.payload.text.indexOf('@');\nmsg.payload.text = msg.payload.text.substring(0, n != -1 ? n : msg.payload.text.length);\n\n// set busy flag\nvar isWaiting = flow.get(\"isWaiting\");\nif(isWaiting===true)\n    return [null, msg];\nelse\n    return [msg, null];",
        "outputs": "2",
        "noerr": 0,
        "x": 380,
        "y": 251,
        "wires": [
            [
                "ffa4ad9a.15928"
            ],
            [
                "d8f0872f.4adee8"
            ]
        ],
        "outputLabels": [
            "continue",
            "iswaiting"
        ]
    },
    {
        "id": "d8f0872f.4adee8",
        "type": "change",
        "z": "6037544e.4186ac",
        "name": "busy",
        "rules": [
            {
                "t": "set",
                "p": "telegram.chat",
                "pt": "msg",
                "to": "chat",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Busy or waiting for your action!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "9831d6eb.443f48"
            ]
        ]
    },
    {
        "id": "9831d6eb.443f48",
        "type": "telegrambot-notify",
        "z": "6037544e.4186ac",
        "name": "Feedback",
        "bot": "4359293f.ca2928",
        "chatId": "flow.chat.id",
        "message": "",
        "parseMode": "",
        "x": 385,
        "y": 345,
        "wires": []
    },
    {
        "id": "7e62f9c3.558878",
        "type": "catch",
        "z": "6037544e.4186ac",
        "name": "",
        "scope": null,
        "x": 440,
        "y": 1435,
        "wires": [
            [
                "d9c7885c.5836f8"
            ]
        ]
    },
    {
        "id": "d9c7885c.5836f8",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "err msg",
        "func": "msg.payload = \"Something's not right, I got this error:\\n\"\nif(msg.error.message!==undefined){\n    msg.payload += msg.error.message;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1435,
        "wires": [
            [
                "d20f847a.e85fb8"
            ]
        ]
    },
    {
        "id": "f4479e2.085716",
        "type": "comment",
        "z": "6037544e.4186ac",
        "name": "Handler for Help cmd",
        "info": "",
        "x": 170,
        "y": 55,
        "wires": []
    },
    {
        "id": "404dd23b.f10fbc",
        "type": "telegrambot-command",
        "z": "6037544e.4186ac",
        "bot": "4359293f.ca2928",
        "command": "help",
        "commandType": "str",
        "commandCase": false,
        "x": 160,
        "y": 96,
        "wires": [
            [
                "3d7f102.0721cf"
            ]
        ]
    },
    {
        "id": "16203f55.fe14e1",
        "type": "telegrambot-command",
        "z": "6037544e.4186ac",
        "bot": "4359293f.ca2928",
        "command": "^/help",
        "commandType": "re",
        "commandCase": false,
        "x": 160,
        "y": 145,
        "wires": [
            [
                "3d7f102.0721cf"
            ]
        ]
    },
    {
        "id": "3d7f102.0721cf",
        "type": "function",
        "z": "6037544e.4186ac",
        "name": "help text",
        "func": "// remove @xxx_bot in group commands\nvar n = msg.payload.text.indexOf('@');\nmsg.payload.text = msg.payload.text.substring(0, n != -1 ? n : msg.payload.text.length);\n\n\nvar text = \"*Telegram Chatbot for realKNX - Help*\\n\";\ntext += \"Q: What can I use this for?\\n\" \ntext += \"A: Remote and secure control *realKNX* lights and thermostats.\\n\\n\";\ntext +=  \"To list all items that can be controlled, type /start.\\n\";\ntext += \"To control a device, tap the link next to each device (/L001 e.g.).\\n\";\ntext += \"Lights and Dimmers are prefixed with */L*, thermostats with */T*.\";\n\nmsg.payload = {\n    \"text\": text,\n    \"parse_mode\": \"Markdown\"\n}\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 365,
        "y": 115,
        "wires": [
            [
                "9fc13aa7.bcee48"
            ]
        ]
    },
    {
        "id": "9fc13aa7.bcee48",
        "type": "telegrambot-payload",
        "z": "6037544e.4186ac",
        "name": "",
        "bot": "4359293f.ca2928",
        "chatId": "",
        "sendMethod": "sendMessage",
        "payload": "",
        "x": 560,
        "y": 115,
        "wires": [
            []
        ]
    },
    {
        "id": "4359293f.ca2928",
        "type": "telegrambot-config",
        "z": "6037544e.4186ac",
        "botname": "",
        "usernames": "",
        "chatIds": "",
        "pollInterval": "300"
    }
]