voice-usage-statistics.json
[
    {
        "id": "428bb4c.878784c",
        "type": "tab",
        "label": "STATISTICS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78765283.491f0c",
        "type": "group",
        "z": "428bb4c.878784c",
        "name": "VOICE USAGE STATISTICS",
        "style": {
            "label": true
        },
        "nodes": [
            "be83535e.6a03d",
            "1af263b8.f30ffc",
            "a59d9a04.345418",
            "549125d8.a876bc",
            "7717090c.c08588",
            "4f13d0d9.dcc7e",
            "8b362d66.da9b1",
            "831ffc8e.f1a6",
            "78a3d6e1.9b6298",
            "b068e697.f8f988",
            "5d6e752b.ecd3ac",
            "24d4b194.7fd4be",
            "15b980d8.f137df",
            "cc3e4bfa.da85b8",
            "9bb58084.c8992",
            "a5f2af.5b7e6d5",
            "93e79c12.5b5fc",
            "44626bae.fc36b4",
            "478f6520.ce632c",
            "2f6e8c59.d797d4",
            "56b5f67d.51a0f8",
            "e3b5e734.f98de8",
            "625801af.4e3cb",
            "ffb7d0fc.b5354"
        ],
        "x": 114,
        "y": 39,
        "w": 382,
        "h": 662
    },
    {
        "id": "be83535e.6a03d",
        "type": "mqtt in",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "All intents",
        "topic": "hermes/intent/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "f96ab142.d8bab8",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "a59d9a04.345418"
            ]
        ]
    },
    {
        "id": "1af263b8.f30ffc",
        "type": "debug",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 435,
        "y": 500,
        "wires": [],
        "l": false
    },
    {
        "id": "a59d9a04.345418",
        "type": "json",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 315,
        "y": 400,
        "wires": [
            [
                "7717090c.c08588"
            ]
        ],
        "l": false
    },
    {
        "id": "549125d8.a876bc",
        "type": "comment",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Listen to all mqtt msgs - WARNING!",
        "info": " * Activate this logging by connecting the nodes\n * Say the command that you wish to emulate.\n * IMPORTANT Disconnect when you're ready (or you disk might be full..)",
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "7717090c.c08588",
        "type": "function",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "func": "var msgStat = {\n        voiceCommands: [], intent: []\n};\n\nif(msg.payload.input === undefined){\n    return null;\n}\n\nvar executed = false;\n\nif(msg.payload.intent.confidenceScore > 0.6){\n    executed = true;\n}\n\nmsgStat.voiceCommands.push({\"value\": msg.payload.input,\n                            \"siteId\": msg.payload.siteId,\n                            \"intentDetected\": msg.payload.intent.intentName,\n                            \"executed\": executed,\n                            \"counter\": 1 \n});\n\nif(executed == true){\n    msgStat.intent.push({\"intentName\": msg.payload.intent.intentName,\n                         \"siteId\": msg.payload.siteId,\n                         \"counter\" : 1\n        \n    });\n}\n\n\nfor(var i=0; i<msg.payload.asrTokens[0].length; i++){\n   if(msg.payload.asrTokens[0][i].value === \"unknownword\"){\n       msgStat.unknownword = 1;\n   }\n}\n\n\nflow.set(\"msgStat\", msgStat);\n\nmsg.payload = msgStat;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 375,
        "y": 400,
        "wires": [
            [
                "8b362d66.da9b1"
            ]
        ],
        "l": false
    },
    {
        "id": "4f13d0d9.dcc7e",
        "type": "file",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Statistics",
        "filename": "statistics",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 375,
        "y": 500,
        "wires": [
            [
                "1af263b8.f30ffc"
            ]
        ],
        "l": false
    },
    {
        "id": "8b362d66.da9b1",
        "type": "file in",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Statistics",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 195,
        "y": 500,
        "wires": [
            [
                "831ffc8e.f1a6"
            ]
        ],
        "l": false
    },
    {
        "id": "831ffc8e.f1a6",
        "type": "json",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 255,
        "y": 500,
        "wires": [
            [
                "78a3d6e1.9b6298"
            ]
        ],
        "l": false
    },
    {
        "id": "78a3d6e1.9b6298",
        "type": "function",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "func": "if(msg.payload === undefined){\n    var msgStat = {\n        voiceCommands: [], intent: []\n};}\nelse{\n    var msgStat = msg.payload;\n}\n\nmsg.payload = flow.get(\"msgStat\");\n\nif(msg.payload.intent[0].intentName === undefined){\n    return null;\n}\n\n\nfor(var i=0; i<msgStat.voiceCommands.length; i++){\n    \n    if(msgStat.voiceCommands[i].value === msg.payload.voiceCommands[0].value && msgStat.voiceCommands[i].siteId === msg.payload.voiceCommands[0].siteId){\n        var alreadyExist = i;\n    }\n    \n}\n\n\nfor(var i=0; i<msgStat.intent.length; i++){\n    \n    if(msgStat.intent[i].intentName === msg.payload.intent[0].intentName && msgStat.intent[i].siteId === msg.payload.intent[0].siteId){\n        var alreadyExist1 = i;\n    }\n}\n\n\nif(alreadyExist != undefined){\n    msgStat.voiceCommands[alreadyExist].counter = msgStat.voiceCommands[alreadyExist].counter+1;\n}else{\n    msgStat.voiceCommands.push({\"value\": msg.payload.voiceCommands[0].value,\n                            \"siteId\": msg.payload.voiceCommands[0].siteId,\n                            \"executed\" : msg.payload.voiceCommands[0].executed,\n                            \"intentDetected\": msg.payload.voiceCommands[0].intentDetected,\n                            \"counter\": msg.payload.voiceCommands[0].counter\n    });\n}\n\nif(alreadyExist1 != undefined){\n    msgStat.intent[alreadyExist1].counter = msgStat.intent[alreadyExist1].counter+1;\n}else{\n    msgStat.intent.push({\"intentName\": msg.payload.intent[0].intentName,\n                        \"siteId\": msg.payload.intent[0].siteId,\n                        \"counter\": msg.payload.intent[0].counter\n    \n    });\n}\n\n\nif(msg.payload.unknownword !== undefined){\n    msgStat.unknownword = msgStat.unknownword+1;\n}\n\n\nmsg.payload = msgStat;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 315,
        "y": 500,
        "wires": [
            [
                "4f13d0d9.dcc7e"
            ]
        ],
        "l": false
    },
    {
        "id": "b068e697.f8f988",
        "type": "file",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Statistics",
        "filename": "statistics",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 320,
        "y": 125,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6e752b.ecd3ac",
        "type": "comment",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Inject manually to clean the current file",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "24d4b194.7fd4be",
        "type": "exec",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "command": "sudo sh -c 'echo \"/opt/node-red/statistics { \\n size 1M\\n dateext\\n missingok\\n rotate 7\\n compress\\n copytruncate\\n notifempty\\n}\" > /etc/logrotate.d/logrotate-statistics'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "logrotate",
        "x": 275,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "15b980d8.f137df",
        "type": "inject",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 195,
        "y": 240,
        "wires": [
            [
                "24d4b194.7fd4be"
            ]
        ],
        "l": false
    },
    {
        "id": "cc3e4bfa.da85b8",
        "type": "inject",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"voiceCommands\":[],\"intent\":[], \"unknownword\":0}",
        "payloadType": "json",
        "x": 195,
        "y": 125,
        "wires": [
            [
                "b068e697.f8f988"
            ]
        ],
        "l": false
    },
    {
        "id": "9bb58084.c8992",
        "type": "comment",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Inject to compress file in an interval time",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "a5f2af.5b7e6d5",
        "type": "http in",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "url": "/statistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 155,
        "y": 600,
        "wires": [
            [
                "93e79c12.5b5fc"
            ]
        ],
        "l": false
    },
    {
        "id": "93e79c12.5b5fc",
        "type": "file in",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 235,
        "y": 600,
        "wires": [
            [
                "44626bae.fc36b4"
            ]
        ],
        "l": false
    },
    {
        "id": "44626bae.fc36b4",
        "type": "http response",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 315,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "478f6520.ce632c",
        "type": "comment",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "Download the file here",
        "info": "Go to user interface to see/download statistics file\n\n -> http://localhost:1880/ui ",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "2f6e8c59.d797d4",
        "type": "ui_template",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "group": "45e48522.ebe65c",
        "name": "Statistics",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    table, td, th {\n  border: 1px solid black;\n}\n\ntable {\n  width: 100%;\n  border-collapse: collapse;\n}\n</style>\n\n<div ng-bind-html=\"msg.payload\"></div>\n\n\n<div >\n    <a href=\"/statistics\">Download statistics file</a>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 455,
        "y": 660,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "56b5f67d.51a0f8",
        "type": "file in",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 255,
        "y": 660,
        "wires": [
            [
                "625801af.4e3cb"
            ]
        ],
        "l": false
    },
    {
        "id": "e3b5e734.f98de8",
        "type": "inject",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 175,
        "y": 660,
        "wires": [
            [
                "56b5f67d.51a0f8"
            ]
        ],
        "l": false
    },
    {
        "id": "625801af.4e3cb",
        "type": "json",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 315,
        "y": 660,
        "wires": [
            [
                "ffb7d0fc.b5354"
            ]
        ],
        "l": false
    },
    {
        "id": "ffb7d0fc.b5354",
        "type": "template",
        "z": "428bb4c.878784c",
        "g": "78765283.491f0c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head></head>\n    <body>\n        <p><strong>Voice Commands</strong>\n        <table>\n        <tr><th>Value</th><th>Site Id</th><th>Executed</th><th>Intent detected</th><th>Counter</th></tr>\n            <tr>{{#payload.voiceCommands}}\n            <tr><td>{{value}}</td><td>{{siteId}}</td><td>{{executed}}</td><td>{{intentDetected}}</td><td>{{counter}}</td></tr>\n            {{/payload.voiceCommands}}\n        </tr>\n        </table>\n        </p>\n        <br>\n        <p><strong>Intent</strong>\n        <table>\n            <tr><th>Intent Name</th><th>Site Id</th><th>Counter</th></tr>\n            <tr>{{#payload.intent}}\n            <tr><td>{{intentName}}</td><td>{{siteId}}</td><td>{{counter}}</td></tr>\n            {{/payload.intent}}\n        </tr>\n        </table>\n        </p>\n        <br>\n        <p><strong>Unknownword</strong> : {{payload.unknownword}}</p>\n        <br>\n    </body>\n</html>\n",
        "output": "str",
        "x": 375,
        "y": 660,
        "wires": [
            [
                "2f6e8c59.d797d4"
            ]
        ],
        "l": false
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "45e48522.ebe65c",
        "type": "ui_group",
        "name": "Voice Usage Statistics",
        "tab": "69e14a9f.3b80c4",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "69e14a9f.3b80c4",
        "type": "ui_tab",
        "name": "STATISTICS",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
