voice-usage-statistics.json
[
    {
        "id": "7d21e1a5.ac89f",
        "type": "tab",
        "label": "VOICE USAGE STATISTICS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d8469b58.e8aaf8",
        "type": "group",
        "z": "7d21e1a5.ac89f",
        "name": "'LISTEN' AND SEE HOW IT WORKS",
        "style": {
            "label": true
        },
        "nodes": [
            "2c8a0b0a.e6f754",
            "9489dcc0.f5e41",
            "68ea7da2.6b0214",
            "8afe42ed.b03d",
            "84fc74ce.4b78d8",
            "5c28d8a4.f9aa68",
            "43898d37.7710b4",
            "f2fc9bda.c88678",
            "2fd44b3e.123654",
            "3701edd5.1ba562",
            "3f8d624f.72041e",
            "c8934b34.c3f7f8",
            "2803f491.73c88c",
            "66562b0e.2773a4",
            "334dd4fa.fd0acc",
            "2ea83af8.3936c6",
            "a3fd197c.8df5f8",
            "b989926a.00653",
            "7d5bbace.e11dd4",
            "e5d50242.28bc2",
            "a04d1c71.e783e",
            "11ee8aa9.db7e65",
            "fdcd8298.decba",
            "60c2f31a.62570c"
        ],
        "x": 114,
        "y": 39,
        "w": 382,
        "h": 662
    },
    {
        "id": "2c8a0b0a.e6f754",
        "type": "mqtt in",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "All intents",
        "topic": "hermes/intent/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "f96ab142.d8bab8",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "68ea7da2.6b0214"
            ]
        ]
    },
    {
        "id": "9489dcc0.f5e41",
        "type": "debug",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 435,
        "y": 500,
        "wires": [],
        "l": false
    },
    {
        "id": "68ea7da2.6b0214",
        "type": "json",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 315,
        "y": 400,
        "wires": [
            [
                "84fc74ce.4b78d8"
            ]
        ],
        "l": false
    },
    {
        "id": "8afe42ed.b03d",
        "type": "comment",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Listen to all mqtt msgs - WARNING!",
        "info": " * Activate this logging by connecting the nodes\n * Say the command that you wish to emulate.\n * IMPORTANT Disconnect when you're ready (or you disk might be full..)",
        "x": 280,
        "y": 340,
        "wires": []
    },
    {
        "id": "84fc74ce.4b78d8",
        "type": "function",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "func": "var msgStat = {\n        voiceCommands: [], intent: []\n};\n\nif(msg.payload.input === undefined){\n    return null;\n}\n\nvar executed = false;\n\nif(msg.payload.intent.confidenceScore > 0.6){\n    executed = true;\n}\n\nmsgStat.voiceCommands.push({\"value\": msg.payload.input,\n                            \"siteId\": msg.payload.siteId,\n                            \"intentDetected\": msg.payload.intent.intentName,\n                            \"executed\": executed,\n                            \"counter\": 1 \n});\n\nif(executed == true){\n    msgStat.intent.push({\"intentName\": msg.payload.intent.intentName,\n                         \"siteId\": msg.payload.siteId,\n                         \"counter\" : 1\n        \n    });\n}\n\n\nfor(var i=0; i<msg.payload.asrTokens[0].length; i++){\n   if(msg.payload.asrTokens[0][i].value === \"unknownword\"){\n       msgStat.unknownword = 1;\n   }\n}\n\n\nflow.set(\"msgStat\", msgStat);\n\nmsg.payload = msgStat;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 375,
        "y": 400,
        "wires": [
            [
                "43898d37.7710b4"
            ]
        ],
        "l": false
    },
    {
        "id": "5c28d8a4.f9aa68",
        "type": "file",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Statistics",
        "filename": "statistics",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 375,
        "y": 500,
        "wires": [
            [
                "9489dcc0.f5e41"
            ]
        ],
        "l": false
    },
    {
        "id": "43898d37.7710b4",
        "type": "file in",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Statistics",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 195,
        "y": 500,
        "wires": [
            [
                "f2fc9bda.c88678"
            ]
        ],
        "l": false
    },
    {
        "id": "f2fc9bda.c88678",
        "type": "json",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 255,
        "y": 500,
        "wires": [
            [
                "2fd44b3e.123654"
            ]
        ],
        "l": false
    },
    {
        "id": "2fd44b3e.123654",
        "type": "function",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "func": "if(msg.payload === undefined){\n    var msgStat = {\n        voiceCommands: [], intent: []\n};}\nelse{\n    var msgStat = msg.payload;\n}\n\nmsg.payload = flow.get(\"msgStat\");\n\n\nfor(var i=0; i<msgStat.voiceCommands.length; i++){\n    \n    if(msgStat.voiceCommands[i].value === msg.payload.voiceCommands[0].value && msgStat.voiceCommands[i].siteId === msg.payload.voiceCommands[0].siteId){\n        var alreadyExist = i;\n    }\n    \n}\n\nfor(var i=0; i<msgStat.intent.length; i++){\n    \n    if(msgStat.intent[i].intentName === msg.payload.intent[0].intentName && msgStat.intent[i].siteId === msg.payload.intent[0].siteId){\n        var alreadyExist1 = i;\n    }\n}\n\n\nif(alreadyExist != undefined){\n    msgStat.voiceCommands[alreadyExist].counter = msgStat.voiceCommands[alreadyExist].counter+1;\n}else{\n    msgStat.voiceCommands.push({\"value\": msg.payload.voiceCommands[0].value,\n                            \"siteId\": msg.payload.voiceCommands[0].siteId,\n                            \"executed\" : msg.payload.voiceCommands[0].executed,\n                            \"intentDetected\": msg.payload.voiceCommands[0].intentDetected,\n                            \"counter\": msg.payload.voiceCommands[0].counter\n    });\n}\n\nif(alreadyExist1 != undefined){\n    msgStat.intent[alreadyExist1].counter = msgStat.intent[alreadyExist1].counter+1;\n}else{\n    msgStat.intent.push({\"intentName\": msg.payload.intent[0].intentName,\n                        \"siteId\": msg.payload.intent[0].siteId,\n                        \"counter\": msg.payload.intent[0].counter\n    \n    });\n}\n\n\nif(msg.payload.unknownword !== undefined){\n    msgStat.unknownword = msgStat.unknownword+1;\n}\n\n\nmsg.payload = msgStat;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 315,
        "y": 500,
        "wires": [
            [
                "5c28d8a4.f9aa68"
            ]
        ],
        "l": false
    },
    {
        "id": "3701edd5.1ba562",
        "type": "file",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Statistics",
        "filename": "statistics",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 320,
        "y": 125,
        "wires": [
            []
        ]
    },
    {
        "id": "3f8d624f.72041e",
        "type": "comment",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Inject manually to clean the current file",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "c8934b34.c3f7f8",
        "type": "exec",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "command": "sudo sh -c 'echo \"/opt/node-red/statistics { \\n size 1M\\n dateext\\n missingok\\n rotate 7\\n compress\\n copytruncate\\n notifempty\\n}\" > /etc/logrotate.d/logrotate-statistics'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "logrotate",
        "x": 275,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ],
        "l": false
    },
    {
        "id": "2803f491.73c88c",
        "type": "inject",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 195,
        "y": 240,
        "wires": [
            [
                "c8934b34.c3f7f8"
            ]
        ],
        "l": false
    },
    {
        "id": "66562b0e.2773a4",
        "type": "inject",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"voiceCommands\":[],\"intent\":[], \"unknownword\":0}",
        "payloadType": "json",
        "x": 195,
        "y": 125,
        "wires": [
            [
                "3701edd5.1ba562"
            ]
        ],
        "l": false
    },
    {
        "id": "334dd4fa.fd0acc",
        "type": "comment",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Inject to compress file in an interval time",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "2ea83af8.3936c6",
        "type": "http in",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "url": "/statistics",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 155,
        "y": 600,
        "wires": [
            [
                "a3fd197c.8df5f8"
            ]
        ],
        "l": false
    },
    {
        "id": "a3fd197c.8df5f8",
        "type": "file in",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 235,
        "y": 600,
        "wires": [
            [
                "b989926a.00653"
            ]
        ],
        "l": false
    },
    {
        "id": "b989926a.00653",
        "type": "http response",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 315,
        "y": 600,
        "wires": [],
        "l": false
    },
    {
        "id": "7d5bbace.e11dd4",
        "type": "comment",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "Download the file here",
        "info": "Go to user interface to see/download statistics file\n\n -> http://localhost:1880/ui ",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5d50242.28bc2",
        "type": "ui_template",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "group": "5e3dd8e.8b0c828",
        "name": "Statistics",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    table, td, th {\n  border: 1px solid black;\n}\n\ntable {\n  width: 100%;\n  border-collapse: collapse;\n}\n</style>\n\n<div ng-bind-html=\"msg.payload\"></div>\n\n\n<div >\n    <a href=\"/statistics\">Download statistics file</a>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 455,
        "y": 660,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "a04d1c71.e783e",
        "type": "file in",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "filename": "statistics",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 255,
        "y": 660,
        "wires": [
            [
                "fdcd8298.decba"
            ]
        ],
        "l": false
    },
    {
        "id": "11ee8aa9.db7e65",
        "type": "inject",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 175,
        "y": 660,
        "wires": [
            [
                "a04d1c71.e783e"
            ]
        ],
        "l": false
    },
    {
        "id": "fdcd8298.decba",
        "type": "json",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 315,
        "y": 660,
        "wires": [
            [
                "60c2f31a.62570c"
            ]
        ],
        "l": false
    },
    {
        "id": "60c2f31a.62570c",
        "type": "template",
        "z": "7d21e1a5.ac89f",
        "g": "d8469b58.e8aaf8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n    <head></head>\n    <body>\n        <p><strong>Voice Commands</strong>\n        <table>\n        <tr><th>Value</th><th>Site Id</th><th>Executed</th><th>Intent detected</th><th>Counter</th></tr>\n            <tr>{{#payload.voiceCommands}}\n            <tr><td>{{value}}</td><td>{{siteId}}</td><td>{{executed}}</td><td>{{intentDetected}}</td><td>{{counter}}</td></tr>\n            {{/payload.voiceCommands}}\n        </tr>\n        </table>\n        </p>\n        <br>\n        <p><strong>Intent</strong>\n        <table>\n            <tr><th>Intent Name</th><th>Site Id</th><th>Counter</th></tr>\n            <tr>{{#payload.intent}}\n            <tr><td>{{intentName}}</td><td>{{siteId}}</td><td>{{counter}}</td></tr>\n            {{/payload.intent}}\n        </tr>\n        </table>\n        </p>\n        <br>\n        <p><strong>Unknownword</strong> : {{payload.unknownword}}</p>\n        <br>\n    </body>\n</html>\n",
        "output": "str",
        "x": 375,
        "y": 660,
        "wires": [
            [
                "e5d50242.28bc2"
            ]
        ],
        "l": false
    },
    {
        "id": "f96ab142.d8bab8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5e3dd8e.8b0c828",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "71c50412.9c43ac",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "71c50412.9c43ac",
        "type": "ui_tab",
        "name": "DATABASE",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
