window-is-open.json
[{"id":"2b0ab609.6bfcda","type":"tab","label":"Fenster","disabled":false,"info":""},{"id":"27ea0390.03418c","type":"switch","z":"2b0ab609.6bfcda","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":405.5,"y":220,"wires":[["de445132.a8d93"],["e7cd283c.de3f98"]]},{"id":"de445132.a8d93","type":"change","z":"2b0ab609.6bfcda","name":"Fenster wurde geöffnet","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenster wurde geöffnet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":631,"y":192,"wires":[["7049b494.11590c"]]},{"id":"e7cd283c.de3f98","type":"change","z":"2b0ab609.6bfcda","name":"Fenster wurde geschlossen","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fenster wurde geschlossen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":242,"wires":[["7049b494.11590c"]]},{"id":"7049b494.11590c","type":"link out","z":"2b0ab609.6bfcda","name":"","links":["f73f8e8c.61508"],"x":918.5,"y":241,"wires":[]},{"id":"c15a2aad.fca188","type":"inject","z":"2b0ab609.6bfcda","name":"Text zum Testen","props":[{"p":"payload","v":"Dies ist ein Text der gesprochen wird","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Dies ist ein Text der gesprochen wird","payloadType":"str","x":704,"y":290,"wires":[["7049b494.11590c"]]},{"id":"f73f8e8c.61508","type":"link in","z":"2b0ab609.6bfcda","name":"","links":["7049b494.11590c"],"x":151.49999237060547,"y":409.00000762939453,"wires":[["7cd03095.ee4f4","9d2c862d.e9cf28"]]},{"id":"7cd03095.ee4f4","type":"debug","z":"2b0ab609.6bfcda","name":"","active":true,"tosidebar":true,"console":false,"complete":"payload","x":288.00000762939453,"y":395.00000762939453,"wires":[]},{"id":"9d2c862d.e9cf28","type":"function","z":"2b0ab609.6bfcda","name":"...öffnen und unter siteId den Raumnamen des ARAGON angeben","func":"var txt = msg.payload.replace(/\\W/g, '');\nmsg.payload = {\n    text: txt,\n    siteId:\"wohnzimmer\",\n    lang:\"de-DE\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":453.33343505859375,"y":439.53369140625,"wires":[["b889bcb3.326be"]]},{"id":"b889bcb3.326be","type":"link out","z":"2b0ab609.6bfcda","name":"SPEAK PERSONAL MESSAGES","links":["e2a2ab5f.17fac"],"x":795,"y":440,"wires":[]},{"id":"2385400d.1d4b9","type":"comment","z":"2b0ab609.6bfcda","name":"link öffnen und den ersten SPEAKER HOOK IN auswählen","info":"","x":770,"y":480,"wires":[]},{"id":"5fe6078a.758768","type":"comment","z":"2b0ab609.6bfcda","name":"...hier die GA festlegen, auf die reagiert werden soll","info":"","x":245,"y":178,"wires":[]},{"id":"c425cf70.c947d","type":"comment","z":"2b0ab609.6bfcda","name":"Sprachausgabe","info":"","x":560,"y":80,"wires":[]},{"id":"2a0841d6.aefdfe","type":"knxUltimate","z":"2b0ab609.6bfcda","server":"96dd5813.64dc18","topic":"3/1/1","outputtopic":"","dpt":"1.002","initialread":0,"notifyreadrequest":false,"notifyresponse":false,"notifywrite":true,"notifyreadrequestalsorespondtobus":false,"notifyreadrequestalsorespondtobusdefaultvalueifnotinitialized":"0","listenallga":false,"name":"Fensterkontakt","outputtype":"write","outputRBE":true,"inputRBE":false,"formatmultiplyvalue":1,"formatnegativevalue":"leave","formatdecimalsvalue":999,"x":227,"y":220,"wires":[["27ea0390.03418c"]]},{"id":"96dd5813.64dc18","type":"knxUltimate-config","host":"192.168.1.240","port":"3671","physAddr":"15.15.22","suppressACKRequest":true,"csv":"","KNXEthInterface":"Auto","KNXEthInterfaceManuallyInput":"","statusDisplayLastUpdate":true,"statusDisplayDeviceNameWhenALL":true,"statusDisplayDataPoint":false,"stopETSImportIfNoDatapoint":"stop","loglevel":"error"}]